Archer-Upload-OLD.json.json
{
  "updatedAt": "2025-12-24T04:09:56.000Z",
  "createdAt": "2025-12-10T03:45:42.146Z",
  "id": "oXEpDSIgLWrSyzUA",
  "name": "Archer-Upload-OLD",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "run_date",
              "type": "number"
            },
            {
              "name": "path"
            },
            {
              "name": "read_limit",
              "type": "number"
            },
            {
              "name": "conversion_ref",
              "type": "number"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -240,
        0
      ],
      "id": "4af6d309-5871-4523-b9c3-8d14b917d240",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "command": "=docker run --rm \\\n    -v \"{{ $('When Executed by Another Workflow').item.json.path }}\":/data \\\n    -v \"{{ $('When Executed by Another Workflow').item.json.path }}/Reports\":/reports \\\n    yserdem/archerdx-uploader:latest \\\n    /data \\\n    /reports/SampleSheet.csv \\\n    --include-demux /reports/Demultiplex_Stats.csv \\\n    --limit-reads 0 \\\n    --dry-run "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        288,
        144
      ],
      "id": "a38c7fac-1540-428e-8f90-7d56a3a3def8",
      "name": "run docker with --dry-run"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "read_ref": 0,
            "recipe_ref": 0,
            "status_concept_ref": 0,
            "operator_ref": 0
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1936,
        144
      ],
      "id": "7d06b726-4855-4973-9ecf-3b3f5262be43",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "samples, samples",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        448,
        -224
      ],
      "id": "63b6d305-f8c4-4641-8368-d02f298eb90f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        688,
        -224
      ],
      "id": "949ddf35-21c6-416f-9376-14392d8201f4",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        2512,
        -224
      ],
      "id": "ad016126-9306-4275-99d1-625127943ddb",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b7473328-7e15-46e3-af3c-99b9bcc8e381",
              "leftValue": "={{ $json.uniqueref }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        -208
      ],
      "id": "b85b8a6d-1cd4-4c15-a8d9-4a19229104bd",
      "name": "If"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversion_ref": "={{ $('When Executed by Another Workflow').item.json.conversion_ref }}",
            "sample_id": "={{ $('Loop Over Items').item.json.samples.sampleId }}",
            "lane": "={{ $('Loop Over Items').item.json.samples.lane }}",
            "reads_target": "={{ $('Loop Over Items').item.json.samples.seReads }}",
            "kit_ref": "={{ $json.kits_ref }}",
            "requesting_caresite_ref": "={{ $('get requesting instution ref').item.json.care_site_ref }}",
            "performing_caresite_ref": "={{ $('get prepared instution ref').item.json.care_site_ref }}",
            "sample_project": "={{ $('Loop Over Items').item.json.samples.project }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_ref",
              "displayName": "conversion_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "sample_id",
              "displayName": "sample_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "index_ref",
              "displayName": "index_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lane",
              "displayName": "lane",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reads_target",
              "displayName": "reads_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "bdsnumber",
              "displayName": "bdsnumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kit_ref",
              "displayName": "kit_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "requesting_caresite_ref",
              "displayName": "requesting_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "performing_caresite_ref",
              "displayName": "performing_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "reads",
              "displayName": "reads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sample_project",
              "displayName": "sample_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2368,
        -224
      ],
      "id": "d854cb7e-dfe4-48a9-8b3c-e60af4172b64",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "command": "=cat \"{{ $json.path }}Reports/SampleSheet.csv\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -48,
        -224
      ],
      "id": "43286e89-4602-4ee0-aedf-d33984f93698",
      "name": "read samplesheet"
    },
    {
      "parameters": {
        "jsCode": "// Parse SampleSheet CSV content (BCL-Convert v2 format)\nconst csvContent = $input.first().json.stdout;\nconst lines = csvContent.split('\\n');\n\n// Find the data section - support both v1 ([Data]) and v2 ([BCLConvert_Data])\nlet dataStartIndex = -1;\nlet dataSection = null;\nfor (let i = 0; i < lines.length; i++) {\n  const trimmed = lines[i].trim();\n  if (trimmed === '[BCLConvert_Data]') {\n    dataStartIndex = i + 1;\n    dataSection = 'v2';\n    break;\n  } else if (trimmed === '[Data]') {\n    dataStartIndex = i + 1;\n    dataSection = 'v1';\n    break;\n  }\n}\n\nif (dataStartIndex === -1) {\n  return [{\n    json: {\n      ...($input.first().json),\n      validationError: 'No [BCLConvert_Data] or [Data] section found in SampleSheet',\n      isValid: false\n    }\n  }];\n}\n\n// Parse header line\nconst headerLine = lines[dataStartIndex];\nif (!headerLine || headerLine.trim() === '') {\n  return [{\n    json: {\n      ...($input.first().json),\n      validationError: 'No header line after data section',\n      isValid: false\n    }\n  }];\n}\n\nconst headers = headerLine.split(',').map(h => h.trim());\n\n// Find all column indices\nconst getIdx = (name) => headers.indexOf(name);\n\nconst sampleIdIdx = getIdx('Sample_ID');\nlet indexIdx = getIdx('Index');\nlet index2Idx = getIdx('Index2');\nif (indexIdx === -1) indexIdx = getIdx('index');\nif (index2Idx === -1) index2Idx = getIdx('index2');\n\nconst i7IndexIdIdx = getIdx('I7_Index_ID');\nconst i5IndexIdIdx = getIdx('I5_Index_ID');\nconst projectIdx = getIdx('Sample_Project');\nconst preparedByIdx = getIdx('Prepared_By');\nconst requestedByIdx = getIdx('Requested_By');\nconst protocolIdx = getIdx('Protocol');\nconst libraryPrepKitIdx = getIdx('Library_Prep_Kit');\nconst seReadsIdx = getIdx('SE_Reads');\nconst targetMailIdx = getIdx('Target_Mail');\nconst noteIdx = getIdx('Note');\nconst laneIdx = getIdx('Lane');\n\nif (sampleIdIdx === -1 || indexIdx === -1) {\n  return [{\n    json: {\n      ...($input.first().json),\n      validationError: 'Missing required columns (Sample_ID or Index/index)',\n      isValid: false\n    }\n  }];\n}\n\n// Helper to safely get field value\nconst getField = (fields, idx, defaultVal = '') => {\n  return idx !== -1 && fields[idx] !== undefined ? fields[idx] : defaultVal;\n};\n\n// Parse data rows\nconst samples = [];\nfor (let i = dataStartIndex + 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (line === '' || line.startsWith('[')) continue;\n  \n  const fields = line.split(',').map(f => f.trim());\n  if (fields.length < 2) continue;\n  \n  samples.push({\n    sampleId: getField(fields, sampleIdIdx),\n    i7IndexId: getField(fields, i7IndexIdIdx),\n    index: getField(fields, indexIdx),\n    i5IndexId: getField(fields, i5IndexIdIdx),\n    index2: getField(fields, index2Idx),\n    project: getField(fields, projectIdx),\n    preparedBy: getField(fields, preparedByIdx),\n    requestedBy: getField(fields, requestedByIdx),\n    protocol: getField(fields, protocolIdx),\n    libraryPrepKit: getField(fields, libraryPrepKitIdx),\n    seReads: getField(fields, seReadsIdx),\n    targetMail: getField(fields, targetMailIdx),\n    note: getField(fields, noteIdx),\n    lane: getField(fields, laneIdx, '1'),\n    lineNumber: i + 1\n  });\n}\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    samples: samples,\n    sampleCount: samples.length,\n    headers: headers,\n    format: dataSection\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -224
      ],
      "id": "2dd1680b-edb7-415c-8987-0698ac01b483",
      "name": "parse samplesheet"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "indices",
          "mode": "list",
          "cachedResultName": "indices"
        },
        "where": {
          "values": [
            {
              "column": "i7_sequence",
              "value": "={{ $('Loop Over Items').item.json.samples.index }}"
            },
            {
              "column": "i5_sequence",
              "value": "={{ $('Loop Over Items').item.json.samples.index2 }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1552,
        -224
      ],
      "id": "c80ab38c-5747-4d63-8d4d-b385b8bc8169",
      "name": "get index ref",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "care_site_mapping",
          "mode": "list",
          "cachedResultName": "care_site_mapping"
        },
        "where": {
          "values": [
            {
              "column": "care_site_source_value",
              "value": "={{ $('Loop Over Items').item.json.samples.preparedBy }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        -224
      ],
      "id": "4b89847b-aa28-4794-92fa-3227173ae9cf",
      "name": "get prepared instution ref",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "care_site_mapping",
          "mode": "list",
          "cachedResultName": "care_site_mapping"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "care_site_source_value",
              "value": "={{ $('Loop Over Items').item.json.samples.requestedBy }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1952,
        -224
      ],
      "id": "589f3daa-02a6-4c49-a3a9-fec224199eee",
      "name": "get requesting instution ref",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kits_mapping",
          "mode": "list",
          "cachedResultName": "kits_mapping"
        },
        "where": {
          "values": [
            {
              "column": "source_value",
              "value": "={{ $('Loop Over Items').item.json.samples.libraryPrepKit }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2160,
        -224
      ],
      "id": "eb2c5025-7c6f-4209-930a-61872af0c719",
      "name": "get kit ref",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "where": {
          "values": [
            {
              "column": "sample_id",
              "value": "={{ $json.samples.sampleId }}"
            },
            {
              "column": "conversion_ref",
              "value": "={{ $('When Executed by Another Workflow').item.json.conversion_ref }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        960,
        -208
      ],
      "id": "ac2a43ae-a160-4fd7-a48f-b5210060c435",
      "name": "get read",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Insert all reads from conversion to database",
        "height": 336,
        "width": 2816
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -96,
        -304
      ],
      "typeVersion": 1,
      "id": "e54092e3-d3c8-426b-b6f6-ac0e870d3901",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me1",
      "typeVersion": 1,
      "position": [
        1376,
        -160
      ],
      "id": "ffbf6100-e2e3-49a6-8a54-cf13ffc34371",
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const text = $input.first().json.stdout; // adjust based on your input field\n\nconst batches = [];\nconst batchBlocks = text.split(/Batch \\d+:/g).slice(1); // split by \"Batch N:\" and remove empty first element\n\nbatchBlocks.forEach((block, index) => {\n  const lines = block.trim().split('\\n');\n  const batch = {\n    batchNumber: index + 1\n  };\n  \n  lines.forEach(line => {\n    const trimmed = line.trim();\n    if (trimmed.startsWith('Protocol:')) {\n      batch.protocol = trimmed.replace('Protocol:', '').trim();\n    } else if (trimmed.startsWith('Target Mail:')) {\n      batch.targetMail = trimmed.replace('Target Mail:', '').trim();\n    } else if (trimmed.startsWith('Run Date:')) {\n      batch.runDate = trimmed.replace('Run Date:', '').trim();\n    } else if (trimmed.startsWith('Job Name:')) {\n      batch.jobName = trimmed.replace('Job Name:', '').trim();\n    } else if (trimmed.startsWith('Samples:')) {\n      const match = trimmed.match(/Samples: (\\d+) \\(([^)]+)\\)/);\n      if (match) {\n        batch.sampleCount = parseInt(match[1]);\n        batch.samples = match[2].split(', ');\n      }\n    } else if (trimmed.startsWith('Files:')) {\n      batch.fileCount = parseInt(trimmed.replace('Files:', '').trim());\n    } else if (trimmed.startsWith('Sizes:')) {\n      const match = trimmed.match(/Sizes: \\d+ \\(([^)]+)\\)/);\n      if (match) {\n        batch.sizes = match[1].split(', ');\n      }\n    } else if (trimmed.startsWith('Reads:')) {\n      const match = trimmed.match(/Reads: \\d+ \\(([^)]+)\\)/);\n      if (match) {\n        batch.reads = match[1].split(', ');\n      }\n    } else if (trimmed.startsWith('Samples for submission:')) {\n      batch.samplesForSubmission = parseInt(trimmed.replace('Samples for submission:', '').trim());\n    }\n  });\n  \n  batches.push({ json: batch });\n});\n\nreturn batches;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        144
      ],
      "id": "e0b13251-bc59-4cdd-8723-fd516eed2226",
      "name": "parse output"
    },
    {
      "parameters": {
        "fieldToSplitOut": "samples",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1712,
        144
      ],
      "id": "fd0cc968-035d-479c-8ab4-a27616797362",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        144
      ],
      "id": "a501a996-5352-4583-aaf7-da9bfc24cf79",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "responseType": "customForm",
        "formFields": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1424,
        144
      ],
      "id": "0b8eea6f-b51f-4067-b749-2cb66dcb5e9c",
      "name": "Wait approval",
      "webhookId": "bbfbc5be-3ccb-4900-90da-d6a5416de2be",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "H8UQaAqG4uOkMeE6",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "content": "Run-date otomatik gelmiyor",
        "height": 288,
        "width": 368,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        176,
        64
      ],
      "typeVersion": 1,
      "id": "9404a4b4-153b-4519-aee9-19f9873bc8b3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "samples",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        832,
        144
      ],
      "id": "2b9a08d4-39d6-421b-ad69-75a665d6eeac",
      "name": "Split Out2"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "read samplesheet",
            "type": "main",
            "index": 0
          },
          {
            "node": "run docker with --dry-run",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "run docker with --dry-run": {
      "main": [
        [
          {
            "node": "parse output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "get read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "get index ref",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read samplesheet": {
      "main": [
        [
          {
            "node": "parse samplesheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse samplesheet": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get index ref": {
      "main": [
        [
          {
            "node": "get prepared instution ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get prepared instution ref": {
      "main": [
        [
          {
            "node": "get requesting instution ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get requesting instution ref": {
      "main": [
        [
          {
            "node": "get kit ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get kit ref": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get read": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse output": {
      "main": [
        [
          {
            "node": "Split Out2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Wait approval",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait approval": {
      "main": [
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out2": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "run_date": "251126",
          "path": "/mnt/smb_share/File Exchange/sinan/fastq_folder/251126_NDX550412_RUO_0085_AHW2TGBGYX-Fastq/",
          "read_limit": 1000000,
          "conversion_ref": 218
        }
      }
    ]
  },
  "versionId": "8d557a7c-588e-49c5-b11e-752de6f02113",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-10T03:45:42.154Z",
      "createdAt": "2025-12-10T03:45:42.154Z",
      "role": "workflow:owner",
      "workflowId": "oXEpDSIgLWrSyzUA",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}