archer metric retrieval.json
{
  "updatedAt": "2025-12-10T05:47:24.000Z",
  "createdAt": "2025-11-19T03:53:23.950Z",
  "id": "Oed2kXGOn8fc2vOD",
  "name": "archer metric retrieval",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -64,
        848
      ],
      "id": "146207ee-3402-49f8-ad6a-a5cdbaf70daa",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6db81859-12b8-4a90-8727-a1305117c23c",
              "name": "counter",
              "value": 0,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        848
      ],
      "id": "8286cb03-8855-4264-ab46-9f5a2eeb4a87",
      "name": "counter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        848
      ],
      "id": "71120b99-b637-403b-a427-2d25c98eb8ef",
      "name": "Loop Over Items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        6912,
        -528
      ],
      "id": "b0607577-32d4-461d-8b50-498e45145b52"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "batch_source_value",
              "value": "={{ $json.results.job_id.toString()}}"
            },
            {
              "column": "recipe_ref",
              "value": "7"
            }
          ]
        },
        "options": {
          "queryBatching": "independently",
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2016,
        320
      ],
      "id": "1a204a6f-e133-4ebd-a89d-4c88867b56f3",
      "name": "Select rows from a table",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1120,
        864
      ],
      "id": "cee627a7-ae80-4c78-96f0-8b1aece9698c",
      "name": "Split Out1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f749f142-cc46-4ef6-9a2a-ec0bbf0b7e44",
              "leftValue": "={{ $json.results.job_status_name }}",
              "rightValue": "COMPLETED",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1344,
        864
      ],
      "id": "9a3b23d3-0bbf-48f7-ad28-ea96db60ae0c",
      "name": "If completed"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1632,
        848
      ],
      "id": "8b562551-a225-4cbf-b8d3-7acaa86b1db0",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e81ccde-d48f-4285-ae54-472ae5d59d41",
              "leftValue": "={{ $json.uniqueref }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2240,
        320
      ],
      "id": "a2c8afd7-6382-429f-a0dd-b2301953ce52",
      "name": "If not already processed"
    },
    {
      "parameters": {
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1792,
        560
      ],
      "id": "6a9958c4-0a3a-4d3b-9b9b-81f02d2f79a5",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "=https://genera.analysis.archerdx.com/api/jobs/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        848
      ],
      "id": "7ed06f33-b329-4fd9-8117-0091f43fb204",
      "name": "get jobs 1st page",
      "executeOnce": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "hQRwmI2yNN5ycsqY",
          "name": "archer auth"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://genera.analysis.archerdx.com/api/jobs/{{ $('Edit Fields').item.json.results.job_id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2464,
        304
      ],
      "id": "d035af7b-ae07-42ef-8406-e29967213663",
      "name": "get job with id",
      "executeOnce": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "hQRwmI2yNN5ycsqY",
          "name": "archer auth"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.samples",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2688,
        320
      ],
      "id": "3baf4b47-2348-412d-8c02-30a959b03cf7",
      "name": "Split Out"
    },
    {
      "parameters": {
        "url": "={{ $json.detail_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 3000
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2912,
        320
      ],
      "id": "bc3145d4-d804-4f1b-88d1-c035a0739df0",
      "name": "get read",
      "executeOnce": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "hQRwmI2yNN5ycsqY",
          "name": "archer auth"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $json.data.results.read_stats_url }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 10,
              "batchInterval": 3000
            }
          },
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4032,
        272
      ],
      "id": "d605cae9-4c47-472a-b422-9a0f4a53edd2",
      "name": "get read stats",
      "executeOnce": false,
      "credentials": {
        "httpBasicAuth": {
          "id": "hQRwmI2yNN5ycsqY",
          "name": "archer auth"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "41dec837-95ae-43c6-9f7c-be64491f2866",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            },
            {
              "id": "b3c2a7fe-fe8d-4c38-9728-5df8ba36930f",
              "name": "data.results.qc.details",
              "value": "={{ $('get read').item.json.data.results }}",
              "type": "object"
            },
            {
              "id": "892d55bf-358b-4527-8963-17058030c084",
              "name": "data.id",
              "value": "={{ $('get read').item.json.data.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        -80
      ],
      "id": "00bd2aa2-f54b-445b-ac08-e6884ec26853",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recipe_ref": 7,
            "status_concept_ref": 29,
            "performed_at": "={{ $('get job with id').item.json.data.complete_time }}",
            "batch_source_value": "={{ $('get job with id').item.json.data.job_id }}",
            "analysis_source_value": "={{ $('get read').item.json.data.id }}",
            "read_ref": "={{ $json.uniqueref }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "uniqueref",
            "batch_source_value",
            "analysis_source_value",
            "read_ref"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5376,
        -48
      ],
      "id": "ed75d938-8dfc-480d-a93c-a1d6287c69a7",
      "name": "Insert data operation",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const outputItems = [];\n\n// Helper function to convert string to snake_case\nfunction toSnakeCase(str) {\n  if (!str) return '';\n  return str\n    .replace(/[\\s\\-]+/g, '_')\n    .replace(/([a-z])([A-Z])/g, '$1_$2')\n    .toLowerCase()\n    .replace(/_+/g, '_');\n}\n\nfunction processData(obj, prefix = '', dataOperationsRef) {\n  const items = [];\n  \n  for (const key in obj) {\n    if (!obj.hasOwnProperty(key)) continue;\n    \n    const currentPath = prefix ? `${prefix}.${key}` : key;\n    const value = obj[key];\n    \n    if (value === null || value === undefined) {\n      items.push({\n        json: {\n          measurement_concept_ref: currentPath,\n          value_as_number: null,\n          value_as_string: null,\n          data_operations_ref: dataOperationsRef\n        }\n      });\n    } else if (Array.isArray(value)) {\n      value.forEach((item) => {\n        if (typeof item === 'object' && item !== null) {\n          let identifier = item.read_type || item.frag_type || item.name || item.chain_id || item.display_name;\n          const snakeIdentifier = toSnakeCase(identifier);\n          \n          for (const prop in item) {\n            if (item.hasOwnProperty(prop)) {\n              const propValue = item[prop];\n              \n              if (prop === 'read_type' || prop === 'frag_type' || prop === 'name' || prop === 'display_name' || prop === 'chain_id') {\n                continue;\n              }\n              \n              const measurementRef = snakeIdentifier \n                ? `${snakeIdentifier}.${prop}`\n                : `${currentPath}.${prop}`;\n              \n              if (propValue !== null && typeof propValue === 'object' && !Array.isArray(propValue)) {\n                items.push(...processData(propValue, measurementRef, dataOperationsRef));\n              } else if (Array.isArray(propValue)) {\n                items.push(...processData({ [prop]: propValue }, snakeIdentifier || currentPath, dataOperationsRef));\n              } else {\n                items.push({\n                  json: {\n                    measurement_concept_ref: measurementRef,\n                    value_as_number: typeof propValue === 'number' ? propValue : null,\n                    value_as_string: propValue !== null ? String(propValue) : null,\n                    data_operations_ref: dataOperationsRef\n                  }\n                });\n              }\n            }\n          }\n        } else {\n          items.push({\n            json: {\n              measurement_concept_ref: currentPath,\n              value_as_number: typeof item === 'number' ? item : null,\n              value_as_string: String(item),\n              data_operations_ref: dataOperationsRef\n            }\n          });\n        }\n      });\n    } else if (typeof value === 'object') {\n      items.push(...processData(value, currentPath, dataOperationsRef));\n    } else if (typeof value === 'boolean') {\n      items.push({\n        json: {\n          measurement_concept_ref: currentPath,\n          value_as_number: null,\n          value_as_string: String(value),\n          data_operations_ref: dataOperationsRef\n        }\n      });\n    } else {\n      items.push({\n        json: {\n          measurement_concept_ref: currentPath,\n          value_as_number: typeof value === 'number' ? value : null,\n          value_as_string: String(value),\n          data_operations_ref: dataOperationsRef\n        }\n      });\n    }\n  }\n  \n  return items;\n}\n\n// Process all input items\nfor (const item of $input.all()) {\n  const dataOperationsRef = item.json.uniqueref;\n  const dataToProcess = item.json.data || item.json;\n  \n  // Skip fields that shouldn't be processed\n  const dataWithoutMeta = {};\n  for (const key in dataToProcess) {\n    if (key !== 'uniqueref' && key !== 'batch_source_value' && key !== 'analysis_source_value' && key !== 'read_ref') {\n      dataWithoutMeta[key] = dataToProcess[key];\n    }\n  }\n  \n  const processedItems = processData(dataWithoutMeta, '', dataOperationsRef);\n  outputItems.push(...processedItems);\n}\n\nreturn outputItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        5824,
        -128
      ],
      "id": "71d122e5-cbd5-4e50-929a-acc76f281f2c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ae4a2f7-dcd2-4fdb-9cc5-b63315c5bb98",
              "leftValue": "={{ $json.value_as_number }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        6048,
        -128
      ],
      "id": "e5e00fa7-a130-41a2-a784-6e571145a9c9",
      "name": "Filter"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        5600,
        -128
      ],
      "id": "4f4ca883-5685-49fa-ac26-d9b7e2c7d3a3",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "87051387-a7f9-445b-9bbc-7874828a96db",
              "name": "results",
              "value": "={{ $json.results }}",
              "type": "array"
            },
            {
              "id": "2c7a5667-46a4-4a35-a6ce-f29228f9b0ea",
              "name": "counter",
              "value": "={{ $('counter').item.json.counter }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        608,
        848
      ],
      "id": "959bd6b9-04cf-4c11-aa68-5b205e3452f8",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e81ccde-d48f-4285-ae54-472ae5d59d41",
              "leftValue": "={{ $json.uniqueref }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4704,
        96
      ],
      "id": "ea5413b7-a341-4d34-88c5-762170308806",
      "name": "If not already processed1"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "concepts",
          "mode": "list",
          "cachedResultName": "concepts"
        },
        "limit": null,
        "where": {
          "values": [
            {
              "column": "concept_class_id",
              "value": "Analysis Metric - Archer DX"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6256,
        -272
      ],
      "id": "0853fc46-8471-47db-8994-ba4043a4e9a6",
      "name": "Select rows from a table1",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "concept_name",
              "field2": "measurement_concept_ref"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6496,
        -144
      ],
      "id": "853eb88c-2974-42b7-a530-a38563e2bcc3",
      "name": "Merge3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "cc3fad7f-ba22-4687-9fdf-40d79f24e385",
              "leftValue": "={{ $json.counter }}",
              "rightValue": 25,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4256,
        656
      ],
      "id": "70700b2d-0535-457b-938e-fe14bdb86c1b",
      "name": "If"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6e81ccde-d48f-4285-ae54-472ae5d59d41",
              "leftValue": "={{ $json.uniqueref }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3584,
        512
      ],
      "id": "e87a9c36-36e1-4b54-ace7-8fc1383d10ab",
      "name": "If read not already processed"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3808,
        272
      ],
      "id": "bae3737c-5837-4266-bcb3-b78e8cc877ea",
      "name": "Merge2"
    },
    {
      "parameters": {
        "mode": "chooseBranch"
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4928,
        -48
      ],
      "id": "e99fefc6-f626-4e6f-a536-2f4fa7f60d62",
      "name": "Merge4"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sample_id": "={{ $('get read').item.json.data.name.split(\"_\").first() }}",
            "lane": "={{ $('get read').item.json.data.name.split(\"_\").last().slice(-1) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_ref",
              "displayName": "conversion_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sample_id",
              "displayName": "sample_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "index_ref",
              "displayName": "index_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "lane",
              "displayName": "lane",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reads_target",
              "displayName": "reads_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "bdsnumber",
              "displayName": "bdsnumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "kit_ref",
              "displayName": "kit_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requesting_caresite_ref",
              "displayName": "requesting_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "performing_caresite_ref",
              "displayName": "performing_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reads",
              "displayName": "reads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "sample_project",
              "displayName": "sample_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "uniqueref",
            "sample_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5152,
        -48
      ],
      "id": "29ac3888-4b29-4b9f-baeb-75d58bc58a57",
      "name": "Insert rows in reads table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "where": {
          "values": [
            {
              "column": "sample_id",
              "value": "={{ $json.data.name.split(\"_\").first() }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3136,
        512
      ],
      "id": "28ba70da-8f0f-403a-99dd-17ac7845272d",
      "name": "get read ref",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3808,
        656
      ],
      "id": "f9f99391-270c-4173-9300-3892b480f069",
      "name": "Merge5"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a9a94aa9-7506-49ba-a98e-ec575299717f",
              "name": "counter",
              "value": "={{ $json.counter + 1}}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4032,
        656
      ],
      "id": "58c3f59e-92bc-4acc-bda4-f1d6669f4882",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "where": {
          "values": [
            {
              "column": "sample_id",
              "value": "={{ $('get read').item.json.data.name.split(\"_\").first() }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4480,
        96
      ],
      "id": "1a7df39e-910e-4080-abd5-f158d5061c51",
      "name": "Get read",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "where": {
          "values": [
            {
              "column": "read_ref",
              "value": "={{ $json.uniqueref }}"
            },
            {
              "column": "recipe_ref",
              "value": "7"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3360,
        512
      ],
      "id": "93fdc8c7-e9fc-48a8-88c5-a959b879fe04",
      "name": "get op with read & recipe",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "where": {
          "values": [
            {
              "column": "sample_id",
              "value": "={{ $json.data.name.split(\"_\").first() }}"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4256,
        272
      ],
      "id": "7a24d287-bf42-4a01-bcad-81c358d54ce6",
      "name": "get read ref1",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "sample_id",
              "field2": "data.name"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4480,
        320
      ],
      "id": "993b631e-3797-432d-9927-f953ffc0a1cd",
      "name": "Merge1"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "read_ref": "={{ $json.uniqueref }}",
            "recipe_ref": 7,
            "status_concept_ref": 27,
            "batch_source_value": "={{ $json.data.job_id }}",
            "error_text": "={{ $json.error }}",
            "analysis_source_value": "={{ $json.data.id }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4704,
        560
      ],
      "id": "d2af8d0a-1dba-46f9-9f96-c090e0edfa26",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7605218a-1e42-426a-9ff3-859c524175e3",
              "name": "data.id",
              "value": "={{ $json.data.id }}",
              "type": "number"
            },
            {
              "id": "bfce0f15-ef66-4843-9366-370de32f0b4f",
              "name": "data.job_id",
              "value": "={{ $json.data.job_id }}",
              "type": "number"
            },
            {
              "id": "b5e3b945-7243-4854-b661-8af69bd5a143",
              "name": "data.name",
              "value": "={{ $json.data.name.split(\"_\").first() }}",
              "type": "string"
            },
            {
              "id": "cb4f5ebb-3aad-4195-a830-3c7a4de4630a",
              "name": "data.processed_with_errors",
              "value": "={{ $json.data.processed_with_errors }}",
              "type": "boolean"
            },
            {
              "id": "4dfe4bfa-179d-4680-b03b-c017c718d673",
              "name": "error",
              "value": "={{ $json.error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4256,
        464
      ],
      "id": "ecc2e743-4f9f-4c78-a1e0-5ac9c8573c0e",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "measurement_reads",
          "mode": "list",
          "cachedResultName": "measurement_reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "measurement_concept_ref": "={{ $json.uniqueref }}",
            "value_as_number": "={{ $json.value_as_number }}",
            "data_operations_ref": "={{ $json.data_operations_ref }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "measurement_concept_ref",
              "displayName": "measurement_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "value_as_number",
              "displayName": "value_as_number",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_operations_ref",
              "displayName": "data_operations_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        6736,
        -144
      ],
      "id": "bdeb3893-1551-45bc-b7e8-ae41b893004e",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "concept_name",
              "field2": "measurement_concept_ref"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "outputDataFrom": "input2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        6496,
        48
      ],
      "id": "010de3f2-dc6f-4394-a3e9-fdee678a9eb2",
      "name": "Merge6"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=echo -e \"{{ $json.measurement_concept_ref }}\\t{{ $json.value_as_number }}\\t{{ $json.value_as_string }}\\t{{ $json.data_operations_ref }}\" >> /home/genera/ArcherUncollectedConcepts.tsv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        6704,
        48
      ],
      "id": "b0005fca-8434-4f9e-96dd-b31369596738",
      "name": "Execute Command"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "counter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "counter": {
      "main": [
        [
          {
            "node": "get jobs 1st page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Split Out1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace Me": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "If not already processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out1": {
      "main": [
        [
          {
            "node": "If completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If completed": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not already processed": {
      "main": [
        [
          {
            "node": "get job with id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge5",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "get jobs 1st page": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get job with id": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "get read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get read": {
      "main": [
        [
          {
            "node": "get read ref",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get read stats": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get read ref1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get read",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert data operation": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Select rows from a table1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge3",
            "type": "main",
            "index": 1
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If not already processed1": {
      "main": [
        [
          {
            "node": "Merge4",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Insert data operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table1": {
      "main": [
        [
          {
            "node": "Merge3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If read not already processed": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Merge5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "get read stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge4": {
      "main": [
        [
          {
            "node": "Insert rows in reads table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in reads table": {
      "main": [
        [
          {
            "node": "Insert data operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get read ref": {
      "main": [
        [
          {
            "node": "get op with read & recipe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge5": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get read": {
      "main": [
        [
          {
            "node": "If not already processed1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get op with read & recipe": {
      "main": [
        [
          {
            "node": "If read not already processed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get read ref1": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge3": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge6": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "541d5cea-8679-4130-9d10-123e851579af",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-19T03:53:23.956Z",
      "createdAt": "2025-11-19T03:53:23.956Z",
      "role": "workflow:owner",
      "workflowId": "Oed2kXGOn8fc2vOD",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}