BCL-convert subflow.json
{
  "updatedAt": "2025-12-26T00:59:37.000Z",
  "createdAt": "2025-08-13T07:05:22.977Z",
  "id": "O8YHNZzNyW1ZWOlt",
  "name": "BCL-convert subflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Prepare BCL-Convert command and paths with dynamic lane splitting based on WorkflowType\n\n// The path and run_id come from the workflow trigger (earlier in the chain)\n// The RunParameters come from the XML parsing (current input)\nconst runFolder = $('When Executed by Another Workflow').first().json.path;\nconst runId = $('When Executed by Another Workflow').first().json.run_id;\nconst timestamp = new Date().toISOString().replace(/[:.]/g, '-');\n\n// The XML data is in the current input\nconst xmlData = $input.first().json;\nconst workflowType = $('When Executed by Another Workflow').first().json.is_xp === true ? \"XP\" : \"Standart\" || ''\nconst workflowTypeIsXp = $('When Executed by Another Workflow').first().json.is_xp || '';\n\n// If WorkflowType contains \"XP\", set --no-lane-splitting to false (enable lane splitting)\n// Otherwise, keep it true (disable lane splitting - original behavior)\n\n// Define paths\nconst outputBase = '/staging/tmp'; \nconst outputDir = `${outputBase}/${runId}-Fastq`;\nconst logFile = `bcl_convert_${timestamp}.log`;\nconst logPath = `${outputDir}/${logFile}`;\nconst full_run_path = `/staging/tmp/${$('When Executed by Another Workflow').first().json.run_id}`\n\n// Build the bcl-convert command\nconst bclConvertCmd = `\n#!/bin/bash\n# BCL-Convert execution for run: ${runId}\n# WorkflowTypeIsXp: ${workflowTypeIsXp}\n\n# Create output directory\nmkdir -p \"${outputDir}\"\n\n# Set variables\nfull_run_path=\"/staging/tmp/$input.first().json.RunParameters.RunID\"\nfull_output_path=\"${outputDir}\"\nlogFile=\"${logPath}\"\n\n{\n    echo \"=== bcl-convert started at: $(date) ===\"\n    echo \"Input Directory: $full_run_path\"\n    echo \"Output Directory: $full_output_path\"\n    echo \"WorkflowType: ${workflowTypeIsXp}\"\n    echo \"No Lane Splitting: ${!workflowTypeIsXp}\"\n    echo \"\"\n    \n    bcl-convert -f \\\\\n        --bcl-conversion-only true \\\\\n        --bcl-sampleproject-subdirectories true \\\\\n        --bcl-input-directory \"$full_run_path\" \\\\\n        --no-lane-splitting ${!workflowTypeIsXp} \\\\\n        --output-directory \"$full_output_path\" \\\\\n        --first-tile-only false \\\\\n        --bcl-only-matched-reads true\n    \n    echo \"\"\n    echo \"=== bcl-convert finished at: $(date) ===\"\n} | tee \"$logFile\"\n`.trim();\n\n// Also create a simplified direct command for the Execute node\nconst directCmd = `mkdir -p \"${outputDir}\" && dragen -f --bcl-conversion-only true --bcl-sampleproject-subdirectories true --bcl-input-directory \"${full_run_path}\" --no-lane-splitting ${!workflowTypeIsXp} --output-directory \"${outputDir}\" --first-tile-only false --bcl-only-matched-reads true 2>&1 | tee \"${logPath}\"`;\n\nreturn [{\n  json: {\n    // Preserve original workflow trigger data\n    path: runFolder,\n    run_id: runId,\n    // Add XML data\n    ...xmlData,\n    // Add BCL-Convert specific data\n    outputDirectory: outputDir,\n    logFile: logFile,\n    logPath: logPath,\n    bclConvertScript: bclConvertCmd,\n    bclConvertCommand: directCmd,\n    startTime: new Date().toISOString(),\n    executionId: `${runId}_${timestamp}`,\n    workflowType: workflowType,\n    noLaneSplitting: !workflowTypeIsXp\n    \n  }\n}];\n"
      },
      "id": "753385e7-aacb-4a30-b5a1-2bdab0d92e44",
      "name": "Prepare BCL-Convert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2032,
        -304
      ]
    },
    {
      "parameters": {
        "command": "=touch \"{{ $('Prepare BCL-Convert').item.json.path }}/Converted.txt\" \n\nrm {{ $('Prepare BCL-Convert').item.json.path }}/Processing.txt"
      },
      "id": "815164e5-1511-4c21-9c60-e5fc516ce3c3",
      "name": "Mark Run Complete",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4304,
        -320
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "run_id"
            },
            {
              "name": "path"
            },
            {
              "name": "is_xp",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1088,
        -304
      ],
      "id": "901f7790-064b-45b6-9628-7df64c5d7a22",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "toRecipients": "sinan.erdem@gen-era.com.tr",
        "subject": "fail",
        "bodyContent": "test fail",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        3984,
        -96
      ],
      "id": "bc5dee94-ffde-44f4-8b62-b47a17c4e659",
      "name": "Send a message",
      "webhookId": "d438ccab-cbbb-41c7-9859-65a658327b46",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "H8UQaAqG4uOkMeE6",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "command": "=rm  {{ $('When Executed by Another Workflow').item.json.path }}/Processing.txt\n\ntouch {{ $('When Executed by Another Workflow').item.json.path }}/BCLConvertError.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3776,
        -96
      ],
      "id": "770ea37f-b02a-4f49-8aa8-93f8a2823059",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1584,
        -304
      ],
      "id": "27c22782-33b2-4013-a7fa-c23f5ccf0497",
      "name": "Extract from File2"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        1792,
        -304
      ],
      "id": "a0844449-064d-4f80-b6d3-4dc9594dd06d",
      "name": "XML1"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}/RunParameters.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        1360,
        -304
      ],
      "id": "cd805132-4556-4b06-99ad-069a314aa746",
      "name": "Read RunParameters"
    },
    {
      "parameters": {
        "command": "={{ $('Prepare BCL-Convert').item.json.bclConvertCommand }}",
        "cwd": "/staging/tmp"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3024,
        -320
      ],
      "id": "c6ef4e6e-0025-4941-bf93-1e42b13adb1d",
      "name": "Execute a command",
      "credentials": {
        "sshPassword": {
          "id": "Ex5dXx403TmRsifR",
          "name": "Sapiens DRAGEN - Root User"
        }
      }
    },
    {
      "parameters": {
        "command": "=rsync -avh /mnt/illuminastorage/run_folder/{{ $json.run_id }}/ /staging/tmp/{{ $json.run_id }}/ "
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2304,
        -304
      ],
      "id": "7abd74b7-736d-4df1-87dd-11206d72af24",
      "name": "copy to staging (SSH)",
      "credentials": {
        "sshPassword": {
          "id": "Ex5dXx403TmRsifR",
          "name": "Sapiens DRAGEN - Root User"
        }
      }
    },
    {
      "parameters": {
        "command": "=rsync -avh /staging/tmp/{{ $('Prepare BCL-Convert').item.json.run_id }}-Fastq/ /mnt/illuminastorage/fastq_folder/{{ $('Prepare BCL-Convert').item.json.run_id }}-Fastq/ "
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        3568,
        -480
      ],
      "id": "94660d5d-bd25-46c8-abc9-766fdaf18d20",
      "name": "copy results to alldata",
      "credentials": {
        "sshPassword": {
          "id": "Ex5dXx403TmRsifR",
          "name": "Sapiens DRAGEN - Root User"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "1fcc0a2d-2823-4388-aa71-931c5a461e54",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "0",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2768,
        -304
      ],
      "id": "ec6dc07c-c70f-4909-876b-0d117b5af66b",
      "name": "If"
    },
    {
      "parameters": {
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2944,
        -96
      ],
      "id": "be2cc3a9-eed7-4407-8d1c-9033b2f3670c",
      "name": "Wait",
      "webhookId": "c5ac0a5f-95e3-45ad-b2b3-b0bb15e4b0be"
    },
    {
      "parameters": {
        "content": "Alan kontrolü eklenecek",
        "height": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2224,
        -384
      ],
      "typeVersion": 1,
      "id": "7eacaac4-2c97-4ac1-a480-f1455d402f68",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "command": "ps aux | grep '/opt/dragen/.*/bin/dragen ' | grep -v grep | wc -l"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        2544,
        -304
      ],
      "id": "b097a420-9f3c-43e5-87b7-131725f36873",
      "name": "check dragen availability",
      "credentials": {
        "sshPassword": {
          "id": "Ex5dXx403TmRsifR",
          "name": "Sapiens DRAGEN - Root User"
        }
      }
    },
    {
      "parameters": {
        "command": "=cp {{ $('When Executed by Another Workflow').item.json.path }}/SampleSheet-Consolidation.csv /mnt/illuminastorage/fastq_folder/{{ $('When Executed by Another Workflow').item.json.run_id }}-Fastq/Reports/SampleSheet-Consolidation.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        3776,
        -480
      ],
      "id": "625306ba-0b52-4220-b9a5-0990c974ff74",
      "name": "Copy Consolidation CSV"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_source_value": "={{ $('When Executed by Another Workflow').item.json.run_id }}-Fastq",
            "conversion_time": "={{ $now }}",
            "tool_concept_ref": 112,
            "status_concept_ref": 29,
            "storage_instrument_ref": 12
          },
          "matchingColumns": [
            "id_source_value"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_ref",
              "displayName": "run_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_time",
              "displayName": "conversion_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_concept_ref",
              "displayName": "tool_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_source_value",
              "displayName": "id_source_value",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storage_instrument_ref",
              "displayName": "storage_instrument_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4000,
        -320
      ],
      "id": "e91474fb-1d44-4bf5-82bb-f7619bb5e952",
      "name": "Update Conversation Status",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b4ffe5d1-40fd-4e75-ba8c-08f5aab069bf",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "DRAGEN finished normally",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3408,
        -304
      ],
      "id": "cebc9e71-fbec-4f0c-8288-74bae226be66",
      "name": "If1"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id_source_value": "={{ $('When Executed by Another Workflow').item.json.run_id }}-Fastq",
            "conversion_time": "={{ $now }}",
            "tool_concept_ref": 112,
            "status_concept_ref": 27,
            "storage_instrument_ref": 12
          },
          "matchingColumns": [
            "id_source_value"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_ref",
              "displayName": "run_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_time",
              "displayName": "conversion_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_concept_ref",
              "displayName": "tool_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_source_value",
              "displayName": "id_source_value",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storage_instrument_ref",
              "displayName": "storage_instrument_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4192,
        -96
      ],
      "id": "27b51bfb-d531-473a-afcb-9e6ca83370ee",
      "name": "Update Conversation Status-ERROR",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "Prepare BCL-Convert": {
      "main": [
        [
          {
            "node": "copy to staging (SSH)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Run Complete": {
      "main": [
        []
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Read RunParameters",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File2": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read RunParameters": {
      "main": [
        [
          {
            "node": "Extract from File2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "Prepare BCL-Convert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a command": {
      "main": [
        [
          {
            "node": "copy results to alldata",
            "type": "main",
            "index": 0
          },
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy to staging (SSH)": {
      "main": [
        [
          {
            "node": "check dragen availability",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "copy results to alldata": {
      "main": [
        [
          {
            "node": "Copy Consolidation CSV",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Execute a command",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check dragen availability": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Conversation Status": {
      "main": [
        [
          {
            "node": "Mark Run Complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Update Conversation Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Update Conversation Status-ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "run_id": "251224_A01978_0141_BHJCH5DRX7",
          "path": "/mnt/illuminastorage/run_folder/251224_A01978_0141_BHJCH5DRX7",
          "is_xp": true
        }
      }
    ]
  },
  "versionId": "50b998c4-281d-4db4-804a-0151e65ee282",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-13T07:05:22.985Z",
      "createdAt": "2025-08-13T07:05:22.985Z",
      "role": "workflow:owner",
      "workflowId": "O8YHNZzNyW1ZWOlt",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}