converter-scheduled.json
{
  "updatedAt": "2025-12-31T06:57:37.000Z",
  "createdAt": "2025-08-29T07:09:31.570Z",
  "id": "u3Gwkokw9EhG5M3O",
  "name": "converter-scheduled",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -272,
        -64
      ],
      "id": "6a9376bc-fccf-4d7f-90ae-8e96ec8b9047",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "command": "find /mnt/illuminastorage/run_folder -mindepth 1 -maxdepth 1 -type d -regextype posix-extended -regex '.*/[0-9]{6,8}_[A-Za-z0-9]+_[0-9]+_[A-Za-z0-9]+' | sort"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -48,
        -64
      ],
      "id": "7c52c71e-8d9a-4030-909f-3e5baa70aabf",
      "name": "find all runs"
    },
    {
      "parameters": {
        "jsCode": "// Split the stdout into individual folder paths\nconst stdout = $input.first().json.stdout;\nconst folders = stdout.trim().split('\\n').filter(folder => folder.length > 0);\n\nconst items = folders.map(folder => ({\n  json: {\n    folder_path: folder,\n    folder_name: folder.split('/').pop()\n  }\n}));\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -64
      ],
      "id": "2571c7e9-27db-4988-9373-60635de6e6ce",
      "name": "split items"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "48e41311-1332-4829-8e54-e51a76ab0839",
              "name": "folder",
              "value": "={{ JSON.parse($json.stdout).folder }}",
              "type": "string"
            },
            {
              "id": "1a49382e-8a2c-432c-9f74-c756fe4ee0fe",
              "name": "path",
              "value": "={{ JSON.parse($json.stdout).path }}",
              "type": "string"
            },
            {
              "id": "d2450830-459b-4164-8f37-a258560f3e63",
              "name": "status",
              "value": "={{ JSON.parse($json.stdout).status }}",
              "type": "string"
            },
            {
              "id": "e67de0f2-6846-4dd7-8c38-265e7ec2ca46",
              "name": "copy_complete",
              "value": "={{ JSON.parse($json.stdout).copy_complete }}",
              "type": "string"
            },
            {
              "id": "38f0b428-19a8-465c-9cff-9cce510856cb",
              "name": "rta_complete",
              "value": "={{ JSON.parse($json.stdout).rta_complete }}",
              "type": "string"
            },
            {
              "id": "8dc32d52-39b1-4e1f-b27f-86e9dbfd7166",
              "name": "has_processing",
              "value": "={{ JSON.parse($json.stdout).has_processing }}",
              "type": "string"
            },
            {
              "id": "ef7b062d-cd8c-4e3a-9766-ec86fe8acd0d",
              "name": "has_converted",
              "value": "={{ JSON.parse($json.stdout).has_converted }}",
              "type": "string"
            },
            {
              "id": "4e5de3d8-d706-4777-a9c8-e80bf1d22dcb",
              "name": "has_conversion_error",
              "value": "={{ JSON.parse($json.stdout).has_conversion_error }}",
              "type": "string"
            },
            {
              "id": "e9fdb20d-c28e-4d9b-9f1b-ea31e9c9e161",
              "name": "has_samplesheet_error",
              "value": "={{ JSON.parse($json.stdout).has_samplesheet_error }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        624,
        -64
      ],
      "id": "bd77e31e-ae56-4bf3-a282-4ebb38d0f8a9",
      "name": "set status info"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=FOLDER_PATH=\"{{ $json.folder_path }}\"\nFOLDER_NAME=\"{{ $json.folder_name }}\"\n\n# Check all conditions\nCOPY_COMPLETE=\"false\"\nRTA_COMPLETE=\"false\"\nHAS_PROCESSING=\"false\"\nHAS_CONVERTED=\"false\"\nHAS_CONVERSION_ERROR=\"false\"\nHAS_SAMPLESHEET_ERROR=\"false\"\n\n# Check for completion files\nif [ -f \"$FOLDER_PATH/CopyComplete.txt\" ]; then\n    COPY_COMPLETE=\"true\"\nfi\n\nif [ -f \"$FOLDER_PATH/RTAComplete.txt\" ]; then\n    RTA_COMPLETE=\"true\"\nfi\n\n# Check for Processing folder (conversion in progress)\nif [ -f \"$FOLDER_PATH/Processing.txt\" ]; then\n    HAS_PROCESSING=\"true\"\nfi\n\n# Check for Converted folder (conversion completed)\nif [ -f \"$FOLDER_PATH/Converted.txt\" ]; then\n    HAS_CONVERTED=\"true\"\nfi\n\nif [ -f \"$FOLDER_PATH/BCLConvertError.txt.\" ]; then\n    HAS_CONVERSION_ERROR=\"true\"\nfi\n\nif [ -f \"$FOLDER_PATH/SampleSheetError.txt\" ]; then\n    HAS_SAMPLESHEET_ERROR=\"true\"\nfi\n\n# Determine overall status\nif [ \"$HAS_PROCESSING\" = \"true\" ]; then\n    STATUS=\"CONVERSION_IN_PROGRESS\"\nelif [ \"$HAS_CONVERTED\" = \"true\" ]; then\n    STATUS=\"CONVERSION_COMPLETED\"\nelif [ \"$COPY_COMPLETE\" = \"true\" ] && [ \"$RTA_COMPLETE\" = \"true\" ]; then\n    STATUS=\"READY_FOR_CONVERSION\"\nelse\n    STATUS=\"INCOMPLETE\"\nfi\n\n# Output proper JSON\ncat << EOF\n{\n  \"folder\": \"$FOLDER_NAME\",\n  \"path\": \"$FOLDER_PATH\",\n  \"status\": \"$STATUS\",\n  \"copy_complete\": $COPY_COMPLETE,\n  \"rta_complete\": $RTA_COMPLETE,\n  \"has_processing\": $HAS_PROCESSING,\n  \"has_converted\": $HAS_CONVERTED,\n  \"has_conversion_error\":$HAS_CONVERSION_ERROR,\n  \"has_samplesheet_error\":$HAS_SAMPLESHEET_ERROR\n}\nEOF"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        -64
      ],
      "id": "d7593435-813b-4b7d-b857-d54b746e52dd",
      "name": "validate status"
    },
    {
      "parameters": {
        "jsCode": "// Check if any folder has conversion in progress\nconst items = $('set status info').all();\nconst hasActiveConversion = items.some(item => item.json.status === 'CONVERSION_IN_PROGRESS');\n\n// Add the global status to each item\nreturn items.map(item => ({\n  json: {\n    ...item.json,\n    any_conversion_active: hasActiveConversion,\n    can_start_conversion: !hasActiveConversion && item.json.status === 'READY_FOR_CONVERSION'\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        160
      ],
      "id": "9ba93642-ed91-4fa6-be51-5e3a7178de6c",
      "name": "get if ready to start"
    },
    {
      "parameters": {
        "content": "## Conversion starter\nThis part watches run folder hourly and decides if conversion should be initiated. It also marks (Processing) run folder if a conversion is iniiated\nConversion initiation rules:\n-CopyComplete.txt and RTAComplete.txt exists\n-\"Processing.txt\" or \"ConversionComplete.txt\" files does not exist\n-\"Processing.txt\" does not exist among all runs",
        "height": 416,
        "width": 2368,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -320
      ],
      "typeVersion": 1,
      "id": "bd1a417c-f66a-46e4-a788-dabc62b9ddf5",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "O8YHNZzNyW1ZWOlt",
          "mode": "list",
          "cachedResultUrl": "/workflow/O8YHNZzNyW1ZWOlt",
          "cachedResultName": "BCL-convert subflow"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $('Limit').item.json.folder }}",
            "path": "={{ $('Limit').item.json.path }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "path",
              "displayName": "path",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        6160,
        96
      ],
      "id": "15093965-a19e-4bc6-9a40-958fe465ad4a",
      "name": "bcl-convert executor"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RA9lo1Okr9KrJgIp",
          "mode": "list",
          "cachedResultUrl": "/workflow/RA9lo1Okr9KrJgIp",
          "cachedResultName": "Samplesheet validator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "runFolder": "={{ $('Limit').item.json.path }}",
            "runId": "={{ $('Limit').item.json.folder }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "runFolder",
              "displayName": "runFolder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            },
            {
              "id": "runId",
              "displayName": "runId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        5200,
        96
      ],
      "id": "e51bd54c-10bf-42c8-916d-0ed04f1d2f8f",
      "name": "SampleSheet validator"
    },
    {
      "parameters": {
        "content": "## SampleSheet Validation sub-workflow\n\nfinds and validates samplesheet.csv",
        "height": 416,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        5168,
        -112
      ],
      "typeVersion": 1,
      "id": "9b7edee9-e65a-4e9f-a826-094c137877b0",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Status files:\nCopyComplete.txt: This file is an indicator for the completion status of run.\nRTAComplete.txt: This file indicates Real Time Analysis of the run is completed.\nProcessing.txt: This file indicates that BCL to FastQ conversation is in progress.\nConversionComplete.txt: This file indicates that BCL to FastQ conversation was completed.",
        "height": 208,
        "width": 352,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -320,
        -528
      ],
      "typeVersion": 1,
      "id": "39207fd3-2bd8-4c0c-8219-a8f249b1fdb4",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "command": "=touch \"{{ $('Limit').item.json.path }}/Processing.txt\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        5424,
        96
      ],
      "id": "e596885e-639d-4e53-a35e-26b22fcfc12e",
      "name": "mark Prcessing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        2592,
        160
      ],
      "id": "2c528d9a-f076-4d74-857d-8565f082e75f",
      "name": "Limit"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.folder }}",
            "status_concept_ref": 29
          },
          "matchingColumns": [
            "run_id"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instrument_ref",
              "displayName": "instrument_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "flowcell_concept_ref",
              "displayName": "flowcell_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "flowcell_lot",
              "displayName": "flowcell_lot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reads_settings_concept_ref",
              "displayName": "reads_settings_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "storage_instrument_concept_ref",
              "displayName": "storage_instrument_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflow_concept_ref",
              "displayName": "workflow_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        288
      ],
      "id": "44f78b98-ca30-400c-a953-66fb264ad77f",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}/RunInfo.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        2912,
        0
      ],
      "id": "11e6657c-a28d-4c97-86b4-bd7c8125e7e1",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3136,
        0
      ],
      "id": "0a7492e7-1490-4922-8e86-e6cf9ce3f701",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        3360,
        0
      ],
      "id": "de152591-33d8-450f-b255-459ddd851e4f",
      "name": "XML"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a4f3f920-7c4e-45a6-9c6e-9f620e0123ec",
              "name": "RunInfo.Run.Instrument",
              "value": "={{ $json.RunInfo.Run.Instrument }}",
              "type": "string"
            },
            {
              "id": "428928cb-b8ed-4c4d-bfb9-9b1c2e8ad833",
              "name": "RunInfo.Run.Flowcell",
              "value": "={{ $json.RunInfo.Run.Flowcell }}",
              "type": "string"
            },
            {
              "id": "6b2e14e0-b60d-42ab-9042-edb4bfb7729b",
              "name": "RunInfo.Run.Reads.Read",
              "value": "={{ $json.RunInfo.Run.Reads.Read[0].NumCycles }}-{{ $json.RunInfo.Run.Reads.Read[1].NumCycles }}-{{ $json.RunInfo.Run.Reads.Read[2].NumCycles }}-{{ $json.RunInfo.Run.Reads.Read[3].NumCycles }}",
              "type": "string"
            },
            {
              "id": "bbfa90c9-e16c-458a-a21f-be7631b09029",
              "name": "RunInfo.Run.Date",
              "value": "={{ $json.RunInfo.Run.Date }}",
              "type": "string"
            },
            {
              "id": "a8894bbd-1e2d-4bd4-9fd6-50c2f369df90",
              "name": "RunInfo.Run.Id",
              "value": "={{ $json.RunInfo.Run.Id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3584,
        0
      ],
      "id": "b9ff8530-be43-4232-ae62-c3ae52a8b75d",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "instruments",
          "mode": "list",
          "cachedResultName": "instruments"
        },
        "where": {
          "values": [
            {
              "column": "serial_number",
              "value": "={{ $json.RunInfo.Run.Instrument }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3808,
        0
      ],
      "id": "4c123deb-cb73-4623-a9ce-aa939e6dfdf3",
      "name": "Get instrument",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.path }}/RunParameters.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        3136,
        192
      ],
      "id": "f4abbac1-1dd0-46fe-9b51-ac6fd25e9c6b",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "xml",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        3360,
        192
      ],
      "id": "363b1fe4-7809-4f77-96d6-e0c09586004b",
      "name": "Extract from File1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        3584,
        192
      ],
      "id": "2df3010e-5df7-42a6-9259-2b34b09093ff",
      "name": "XML1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4528,
        96
      ],
      "id": "92dafa73-f995-44cb-83fd-1c7a2999b8ac",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        4752,
        96
      ],
      "id": "a54c9a97-7c3e-4d09-8a63-4f58e2dc4ac8",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66964074-a7c0-498d-bd2e-5b2f75e639c3",
              "name": "read_settings_uniqueref",
              "value": "={{ $json.uniqueref }}",
              "type": "string"
            },
            {
              "id": "b4e47842-5f83-44ff-9500-f861f11f1301",
              "name": "concept_name",
              "value": "={{ $json.concept_name }}",
              "type": "string"
            },
            {
              "id": "2a467a63-4f13-47cd-b276-4f23a9938721",
              "name": "isntrument_uniqueref",
              "value": "={{ $('Get instrument').item.json.uniqueref }}",
              "type": "string"
            },
            {
              "id": "e7b51f64-4a06-459b-a444-f087b06736fd",
              "name": "instrument_source_value",
              "value": "={{ $('Get instrument').item.json.instrument_source_value }}",
              "type": "string"
            },
            {
              "id": "ad9682b3-bbd2-4e35-8550-60b34b734f9c",
              "name": "serial_number",
              "value": "={{ $('Get instrument').item.json.serial_number }}",
              "type": "string"
            },
            {
              "id": "36d7ebe3-44a7-42d4-8594-c108286ac9b7",
              "name": "care_site_ref",
              "value": "={{ $('Get instrument').item.json.care_site_ref }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        0
      ],
      "id": "18a5466f-b2ad-4b87-bff2-c6b0f182ab5e",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adcb2627-4132-4ef7-9038-d4e185333acf",
              "name": "flowcell_uniqueref",
              "value": "={{ $json.kits_ref}}",
              "type": "string"
            },
            {
              "id": "0b27df0a-fdc1-475c-a2fb-4a61ce6dd522",
              "name": "concept_name",
              "value": "={{ $json.source_value }}",
              "type": "string"
            },
            {
              "id": "93376700-de62-4ee6-bf36-ce9a711fbab0",
              "name": "flowcell_lot",
              "value": "={{ $('XML1').item.json.RunParameters.RfidsInfo.FlowCellLotNumber }}{{ $('XML1').item.json.RunParameters.FlowCellRfidTag.LotNumber }}{{ $('XML1').item.json.RunParameters.FlowCellLotNumber }}",
              "type": "string"
            },
            {
              "id": "db431d97-6160-4878-a6e9-17cfa8f26e6c",
              "name": "workflow_mode_concept_ref",
              "value": "={{ $('get flowcell and workflow').item.json.RunParameters.Workflow === 'NovaSeqXp' ? 18 : 19 }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        4304,
        192
      ],
      "id": "27879506-19ae-47b9-81e0-843ca06f7726",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "where": {
          "values": [
            {
              "column": "run_id",
              "value": "={{ $('Limit').item.json.folder }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5648,
        96
      ],
      "id": "a6eeb975-b5aa-43ef-a2ff-d9a1ead745f9",
      "name": "Select rows from a table2",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "conversions",
          "mode": "list",
          "cachedResultName": "conversions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_ref": "={{ $json.uniqueref }}",
            "conversion_time": "={{ new Date().toISOString() }}",
            "tool_concept_ref": 112,
            "id_source_value": "={{ $json.run_id }}-Fastq",
            "status_concept_ref": 26
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_ref",
              "displayName": "run_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "conversion_time",
              "displayName": "conversion_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "tool_concept_ref",
              "displayName": "tool_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "id_source_value",
              "displayName": "id_source_value",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "storage_instrument_concept_ref",
              "displayName": "storage_instrument_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5904,
        96
      ],
      "id": "8f2d1ebb-4903-4537-86a7-2d1661c3a057",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "RunInfo ve RunParameters dosyaları okunarak DBye işlenir. Dosyalar Run başlatıldıktan ~3 saat sonra oluşuyor.",
        "height": 512,
        "width": 1872
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2368,
        -96
      ],
      "typeVersion": 1,
      "id": "6a2adbe4-80ea-4068-b74a-5bb6e8e48e6c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "where": {
          "values": [
            {
              "column": "run_id",
              "value": "={{ $json.folder }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2080,
        160
      ],
      "id": "1c823fc7-4add-4ce7-b74e-be499a23aa3c",
      "name": "get run ınfos",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_id": "={{ $json.folder }}",
            "updated_at": "2025-10-24T10:36:33",
            "storage_instrument_concept_ref": 6,
            "status_concept_ref": 26
          },
          "matchingColumns": [
            "run_id"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instrument_ref",
              "displayName": "instrument_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "flowcell_concept_ref",
              "displayName": "flowcell_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "flowcell_lot",
              "displayName": "flowcell_lot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "reads_settings_concept_ref",
              "displayName": "reads_settings_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "storage_instrument_concept_ref",
              "displayName": "storage_instrument_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false
            },
            {
              "id": "workflow_concept_ref",
              "displayName": "workflow_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "outputColumns": [
            "uniqueref",
            "run_id"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1744,
        -96
      ],
      "id": "49acab35-bdd3-4b6b-bd23-fc0de48e7b8e",
      "name": "Insert rows in a table1",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        848,
        -128
      ],
      "id": "fc03e1fb-2dc8-4019-94cf-54764e0e9e73",
      "name": "get already written runs",
      "alwaysOutputData": true,
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a77d11b5-d177-4f49-aacb-8498c42e721a",
              "name": "run_id",
              "value": "={{ $json.run_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1072,
        -128
      ],
      "id": "6ebfb6f7-a0e1-430d-a0d3-5b116a834bfe",
      "name": "get run ids"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "run_id",
              "field2": "folder"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1296,
        -80
      ],
      "id": "34389879-3981-4e24-99a7-bc06925f35b0",
      "name": "Merge1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0c3e88eb-8c75-4d92-ae51-17ac3bd87788",
              "leftValue": "={{ $json._source }}",
              "rightValue": "input2",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "0600c4ef-fb52-40fa-8e67-cd5944d12e29",
              "leftValue": "={{ $json.run_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1520,
        -80
      ],
      "id": "77d6e8d7-b9f3-42c6-89a8-89bb38b5b51f",
      "name": "If2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "8d01e9e7-bad4-4784-ab28-aeb5b5401157",
              "leftValue": "={{ $json.can_start_conversion }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "d33f53b6-4ced-4bee-9ac5-528ca93f53e4",
              "leftValue": "={{ $json.has_samplesheet_error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "0cb38695-168d-46aa-90f3-97a4147cb7b9",
              "leftValue": "={{ $json.has_conversion_error }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        160
      ],
      "id": "d628b4a7-8280-4521-8b58-243ce22df830",
      "name": "if queue empy & has no error"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "SeGWQ7ai2D66eUSG",
          "mode": "list",
          "cachedResultUrl": "/workflow/SeGWQ7ai2D66eUSG",
          "cachedResultName": "interop"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {}
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        2912,
        432
      ],
      "id": "2bf75dc0-c928-41aa-909c-e044811f751a",
      "name": "Call 'interop'"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f96a120f-bbbe-4152-8a1a-08af1d1d5624",
              "leftValue": "={{ $('set status info').item.json.copy_complete }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6d9f1ccf-3171-46b2-8ffb-f418c939bfd7",
              "leftValue": "={{ $('set status info').item.json.rta_complete }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        160
      ],
      "id": "8947a7d5-1eb8-47aa-a6f2-ecd54b6188e9",
      "name": "is run complete"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "folder",
              "field2": "run_id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1152,
        160
      ],
      "id": "4cd0d95d-c880-4a0a-a373-dc13bc9839bc",
      "name": "Merge2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9ecfbca7-24ca-4bbd-85bc-69e6ff49295a",
              "name": "folder",
              "value": "={{ $('if queue empy & has no error').item.json.folder }}",
              "type": "string"
            },
            {
              "id": "d9332c6e-3b11-4d76-b7b3-729a3d46c889",
              "name": "path",
              "value": "={{ $('if queue empy & has no error').item.json.path }}",
              "type": "string"
            },
            {
              "id": "7ea58c21-5eab-45a4-94a3-3d27bf6efb3c",
              "name": "status",
              "value": "={{ $('if queue empy & has no error').item.json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2368,
        160
      ],
      "id": "1b3742a4-5b98-434e-98f2-18875cf5a8b3",
      "name": "set status"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kits_mapping",
          "mode": "list",
          "cachedResultName": "kits_mapping"
        },
        "where": {
          "values": [
            {
              "column": "source_value",
              "value": "={{ $json.RunParameters.Flowcell }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        192
      ],
      "id": "cd8810b8-6c62-478c-8c17-75566f87a465",
      "name": "get flowcell info",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "concepts",
          "mode": "list",
          "cachedResultName": "concepts"
        },
        "where": {
          "values": [
            {
              "column": "concept_name",
              "value": "={{ $('Edit Fields').item.json.RunInfo.Run.Reads.Read }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4080,
        0
      ],
      "id": "4bac473f-1ab0-4ea6-a3e2-553d3be75c17",
      "name": "Get read setting concept",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9a6bd7be-bbad-4f0b-9c82-b1da442f67a5",
              "name": "RunParameters.Flowcell",
              "value": "={{ $json.RunParameters.RfidsInfo.FlowCellMode }}{{ $json.RunParameters.Chemistry }}{{ $json.RunParameters.FlowCellMode}}",
              "type": "string"
            },
            {
              "id": "eb56c420-08c3-4095-95f5-5d6fe1ba3cac",
              "name": "RunParameters.Workflow",
              "value": "={{ $json.RunParameters.WorkflowType }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3808,
        192
      ],
      "id": "df942730-0e0b-4b9b-ba94-aeefa9745711",
      "name": "get flowcell and workflow"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "instrument_ref": "={{ $json.data[0].isntrument_uniqueref }}",
            "flowcell_lot": "={{ $json.data[1].flowcell_lot }}",
            "reads_settings_concept_ref": "={{ $json.data[0].read_settings_uniqueref }}",
            "status_concept_ref": 29,
            "storage_instrument_ref": 12,
            "run_id": "={{ $('Limit').item.json.folder }}",
            "flowcell_kit_ref": "={{ $json.data[1].flowcell_uniqueref }}",
            "workflow_concept_ref": "={{ $json.data[1].workflow_mode_concept_ref }}"
          },
          "matchingColumns": [
            "run_id"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_id",
              "displayName": "run_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "instrument_ref",
              "displayName": "instrument_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "flowcell_kit_ref",
              "displayName": "flowcell_kit_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "flowcell_lot",
              "displayName": "flowcell_lot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "date",
              "displayName": "date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reads_settings_concept_ref",
              "displayName": "reads_settings_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "storage_instrument_ref",
              "displayName": "storage_instrument_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "workflow_concept_ref",
              "displayName": "workflow_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4976,
        96
      ],
      "id": "42364ba7-ec23-4101-8f1c-defac23ba764",
      "name": "update run info",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "content": "Cihaza özel workflow tipi tanımlaması eklenecek",
        "height": 240,
        "width": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3744,
        144
      ],
      "typeVersion": 1,
      "id": "b4866f42-2399-406e-abbf-f1200c8d388e",
      "name": "Sticky Note3"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "find all runs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "find all runs": {
      "main": [
        [
          {
            "node": "split items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "split items": {
      "main": [
        [
          {
            "node": "validate status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "validate status": {
      "main": [
        [
          {
            "node": "set status info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set status info": {
      "main": [
        [
          {
            "node": "get already written runs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          },
          {
            "node": "is run complete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get if ready to start": {
      "main": [
        [
          {
            "node": "if queue empy & has no error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "bcl-convert executor": {
      "main": [
        []
      ]
    },
    "SampleSheet validator": {
      "main": [
        [
          {
            "node": "mark Prcessing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mark Prcessing": {
      "main": [
        [
          {
            "node": "Select rows from a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call 'interop'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get instrument",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get instrument": {
      "main": [
        [
          {
            "node": "Get read setting concept",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Extract from File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File1": {
      "main": [
        [
          {
            "node": "XML1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML1": {
      "main": [
        [
          {
            "node": "get flowcell and workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "update run info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Select rows from a table2": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "bcl-convert executor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get run ınfos": {
      "main": [
        [
          {
            "node": "set status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table1": {
      "main": [
        []
      ]
    },
    "get already written runs": {
      "main": [
        [
          {
            "node": "get run ids",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get run ids": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Insert rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "if queue empy & has no error": {
      "main": [
        [
          {
            "node": "get run ınfos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is run complete": {
      "main": [
        [
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "get if ready to start",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set status": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get flowcell info": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get read setting concept": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get flowcell and workflow": {
      "main": [
        [
          {
            "node": "get flowcell info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "update run info": {
      "main": [
        [
          {
            "node": "SampleSheet validator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "02242ed4-ac44-4ff6-be39-1735a031e641",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-08-29T07:09:31.582Z",
      "createdAt": "2025-08-29T07:09:31.582Z",
      "role": "workflow:owner",
      "workflowId": "u3Gwkokw9EhG5M3O",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}