Genomize Upload.json
{
  "updatedAt": "2025-12-22T12:06:37.000Z",
  "createdAt": "2025-12-09T06:56:54.766Z",
  "id": "hXc7QmBZ2783aPQP",
  "name": "Genomize Upload",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -512,
        -80
      ],
      "id": "191f0bac-05ed-4298-b7f6-e046a49166de",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uniqueref": "={{ $json.operation_uniqueref }}",
            "status_concept_ref": 26,
            "recipe_ref": "={{ $json.recipe_ref }}"
          },
          "matchingColumns": [
            "uniqueref"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        -48
      ],
      "id": "d7c5fcb4-d02f-403d-9558-94dbb2faa263",
      "name": "Update Data Op as In Progress",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "uniqueref": "={{ $json.operation_uniqueref }}",
            "status_concept_ref": 29,
            "recipe_ref": "={{ $json.recipe_ref }}",
            "performed_at": "={{ $now.toISO() }}"
          },
          "matchingColumns": [
            "uniqueref"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -32,
        304
      ],
      "id": "b653a3c5-d81c-4688-9386-9d6f0c49be12",
      "name": "Update Data Op as Completed",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "command": "sudo rm  -r /tmp/genomize/*"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        176,
        128
      ],
      "id": "8a5d13c6-ff7e-4588-b6d8-d850bd3ee117",
      "name": "Cleanup Symlink"
    },
    {
      "parameters": {
        "command": "=/opt/bin/mc mirror /tmp/genomize/ genomize/{{ $json.account_id }}.static.seq.genomize.com/external/ "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -32,
        128
      ],
      "id": "dce3c93f-6be1-4a0b-a7e3-302825a041ff",
      "name": "Upload Genomize"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "={{ $json.command }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        400,
        -208
      ],
      "id": "4c50f3a6-8035-4ef0-8042-15ad3c634308",
      "name": "Create Symlink"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Stdout'daki fastq dosya yollarını al\nconst fastqPaths = $input.item.json.stdout.trim().split('\\n');\n\n// batch_source_value'yu önceki node'dan al\nconst batchSourceValue = $('Get On Hold Genomize Uploads').item.json.batch_source_value;\n\n// /tmp/genomize altında hedef dizini oluştur\nconst symlinkBaseDir = `/tmp/genomize/${batchSourceValue}`;\n\n// Symlink komutlarını oluştur\nconst commands = [];\ncommands.push(`mkdir -p ${symlinkBaseDir}`);\n\nfastqPaths.forEach(sourcePath => {\n  const fileName = sourcePath.split('/').pop();\n  const targetPath = `${symlinkBaseDir}/${fileName}`;\n  commands.push(`ln -sf ${sourcePath} ${targetPath}`);\n});\n\nconst finalCommand = commands.join(' && ');\n\nreturn {\n  json: {\n    command: finalCommand,\n    targetDirectory: symlinkBaseDir,\n    fileCount: fastqPaths.length,\n    batchSourceValue: batchSourceValue\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        176,
        -208
      ],
      "id": "3c917ed2-b7cc-43ee-b825-97cf5e0331fa",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=fdfind \"{{ $json.sample_id }}_\"  /mnt/smb_share/Conversions/{{ $json.id_source_value }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -32,
        -208
      ],
      "id": "545b08bf-8360-445d-aef0-d74b12a806fc",
      "name": "Find Files"
    },
    {
      "parameters": {
        "command": "/opt/bin/mc alias set genomize https://s3-3.genomize.com.tr gen_era_ngs '5Wk2h5!Qx^)>'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -288,
        -272
      ],
      "id": "c4e67749-3c32-4b92-a610-06469b2eec62",
      "name": "Login Genomize"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    data_operations.uniqueref as operation_uniqueref,\n    data_operations.read_ref,\n    data_operations.recipe_ref,\n    data_operations.status_concept_ref,\n    data_operations.performed_at,\n    data_operations.batch_source_value,\n    data_operations.error_text,\n    data_operations.operator_ref,\n    data_operations.analysis_source_value,\n    \n    data_operation_recipes.uniqueref as recipe_uniqueref,\n    data_operation_recipes.requesting_caresite_ref,\n    data_operation_recipes.performing_caresite_ref,\n    data_operation_recipes.kit_ref,\n    data_operation_recipes.platform_concept_ref,\n    data_operation_recipes.account_id,\n    data_operation_recipes.pipeline_id,\n    data_operation_recipes.type_concept_ref,\n    \n    care_site_credentials.uniqueref as credentials_uniqueref,\n    care_site_credentials.care_site_ref,\n    care_site_credentials.platform_site_id,\n    care_site_credentials.platform_site_password,\n    care_site_credentials.platform_site_meta,\n    care_site_credentials.is_active,\n    \n    reads.uniqueref as read_uniqueref,\n    reads.conversion_ref,\n    reads.sample_id,\n    reads.index_ref,\n    reads.lane,\n    reads.reads_target,\n    reads.bdsnumber,\n    reads.kit_ref as read_kit_ref,\n    reads.requesting_caresite_ref as read_requesting_caresite_ref,\n    reads.performing_caresite_ref as read_performing_caresite_ref,\n    reads.reads,\n    reads.sample_project,\n    \n    conversions.uniqueref as conversion_uniqueref,\n    conversions.run_ref,\n    conversions.conversion_time,\n    conversions.tool_concept_ref,\n    conversions.operator_ref as conversion_operator_ref,\n    conversions.id_source_value,\n    conversions.status_concept_ref as conversion_status_concept_ref,\n    conversions.error_text as conversion_error_text,\n    conversions.storage_instrument_ref\nFROM data_operations\nINNER JOIN data_operation_recipes\n    ON data_operations.recipe_ref = data_operation_recipes.uniqueref\nLEFT JOIN care_site_credentials\n    ON care_site_credentials.platform_concept_ref = data_operation_recipes.platform_concept_ref\n    AND care_site_credentials.care_site_ref = data_operation_recipes.requesting_caresite_ref\nLEFT JOIN reads\n    ON data_operations.read_ref = reads.uniqueref\nLEFT JOIN conversions\n    ON reads.conversion_ref = conversions.uniqueref\nWHERE data_operations.status_concept_ref = 24\n    AND data_operation_recipes.platform_concept_ref = 109\n    AND data_operation_recipes.type_concept_ref = 251;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        -80
      ],
      "id": "71bc3dcd-e6de-4583-8a2f-2cdfb924c506",
      "name": "Get On Hold Genomize Uploads",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Login Genomize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get On Hold Genomize Uploads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Genomize": {
      "main": [
        [
          {
            "node": "Cleanup Symlink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Create Symlink",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Files": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get On Hold Genomize Uploads": {
      "main": [
        [
          {
            "node": "Update Data Op as Completed",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update Data Op as In Progress",
            "type": "main",
            "index": 0
          },
          {
            "node": "Upload Genomize",
            "type": "main",
            "index": 0
          },
          {
            "node": "Find Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "5bfd07b1-a1a1-4f84-9e07-e1213e95832b",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-09T06:56:54.782Z",
      "createdAt": "2025-12-09T06:56:54.782Z",
      "role": "workflow:owner",
      "workflowId": "hXc7QmBZ2783aPQP",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}