git backup.json
{
  "updatedAt": "2025-12-29T10:16:17.000Z",
  "createdAt": "2025-12-25T05:07:31.517Z",
  "id": "x9oIU5qJNi5dzMwV",
  "name": "git backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "6bb2d43c-43cd-4019-8fff-d85cc452ff24",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3392,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Gen-Era",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-backup",
          "mode": "list",
          "cachedResultName": "N8N-backup",
          "cachedResultUrl": "https://github.com/gen-era/N8N-backup"
        },
        "filePath": "="
      },
      "id": "961c37bf-5222-44ef-a277-1aff59fcd37b",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        3232,
        784
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "gen-era",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-backup",
          "mode": "list",
          "cachedResultName": "N8N-backup",
          "cachedResultUrl": "https://github.com/gen-era/N8N-backup"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}",
        "binaryData": true,
        "binaryPropertyName": "={{$('Json file').item.binary.data}}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "eb299c72-8b7e-4c6a-ab84-78154fb602fe",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        4880,
        704
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gen-era",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-backup",
          "mode": "list",
          "cachedResultName": "N8N-backup",
          "cachedResultUrl": "https://github.com/gen-era/N8N-backup"
        },
        "filePath": "={{ $json.fileName }}",
        "binaryData": true,
        "binaryPropertyName": "={{$('Json file').item.binary.data}}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "e3a7b929-eab3-4e56-b5f1-c876d4d0959c",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        4880,
        864
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $json.fileName }}"
            }
          ]
        }
      },
      "id": "24016557-7910-4754-9608-30562cf93a62",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        4688,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "ea1a9f03-0e2f-44b2-8f42-6e3c9048118d",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4320,
        784
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Filter active').item.json.name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "157eb386-a999-4688-afb1-09014afa83fa",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        4512,
        784
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 604,
        "color": 4
      },
      "id": "99209b43-ad0a-489c-85bf-a1d106a5e541",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4496,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "31bae4b7-1c4a-4636-b142-c5743a04d189",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        3072,
        784
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "be92ceb8-100d-46eb-b6fa-d96dc56c0a04",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 732,
        "color": 3
      },
      "id": "9d24b1a3-1a02-4ece-be3e-5783dbe4811a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://10.20.0.30:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkOTRkZTM2My00ZTYzLTQwZGYtYTA1MS03OGNjOWQ4MGZiZDEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY2NjM5NDExfQ.EnEVfdQEb4p-4pJFVsu4TfseLoI54t6Qngtf48ZRMvU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3696,
        784
      ],
      "id": "b2fc76ef-a6f3-48c2-99e4-4be1f017c2ac",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3920,
        784
      ],
      "id": "a3f4c576-e54e-43a8-969f-93619bd0815e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bab24267-63b5-4f8c-bd57-ac290b16e6f1",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4112,
        784
      ],
      "id": "5f67011b-dbd3-4634-89ad-6ab670670fa2",
      "name": "Filter active"
    }
  ],
  "connections": {
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter active": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2fef5a49-f1da-4d34-a1c2-2762eb0025d5",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-25T05:07:31.523Z",
      "createdAt": "2025-12-25T05:07:31.523Z",
      "role": "workflow:owner",
      "workflowId": "x9oIU5qJNi5dzMwV",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}