git backup.json.json
{
  "updatedAt": "2025-12-25T06:31:22.000Z",
  "createdAt": "2025-12-25T05:07:31.517Z",
  "id": "x9oIU5qJNi5dzMwV",
  "name": "git backup",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f9cf45b1-5b75-448f-bd7f-8ce79a62e9ff",
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        288,
        160
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Subworkflow",
        "height": 731.7039821513649,
        "width": 1910.7813046051347,
        "color": 6
      },
      "id": "7bfff11e-4c4c-4110-bb9d-2aecb7ad3e6d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        544
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a4152856-c8d7-4403-9698-4d950a2d411e",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        -128,
        928
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d513345-6484-431f-afb7-7cf045c90f4f",
              "name": "Done",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "d0743cf1-6d14-4a84-95f1-96fccbb633c1",
      "name": "Return",
      "type": "n8n-nodes-base.set",
      "position": [
        1536,
        752
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "url": "={{ $json.download_url }}",
        "options": {}
      },
      "id": "3fc4d906-c0ba-487b-8478-5379a01030a1",
      "name": "Get File",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        496,
        624
      ],
      "typeVersion": 4.2
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "45ce825e-9fa6-430c-8931-9aaf22c42585",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              },
              "leftValue": "={{ $json.content }}",
              "rightValue": ""
            },
            {
              "id": "9619a55f-7fb1-4f24-b1a7-7aeb82365806",
              "operator": {
                "type": "string",
                "operation": "notExists",
                "singleValue": true
              },
              "leftValue": "={{ $json.error }}",
              "rightValue": ""
            }
          ]
        },
        "options": {}
      },
      "id": "ee105bbe-82ff-4966-b691-827440146283",
      "name": "If file too large",
      "type": "n8n-nodes-base.if",
      "position": [
        256,
        640
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "7bd1b1e8-a918-4d84-ae7c-eeed145181be",
      "name": "Merge Items",
      "type": "n8n-nodes-base.merge",
      "position": [
        256,
        912
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const orderJsonKeys = (jsonObj) => {\n  const ordered = {};\n  Object.keys(jsonObj).sort().forEach(key => {\n    ordered[key] = jsonObj[key];\n  });\n  return ordered;\n}\n\n// Check if file returned with content\nif (Object.keys($input.all()[0].json).includes(\"content\")) {\n  // Decode base64 content and parse JSON\n  const origWorkflow = JSON.parse(Buffer.from($input.all()[0].json.content, 'base64').toString());\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n// No file returned / new workflow\n} else if (Object.keys($input.all()[0].json).includes(\"data\")) {\n  const origWorkflow = JSON.parse($input.all()[0].json.data);\n  const n8nWorkflow = $input.all()[1].json;\n  \n  // Order JSON objects\n  const orderedOriginal = orderJsonKeys(origWorkflow);\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n\n  // Determine difference\n  if (JSON.stringify(orderedOriginal) === JSON.stringify(orderedActual)) {\n    $input.all()[0].json.github_status = \"same\";\n  } else {\n    $input.all()[0].json.github_status = \"different\";\n    $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n  }\n  $input.all()[0].json.content_decoded = orderedOriginal;\n\n} else {\n  // Order JSON object\n  const n8nWorkflow = $input.all()[1].json;\n  const orderedActual = orderJsonKeys(n8nWorkflow);\n  \n  // Proper formatting\n  $input.all()[0].json.github_status = \"new\";\n  $input.all()[0].json.n8n_data_stringy = JSON.stringify(orderedActual, null, 2);\n}\n\n// Return items\nreturn $input.all();\n"
      },
      "id": "8c070a4e-ad80-41b2-a46b-cc87f8ab682c",
      "name": "isDiffOrNew",
      "type": "n8n-nodes-base.code",
      "position": [
        448,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.github_status}}",
        "rules": {
          "rules": [
            {
              "value2": "same"
            },
            {
              "value2": "different",
              "output": 1
            },
            {
              "value2": "new",
              "output": 2
            }
          ]
        }
      },
      "id": "f1e4573d-a53a-409a-8b6c-e8fe193ef17e",
      "name": "Check Status",
      "type": "n8n-nodes-base.switch",
      "position": [
        848,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "a6b28051-a0ae-422a-9aa6-aec8846a579b",
      "name": "Same file - Do nothing",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1072,
        752
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "80e29ed2-e782-4f39-a9dd-a7cb8ae2d230",
      "name": "File is different",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1072,
        912
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "25c091e0-924e-4bba-a894-a556d755396f",
      "name": "File is new",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1072,
        1104
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "42f29df6-8bb8-41e3-bb0b-40ea81087bf7",
      "name": "Create new file",
      "type": "n8n-nodes-base.github",
      "position": [
        1296,
        1104
      ],
      "typeVersion": 1,
      "webhookId": "3ae9bfb8-75cd-4523-9949-fafaafacedcd",
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $json.subPath }}{{$('Execute Workflow Trigger').first().json.id}}.json",
        "fileContent": "={{$('isDiffOrNew').item.json[\"n8n_data_stringy\"]}}",
        "commitMessage": "={{$('Execute Workflow Trigger').first().json.name}} ({{$json.github_status}})"
      },
      "id": "275bd55f-ede2-4390-a337-eaf8e7de3a04",
      "name": "Edit existing file",
      "type": "n8n-nodes-base.github",
      "position": [
        1296,
        912
      ],
      "typeVersion": 1,
      "webhookId": "999b86cf-4f78-4bce-8e06-75499eeddab9",
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "dd79ec5f-bee7-48f8-b247-9fe8cedd74a5",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        896,
        272
      ],
      "typeVersion": 3
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1,
              "triggerAtMinute": 33
            }
          ]
        }
      },
      "id": "5a5c0fe5-e776-49fa-9b6d-fb32d328aa2b",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        288,
        368
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "dae43d3b-56e5-4098-b602-862ebf5cd073",
              "name": "subPath",
              "type": "string",
              "value": "={{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "60d867ea-b3ac-486b-96a1-cbd346bdbc65",
      "name": "Create sub path",
      "type": "n8n-nodes-base.set",
      "position": [
        656,
        912
      ],
      "typeVersion": 3.3
    },
    {
      "parameters": {
        "content": "## Backup to GitHub \nThis workflow will backup all instance workflows to GitHub every 24 hours.\n\nThe files are saved into folders using `YYYY/MM/` for the directory path and `ID.json` for the filename.\n\nThe Repo Owner, Repo Name and Main folder are set using the **Variables** feature but can be replaced with the `Config` node in the subworkflow. \n\nThe workflow runs calls itself to help reduce memory usage, Once the workflow has completed it will send an optional notification to Slack.\n\n### Time to Run\nTested with 1423 workflows on `1.44.1` it took under 30 minutes for the first run and under 12 minutes once the initial run is complete.",
        "height": 417,
        "width": 385,
        "color": 4
      },
      "id": "082f2f8b-bae5-4a77-b7a5-3438f687fae7",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -192,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Main workflow loop",
        "height": 416.1856906618075,
        "width": 1272.6408145680155,
        "color": 7
      },
      "id": "745f4755-4bab-473b-9213-af7013fd9ad4",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        256,
        80
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "workflowId": "={{ $workflow.id }}",
        "mode": "each",
        "options": {}
      },
      "id": "c3b9f7a0-368f-4576-bf39-8313cb6d0bf4",
      "name": "Execute Workflow",
      "type": "n8n-nodes-base.executeWorkflow",
      "position": [
        1120,
        288
      ],
      "typeVersion": 1,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_owner }}"
        },
        "repository": {
          "__rl": true,
          "mode": "",
          "value": "={{ $('Config').first().item.repo_name }}"
        },
        "filePath": "={{ $('Config').first().item.repo_path }}{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[0] }}/{{ $('Execute Workflow Trigger').first().json.createdAt.split('-')[1] }}/{{$json.id}}.json",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "id": "336dde8d-e8cd-49b4-9a96-1a7fca4943a5",
      "name": "Get file data",
      "type": "n8n-nodes-base.github",
      "position": [
        48,
        640
      ],
      "typeVersion": 1,
      "alwaysOutputData": true,
      "webhookId": "57a9beb2-dab9-4533-b177-eb8595fa81f8",
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8f6d1741-772f-462a-811f-4c334185e4f0",
              "name": "repo_owner",
              "type": "string",
              "value": "={{ $vars.repo_owner }}"
            },
            {
              "id": "8cac215c-4fd7-422f-9fd2-6b2d1e5e0383",
              "name": "repo_name",
              "type": "string",
              "value": "={{ $vars.repo_name }}"
            },
            {
              "id": "eee305e9-4164-462a-86bd-80f0d58a31ae",
              "name": "repo_path",
              "type": "string",
              "value": "={{ $vars.repo_path }}"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "24c2735f-ddf3-4e76-8740-6641ca3bb8f0",
      "name": "Config",
      "type": "n8n-nodes-base.set",
      "position": [
        48,
        928
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "http://10.20.0.30:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkOTRkZTM2My00ZTYzLTQwZGYtYTA1MS03OGNjOWQ4MGZiZDEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY2NjM5NDExfQ.EnEVfdQEb4p-4pJFVsu4TfseLoI54t6Qngtf48ZRMvU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        640,
        272
      ],
      "id": "3bcf8af0-068c-4030-b219-8a0f694aa349",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "name"
            }
          ]
        },
        "options": {}
      },
      "id": "6bb2d43c-43cd-4019-8fff-d85cc452ff24",
      "name": "Aggregate",
      "type": "n8n-nodes-base.aggregate",
      "position": [
        3392,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "Gen-Era",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-backup",
          "mode": "list",
          "cachedResultName": "N8N-backup",
          "cachedResultUrl": "https://github.com/gen-era/N8N-backup"
        },
        "filePath": "="
      },
      "id": "961c37bf-5222-44ef-a277-1aff59fcd37b",
      "name": "List files from repo",
      "type": "n8n-nodes-base.github",
      "position": [
        3232,
        784
      ],
      "webhookId": "354d699e-44b0-4444-9d31-af7fd4ff5561",
      "typeVersion": 1,
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "gen-era",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-backup",
          "mode": "list",
          "cachedResultName": "N8N-backup",
          "cachedResultUrl": "https://github.com/gen-era/N8N-backup"
        },
        "filePath": "={{ $('Commit date & file name').item.json.fileName }}.json",
        "fileContent": "={{ $('To base64').item.json.data }}",
        "commitMessage": "=backup-{{ $('Commit date & file name').item.json.commitDate }}"
      },
      "id": "eb299c72-8b7e-4c6a-ab84-78154fb602fe",
      "name": "Update file",
      "type": "n8n-nodes-base.github",
      "position": [
        4880,
        704
      ],
      "webhookId": "27218087-8df7-474d-a39f-70cfa9c34ec8",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "owner": {
          "__rl": true,
          "value": "gen-era",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "N8N-backup",
          "mode": "list",
          "cachedResultName": "N8N-backup",
          "cachedResultUrl": "https://github.com/gen-era/N8N-backup"
        },
        "filePath": "={{ $json.fileName }}.json",
        "binaryData": true,
        "binaryPropertyName": "={{$('Json file').item.binary.data}}",
        "commitMessage": "=backup-{{ $node['Commit date & file name'].json.commitDate }}"
      },
      "id": "e3a7b929-eab3-4e56-b5f1-c876d4d0959c",
      "name": "Upload file",
      "type": "n8n-nodes-base.github",
      "position": [
        4880,
        864
      ],
      "webhookId": "ce4b561b-acb9-4cd8-b76f-4928dada9674",
      "typeVersion": 1,
      "credentials": {
        "githubApi": {
          "id": "qFmHSnQVYm45zXjE",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Aggregate').item.json.name }}",
              "operation": "contains",
              "value2": "={{ $json.fileName }}"
            }
          ]
        }
      },
      "id": "24016557-7910-4754-9608-30562cf93a62",
      "name": "Check if file exists",
      "type": "n8n-nodes-base.if",
      "position": [
        4688,
        784
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "toJson",
        "mode": "each",
        "options": {
          "format": true
        }
      },
      "id": "ea1a9f03-0e2f-44b2-8f42-6e3c9048118d",
      "name": "Json file",
      "type": "n8n-nodes-base.convertToFile",
      "position": [
        4320,
        784
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "fe4a36ef-9f04-40e3-99bd-cc517a49b440",
              "name": "commitDate",
              "type": "string",
              "value": "={{ $now.format('dd-MM-yyyy/H:mm') }}"
            },
            {
              "id": "b0fe1bcc-e79c-4a6b-b8b4-44222c8bf4e8",
              "name": "fileName",
              "type": "string",
              "value": "={{ $('Filter active').item.json.name }}.json"
            }
          ]
        },
        "options": {}
      },
      "id": "157eb386-a999-4688-afb1-09014afa83fa",
      "name": "Commit date & file name",
      "type": "n8n-nodes-base.set",
      "position": [
        4512,
        784
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "content": "### Commit + edit/create files if needed",
        "height": 380,
        "width": 604,
        "color": 4
      },
      "id": "99209b43-ad0a-489c-85bf-a1d106a5e541",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        4496,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "id": "31bae4b7-1c4a-4636-b142-c5743a04d189",
      "name": "Schedule Trigger1",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        3072,
        784
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "### Retrieve previous file names from Github",
        "height": 380,
        "width": 300,
        "color": 5
      },
      "id": "be92ceb8-100d-46eb-b6fa-d96dc56c0a04",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3200,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Retrieve and process workflows from n8n",
        "height": 380,
        "width": 908,
        "color": 3
      },
      "id": "9d24b1a3-1a02-4ece-be3e-5783dbe4811a",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3568,
        640
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "url": "http://10.20.0.30:5678/api/v1/workflows",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-API-KEY",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJkOTRkZTM2My00ZTYzLTQwZGYtYTA1MS03OGNjOWQ4MGZiZDEiLCJpc3MiOiJuOG4iLCJhdWQiOiJwdWJsaWMtYXBpIiwiaWF0IjoxNzY2NjM5NDExfQ.EnEVfdQEb4p-4pJFVsu4TfseLoI54t6Qngtf48ZRMvU"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3696,
        784
      ],
      "id": "b2fc76ef-a6f3-48c2-99e4-4be1f017c2ac",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        3920,
        784
      ],
      "id": "a3f4c576-e54e-43a8-969f-93619bd0815e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bab24267-63b5-4f8c-bd57-ac290b16e6f1",
              "leftValue": "={{ $json.isArchived }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        4112,
        784
      ],
      "id": "5f67011b-dbd3-4634-89ad-6ab670670fa2",
      "name": "Filter active"
    }
  ],
  "connections": {
    "Config": {
      "main": [
        [
          {
            "node": "Get file data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Items",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get File": {
      "main": [
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is new": {
      "main": [
        [
          {
            "node": "Create new file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Items": {
      "main": [
        [
          {
            "node": "isDiffOrNew",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isDiffOrNew": {
      "main": [
        [
          {
            "node": "Create sub path",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status": {
      "main": [
        [
          {
            "node": "Same file - Do nothing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is different",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "File is new",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get file data": {
      "main": [
        [
          {
            "node": "If file too large",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create new file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create sub path": {
      "main": [
        [
          {
            "node": "Check Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "File is different": {
      "main": [
        [
          {
            "node": "Edit existing file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If file too large": {
      "main": [
        [
          {
            "node": "Get File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit existing file": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Same file - Do nothing": {
      "main": [
        [
          {
            "node": "Return",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Json file": {
      "main": [
        [
          {
            "node": "Commit date & file name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if file exists": {
      "main": [
        [
          {
            "node": "Update file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List files from repo": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commit date & file name": {
      "main": [
        [
          {
            "node": "Check if file exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "List files from repo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Filter active",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter active": {
      "main": [
        [
          {
            "node": "Json file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "ef28d77d-2b2d-41fa-905c-1b18220e3328",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-25T05:07:31.523Z",
      "createdAt": "2025-12-25T05:07:31.523Z",
      "role": "workflow:owner",
      "workflowId": "x9oIU5qJNi5dzMwV",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}