ICA DRAGEN TSO500 Workflow.json
{
  "updatedAt": "2025-12-25T04:01:31.000Z",
  "createdAt": "2025-11-13T06:18:41.364Z",
  "id": "zOeHTAG3W7pparqn",
  "name": "ICA DRAGEN TSO500 Workflow",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "project_id",
              "name": "PROJECT_ID",
              "value": "=d29155ad-9965-46ae-9a53-8a7a61b70758",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b7195ed4-2339-4b14-a325-e3c1129885a6",
      "name": "Set Project ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -288,
        352
      ]
    },
    {
      "parameters": {
        "command": "=icav2 projectdata get \"/output_folder/\" --project-id {{ $('Set Project ID').item.json.PROJECT_ID }} 2>/dev/null | grep \"^id\" | awk '{print $2}'"
      },
      "id": "1f16f452-2406-4225-800b-ad8ae599f122",
      "name": "Validate Output Folder",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        144,
        352
      ]
    },
    {
      "parameters": {
        "command": "=icav2 projectdata list / --project-id {{ $('Set Project ID').item.json.PROJECT_ID }} --data-type FILE 2>/dev/null | grep \"fastq\" | wc -l | tr -d ' ' "
      },
      "id": "9411aa27-31ed-4a56-8c7e-d9edac2a5b50",
      "name": "Check FASTQ Files in Root",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        368,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 1
          },
          "conditions": [
            {
              "id": "12424ff2-58ff-4dbb-aa2b-ed071b5a871c",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "looseTypeValidation": true
        }
      },
      "id": "4276c470-436a-406e-a302-cc2f76e74cde",
      "name": "Has FASTQ Files?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        608,
        352
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -544,
        352
      ],
      "id": "74bdf2d6-db55-47b8-9d23-658c25bd5612",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "  const stdout = $input.item.json.stdout;\n\n  // Eğer stdout boşsa, boş array döndür\n  if (!stdout || stdout.trim() === '') {\n    return [];\n  }\n\n  // \\n ile böl ve boş satırları filtrele\n  const filenames = stdout.trim().split('\\n').filter(line => line.length > 0);\n\n  // PROJECT_ID'yi workflow başlangıcından al\n  const projectId = $('Set Project ID').first().json.PROJECT_ID;\n\n  // Her dosya adını işle ve ayrı item olarak döndür\n  return filenames.map(filename => {\n    // Tırnak işaretlerini temizle\n    const cleanFilename = filename.trim().replace(/^\"|\"$/g, '');\n\n    // _S'den önceki kısmı al\n    const beforeS = cleanFilename.split('_S')[0];\n\n    // -D veya -R var mı kontrol et\n    let sampleId;\n    let analysisType;\n\n    if (beforeS.endsWith('-D') || beforeS.endsWith('-R')) {\n      // -D veya -R varsa, onu çıkar\n      sampleId = beforeS.slice(0, -2);\n      analysisType = 'TSO500_HT';\n    } else {\n      // -D veya -R yoksa, tüm kısmı kullan\n      sampleId = beforeS;\n      analysisType = 'TSO500_ctDNA';\n    }\n\n    return {\n      json: {\n        filename: cleanFilename,\n        sample_id: sampleId,\n        analysis_type: analysisType,\n        PROJECT_ID: projectId\n      }\n    };\n  });"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        848
      ],
      "id": "3ad97c65-caa8-4a51-b660-65fbca2bd53f",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a752bd9b-e446-421d-bc7c-3d7ae546f9f2",
              "leftValue": "={{ $json.analysis_type }}",
              "rightValue": "TSO500_HT",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -208,
        624
      ],
      "id": "54604752-5e33-4ba2-b931-bf8e4762ee32",
      "name": "TSO500_HT"
    },
    {
      "parameters": {
        "jsCode": "  // Tüm önceki item'ları al\n  const items = $input.all();\n\n  // sample_id'ye göre grupla\n  const sampleGroups = {};\n\n  for (const item of items) {\n    const sampleId = item.json.sample_id;\n\n    if (!sampleGroups[sampleId]) {\n      sampleGroups[sampleId] = {\n        sample_id: sampleId,\n        files: [],\n        PROJECT_ID: item.json.PROJECT_ID\n      };\n    }\n\n    sampleGroups[sampleId].files.push(item.json.filename);\n  }\n\n  // Her sample için ayrı item oluştur\n  return Object.values(sampleGroups).map(group => ({\n    json: {\n      sample_id: group.sample_id,\n      file_count: group.files.length,\n      files: group.files,\n      PROJECT_ID: group.PROJECT_ID\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        624
      ],
      "id": "aaee441f-a37a-4aac-bf4b-7aba1bddca6e",
      "name": "Group Samples"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        624
      ],
      "id": "6d1e0799-1153-4b86-97b9-12fdaa2cf6b5",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "  const stdout = $input.item.json.stdout;\n  const inputId = stdout.match(/INPUT_ID=(\\S+)/)[1];\n  const outputId = stdout.match(/OUTPUT_ID=(\\S+)/)[1];\n\n  return {\n    json: {\n      sample_id: $input.item.json.sample_id,\n      PROJECT_ID: $input.item.json.PROJECT_ID,\n      samplesheet_id: $input.item.json.samplesheet_id,\n      input_folder_id: inputId,\n      output_folder_id: outputId\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        624
      ],
      "id": "657b0610-7adf-4fd9-8ea0-f07cf6a410cf",
      "name": "Parse Folder IDs"
    },
    {
      "parameters": {
        "command": "=  INPUT_ID=$(icav2 projectdata get \"/input_folder/\" --project-id {{ $json.PROJECT_ID }} 2>/dev/null | grep \"^id\" | awk '{print $2}') && \\\n  OUTPUT_ID=$(icav2 projectdata get \"/output_folder/\" --project-id {{ $json.PROJECT_ID }} 2>/dev/null | grep \"^id\" | awk '{print $2}') && \\\n  echo \"INPUT_ID=$INPUT_ID OUTPUT_ID=$OUTPUT_ID\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1136,
        624
      ],
      "id": "aa6453b8-c488-4264-90e3-6d35b19e3371",
      "name": "Get Folder ID"
    },
    {
      "parameters": {
        "command": "=  echo '{{ $json.sample_sheet_content }}' > /tmp/{{ $json.sample_sheet_filename }} && icav2 projectdata upload /tmp/{{ $json.sample_sheet_filename }} \"/samplesheet_folder/{{ $json.sample_sheet_filename }}\" --project-id {{\n  $json.PROJECT_ID }} 2>&1 | grep \"^id\" | awk '{print $2}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        704,
        624
      ],
      "id": "11f33343-f86d-4e47-820b-7207e1e463f5",
      "name": "SampleSheet Upload"
    },
    {
      "parameters": {
        "jsCode": "const sampleId = $('Generate Sample Sheet').item.json.sample_id;\n  const projectId = $('Generate Sample Sheet').item.json.PROJECT_ID;\n  const files = $('Generate Sample Sheet').item.json.files;  // <-- files'ı al\n  const sampleSheetId = $input.item.json.stdout.trim();\n\n  return {\n    json: {\n      sample_id: sampleId,\n      PROJECT_ID: projectId,\n      samplesheet_id: sampleSheetId,\n      files: files  // <-- files'ı ekle\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        624
      ],
      "id": "36e7f5b8-6c57-4dcc-9785-931013a43a6c",
      "name": "Prepare Pipeline Launch"
    },
    {
      "parameters": {
        "command": "=PROJECT_ID='{{ $(\"Set Project ID\").first().json.PROJECT_ID }}'\n\ncurl -s -X GET \"https://ica.illumina.com/ica/rest/api/projects/${PROJECT_ID}/data?filePath=/input_folder/&type=FILE&pageSize=1000\" \\\n    -H 'Accept: application/vnd.illumina.v3+json' \\\n    -H 'X-API-Key: RBsYkBubZxrPXkR3AvjLXUlYFGJJ8FOM' | \\\n  jq -r '.items[] | select(.data.details.name | endswith(\".fastq.gz\")) | select(.data.details.tags.userTags // [] | contains([\"on_hold\"])) | .data.details.name'"
      },
      "id": "0b7fe440-cdf5-45fa-b605-7ad321fd7a0c",
      "name": "List Waiting Samples",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2144,
        368
      ]
    },
    {
      "parameters": {
        "command": "=  icav2 projectpipelines start nextflow \"142fb3af-f0aa-41f2-b043-f2913671e0b4\" \\\n    --project-id {{ $('Prepare Pipeline Launch').item.json.PROJECT_ID }} \\\n    --storage-size \"Large\" \\\n    --output-parent-folder {{ $json.output_folder_id }} \\\n    --input \"run_folder:{{ $json.input_folder_id }}\" \\\n    --input \"sample_sheet:{{ $('Prepare Pipeline Launch').item.json.samplesheet_id }}\" \\\n    --parameters \"StartsFromFastq:true\" \\\n    --user-reference \"{{ $('Prepare Pipeline Launch').item.json.sample_id }}-analysis\" 2>&1 | grep \"^id\" | awk '{print $2}'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1744,
        624
      ],
      "id": "4904a969-41f7-460f-950c-db9fb5e65886",
      "name": "Launch Analysis"
    },
    {
      "parameters": {
        "command": "=  echo '{{ JSON.stringify($(\"Prepare Pipeline Launch\").item.json.files) }}' | jq -r '.[]' | while read filename; do\n    FILE_ID=$(curl -s -X GET 'https://ica.illumina.com/ica/rest/api/projects/{{ $(\"Prepare Pipeline Launch\").item.json.PROJECT_ID }}/data?filePath=/input_folder/&type=FILE&pageSize=1000' \\\n      -H 'Accept: application/vnd.illumina.v3+json' \\\n      -H 'X-API-Key: RBsYkBubZxrPXkR3AvjLXUlYFGJJ8FOM' | \\\n      jq -r \".items[] | select(.data.details.name == \\\"$filename\\\") | .data.id\")\n\n    if [ ! -z \"$FILE_ID\" ]; then\n      icav2 projectdata update \"$FILE_ID\" --project-id {{ $(\"Prepare Pipeline Launch\").item.json.PROJECT_ID }} --remove-user-tag \"on_hold\" --add-user-tag \"analysis_completed\" 2>&1\n      echo \"Updated: $filename ($FILE_ID)\"\n    fi\n  done"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1952,
        624
      ],
      "id": "c0fba6e9-f0d2-4b89-bf0e-fdb0e887465e",
      "name": "Update File Tags"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a752bd9b-e446-421d-bc7c-3d7ae546f9f2",
              "leftValue": "={{ $json.analysis_type }}",
              "rightValue": "TSO500_ctDNA",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -208,
        1168
      ],
      "id": "560cc119-463f-4850-8999-58eb671be90e",
      "name": "TSO500_ctDNA"
    },
    {
      "parameters": {
        "command": "=icav2 projects enter {{ $json.PROJECT_ID }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -80,
        352
      ],
      "id": "7d12d22b-5058-47e6-9c30-48d0b92fef23",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "jsCode": "  // Tüm önceki item'ları al\n  const items = $input.all();\n\n  // sample_id'ye göre grupla\n  const sampleGroups = {};\n\n  for (const item of items) {\n    const sampleId = item.json.sample_id;\n\n    if (!sampleGroups[sampleId]) {\n      sampleGroups[sampleId] = {\n        sample_id: sampleId,\n        files: [],\n        PROJECT_ID: item.json.PROJECT_ID\n      };\n    }\n\n    sampleGroups[sampleId].files.push(item.json.filename);\n  }\n\n  // Her sample için ayrı item oluştur\n  return Object.values(sampleGroups).map(group => ({\n    json: {\n      sample_id: group.sample_id,\n      file_count: group.files.length,\n      files: group.files,\n      PROJECT_ID: group.PROJECT_ID\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        1168
      ],
      "id": "bdb28687-d0c9-4b6f-8f90-cca1fd1f3afb",
      "name": "Group ctDNA Samples"
    },
    {
      "parameters": {
        "command": "=  echo '{{ JSON.stringify($(\"Prepare Pipeline Launch ctDNA\").item.json.files) }}' | jq -r '.[]' | while read filename; do\n    FILE_ID=$(curl -s -X GET 'https://ica.illumina.com/ica/rest/api/projects/{{ $(\"Prepare Pipeline Launch ctDNA\").item.json.PROJECT_ID }}/data?filePath=/input_folder/&type=FILE&pageSize=1000' \\\n      -H 'Accept: application/vnd.illumina.v3+json' \\\n      -H 'X-API-Key: RBsYkBubZxrPXkR3AvjLXUlYFGJJ8FOM' | \\\n      jq -r \".items[] | select(.data.details.name == \\\"$filename\\\") | .data.id\")\n\n    if [ ! -z \"$FILE_ID\" ]; then\n      icav2 projectdata update \"$FILE_ID\" --project-id {{ $(\"Prepare Pipeline Launch ctDNA\").item.json.PROJECT_ID }} --remove-user-tag \"on_hold\" --add-user-tag \"analysis_completed\" 2>&1\n      echo \"Updated: $filename ($FILE_ID)\"\n    fi\n  done"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1952,
        1168
      ],
      "id": "55170abe-842a-4a7d-9c87-7dcadd90242f",
      "name": "Update File Tags1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sampleId = $input.item.json.sample_id;\nconst projectId = $input.item.json.PROJECT_ID;\nconst files = $input.item.json.files;\n\nconst sampleSheet = `[Header],,,,,,,,,,,\nIEMFileVersion,4,,,,,,,,,,\nInvestigator Name,Can Holyavkin,,,,,,,,,,\nExperiment Name,TSO500_ctDNA,,,,,,,,,,\nDate,${new Date().toLocaleDateString('en-US')},,,,,,,,,,\nWorkflow Version,Acadia 500 Liquid Workflow v0.0.1,,,,,,,,,,\nFlowcell ID,,,,,,,,,,,\nFileFormatVersion,2,,,,,,,,,,\n[Reads],,,,,,,,,,,\nRead1Cycles,151,,,,,,,,,,\nRead2Cycles,151,,,,,,,,,,\nIndex1Cycles,8,,,,,,,,,,\nIndex2Cycles,8,,,,,,,,,,\n[BCLConvert_Settings],,,,,,,,,,,\nSoftwareVersion,3.6.3,,,,,,,,,,\nAdapterRead1,AGATCGGAAGAGCACACGTCTGAACTCCAGTCA,,,,,,,,,,\nAdapterRead2,AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT,,,,,,,,,,\nAdapterBehavior,trim,,,,,,,,,,\nMinimumTrimmedReadLength,35,,,,,,,,,,\nMaskShortReads,35,,,,,,,,,,\n[BCLConvert_Data],,,,,,,,,,,\nSample_ID,index,index2,OverrideCycles,,,,,,,,\n${sampleId},AGCGATAG,TTATTCGT,U7N1Y143;I8;I8;U7N1Y143,,,,,,,,\n\n[TSO500L_Settings],,,,,,,,,,,\n[TSO500L_Data],,,,,,,,,,,\nSample_ID,Index_ID,index,index2,Sample_Name,Sample_Plate,Sample_Well,I7_Index_ID,I5_Index_ID,Project,Sample_Description,Sample_Type\n${sampleId},UP05,AGCGATAG,TTATTCGT,${sampleId},,,D712,D513,,${sampleId},DNA\n`;\n\nreturn {\n  json: {\n    sample_id: sampleId,\n    sample_sheet_content: sampleSheet,\n    sample_sheet_filename: `SampleSheet_${sampleId}_ctDNA.csv`,\n    files: files,\n    PROJECT_ID: projectId\n  }\n};\n"
      },
      "id": "fb70f532-02e6-4c20-9c20-bb0dbb1b4b58",
      "name": "Generate ctDNA Sample Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        256,
        1168
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        480,
        1168
      ],
      "id": "043d3eec-aace-439f-9fd5-7a11b4374b9a",
      "name": "Loop Over Items ctDNA"
    },
    {
      "parameters": {
        "command": "=  echo '{{ $json.sample_sheet_content }}' > /tmp/{{ $json.sample_sheet_filename }} && icav2 projectdata upload /tmp/{{ $json.sample_sheet_filename }} \"/samplesheet_folder/{{ $json.sample_sheet_filename }}\" --project-id {{\n  $json.PROJECT_ID }} 2>&1 | grep \"^id\" | awk '{print $2}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        720,
        1168
      ],
      "id": "7a3e1844-f19f-4fb4-baeb-a5baf6eefc20",
      "name": "SampleSheet Upload ctDNA"
    },
    {
      "parameters": {
        "jsCode": "const sampleId = $('Generate ctDNA Sample Sheet').item.json.sample_id;\n  const projectId = $('Generate ctDNA Sample Sheet').item.json.PROJECT_ID;\n  const files = $('Generate ctDNA Sample Sheet').item.json.files; \n  const sampleSheetId = $input.item.json.stdout.trim();\n\n  return {\n    json: {\n      sample_id: sampleId,\n      PROJECT_ID: projectId,\n      samplesheet_id: sampleSheetId,\n      files: files\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        944,
        1168
      ],
      "id": "b06ac523-42d6-451e-9f21-6eace23c831b",
      "name": "Prepare Pipeline Launch ctDNA"
    },
    {
      "parameters": {
        "command": "=  INPUT_ID=$(icav2 projectdata get \"/input_folder/{{ $json.sample_id }}/\" --project-id {{ $json.PROJECT_ID }} 2>/dev/null | grep \"^id\" | awk '{print $2}') && \\\n  OUTPUT_ID=$(icav2 projectdata get \"/output_folder/\" --project-id {{ $json.PROJECT_ID }} 2>/dev/null | grep \"^id\" | awk '{print $2}') && \\\n  echo \"INPUT_ID=$INPUT_ID OUTPUT_ID=$OUTPUT_ID\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1136,
        1168
      ],
      "id": "3dc1d874-708c-4b9b-94da-2517532e1db1",
      "name": "Get Folder ID ctDNA"
    },
    {
      "parameters": {
        "command": "=  icav2 projectpipelines start nextflow \"850b4fe6-2a2f-4a85-ae57-cf082dfbefd4\" \\\n    --project-id {{ $('Prepare Pipeline Launch ctDNA').item.json.PROJECT_ID }} \\\n    --storage-size \"Large\" \\\n    --output-parent-folder {{ $json.output_folder_id }} \\\n    --input \"run_folder:{{ $json.input_folder_id }}\" \\\n    --input \"sample_sheet:{{ $('Prepare Pipeline Launch ctDNA').item.json.samplesheet_id }}\" \\\n    --parameters \"StartsFromFastq:true\" \\\n    --user-reference \"{{ $('Prepare Pipeline Launch ctDNA').item.json.sample_id }}-analysis\" 2>&1 | grep \"^id\" | awk '{print $2}'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1744,
        1168
      ],
      "id": "80051fba-0f8b-4310-860f-fc774b60d03c",
      "name": "Launch ctDNA Analysis"
    },
    {
      "parameters": {
        "jsCode": "  const stdout = $input.item.json.stdout;\n  const inputId = stdout.match(/INPUT_ID=(\\S+)/)[1];\n  const outputId = stdout.match(/OUTPUT_ID=(\\S+)/)[1];\n\n  return {\n    json: {\n      sample_id: $input.item.json.sample_id,\n      PROJECT_ID: $input.item.json.PROJECT_ID,\n      samplesheet_id: $input.item.json.samplesheet_id,\n      input_folder_id: inputId,\n      output_folder_id: outputId\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1168
      ],
      "id": "9126cd98-13ea-49d1-9f76-ba0f43c24bdf",
      "name": "Parse Folder IDs ctDNA"
    },
    {
      "parameters": {
        "command": "=icav2 projectdata get \"/input_folder/\" --project-id  {{ $('Set Project ID').item.json.PROJECT_ID }} 2>/dev/null | grep \"^id\" | awk '{print $2}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        896,
        192
      ],
      "id": "234279e9-4b9e-492a-beee-105244118202",
      "name": "Get Input Folder ID"
    },
    {
      "parameters": {
        "command": "=icav2 projectdata list / --project-id {{ $('Set Project ID').item.json.PROJECT_ID }} --data-type FILE --file-name .fastq.gz --match-mode FUZZY -o json 2>/dev/null "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ],
      "id": "7914784f-b29a-4c17-a5ad-792c535ccb45",
      "name": "List Root FastQ Files"
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.item.json.stdout;\nconst inputFolderId = $('Get Input Folder ID').item.json.stdout.trim();\nconst projectId = $('Set Project ID').first().json.PROJECT_ID;\n\ntry {\n  const fileList = JSON.parse(stdout);\n  \n  if (!fileList.items || fileList.items.length === 0) {\n    return [];\n  }\n  \n  return fileList.items.map(file => ({\n    json: {\n      file_id: file.id,\n      file_name: file.details.name,\n      input_folder_id: inputFolderId,\n      PROJECT_ID: projectId\n    }\n  }));\n} catch (error) {\n  console.error('Error parsing file list:', error);\n  return [];\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        192
      ],
      "id": "ab4f8225-e19e-41f3-8b85-72c5d4967fbc",
      "name": "Parse File IDs"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=SAMPLE_ID='{{ $json.sample_id }}'\nPROJECT_ID='{{ $json.PROJECT_ID }}'\nFILES='{{ JSON.stringify($json.files) }}'\n\necho \"=== İşleniyor: $SAMPLE_ID ===\"\n\n# Klasör ID'sini list komutundan al (daha güvenilir)\nSAMPLE_FOLDER_ID=$(icav2 projectdata list \\\n  --project-id \"$PROJECT_ID\" \\\n  --parent-folder \"/input_folder/\" \\\n  2>&1 | grep \"^${SAMPLE_ID} \" | awk '{print $4}')\n\necho \"Klasör ID: $SAMPLE_FOLDER_ID\"\n\nif [ -z \"$SAMPLE_FOLDER_ID\" ]; then\n  echo \"HATA: Klasör bulunamadı, oluşturuluyor...\"\n  icav2 projectdata create \"$SAMPLE_ID\" \\\n    --data-type FOLDER \\\n    --folder-path \"/input_folder/\" \\\n    --project-id \"$PROJECT_ID\"\n  \n  # Tekrar dene\n  SAMPLE_FOLDER_ID=$(icav2 projectdata list \\\n    --project-id \"$PROJECT_ID\" \\\n    --parent-folder \"/input_folder/\" \\\n    2>&1 | grep \"^${SAMPLE_ID} \" | awk '{print $4}')\nfi\n\nif [ -z \"$SAMPLE_FOLDER_ID\" ]; then\n  echo \"HATA: Klasör ID alınamadı!\"\n  exit 1\nfi\n\n# Dosyaları taşı\necho \"$FILES\" | jq -r '.[] | .file_id' | while read FILE_ID; do\n  echo \"Taşınıyor: $FILE_ID\"\n  icav2 projectdata move \"$FILE_ID\" \\\n    --destination-folder \"$SAMPLE_FOLDER_ID\" \\\n    --project-id \"$PROJECT_ID\" 2>&1 || echo \"Taşıma hatası (belki zaten orada)\"\ndone\n\n# Dosyaları etiketle\necho \"$FILES\" | jq -r '.[] | .file_id' | while read FILE_ID; do\n  echo \"Etiketleniyor: $FILE_ID\"\n  icav2 projectdata update \"$FILE_ID\" \\\n    --add-user-tag on_hold \\\n    --project-id \"$PROJECT_ID\"\ndone\n\necho \"✓ Tamamlandı: $SAMPLE_ID ($(echo $FILES | jq '. | length') dosya)\""
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1776,
        192
      ],
      "id": "3bb83148-9bb6-4202-bf48-a717263a36f5",
      "name": "Move Files to Input Folder"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a752bd9b-e446-421d-bc7c-3d7ae546f9f2",
              "leftValue": "={{ $json.analysis_type }}",
              "rightValue": "TSO500_HRD",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -208,
        896
      ],
      "id": "c71495ab-3c0e-4d4d-8773-03ddd68568c3",
      "name": "TSO500_HRD"
    },
    {
      "parameters": {
        "jsCode": "const sampleId = $('Generate HRD Sample Sheet').item.json.sample_id;\n  const projectId = $('Generate HRD Sample Sheet').item.json.PROJECT_ID;\n  const files = $('Generate HRD Sample Sheet').item.json.files; \n  const sampleSheetId = $input.item.json.stdout.trim();\n\n  return {\n    json: {\n      sample_id: sampleId,\n      PROJECT_ID: projectId,\n      samplesheet_id: sampleSheetId,\n      files: files\n    }\n  };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        896
      ],
      "id": "2e753daf-5c49-48cb-88ac-7ad2f5af5a95",
      "name": "Prepare Pipeline Launch HRD"
    },
    {
      "parameters": {
        "command": "=  echo '{{ $json.sample_sheet_content }}' > /tmp/{{ $json.sample_sheet_filename }} && icav2 projectdata upload /tmp/{{ $json.sample_sheet_filename }} \"/samplesheet_folder/{{ $json.sample_sheet_filename }}\" --project-id {{\n  $json.PROJECT_ID }} 2>&1 | grep \"^id\" | awk '{print $2}'"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        704,
        896
      ],
      "id": "7c27bd10-dfe7-41d0-9a3f-67ca46a2aa90",
      "name": "SampleSheet Upload HRD"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        288,
        896
      ],
      "id": "75b758a8-da1e-49f1-ab91-83668d22014f",
      "name": "Loop Over Items HRD"
    },
    {
      "parameters": {
        "command": "=  icav2 projectpipelines start nextflow \"506f136e-980e-427d-ab39-f91654255bea\" \\\n    --project-id {{ $('Prepare Pipeline Launch HRD').item.json.PROJECT_ID }} \\\n    --storage-size \"Large\" \\\n    --output-parent-folder {{ $('Loop Over Items HRD').item.json.output_folder_id }} \\\n    --input \"run_folder:{{ $('Loop Over Items HRD').item.json.input_folder_id }}\" \\\n    --input \"sample_sheet:{{ $('Prepare Pipeline Launch HRD').item.json.samplesheet_id }}\" \\\n    --parameters \"StartsFromFastq:true\" \\\n    --user-reference \"{{ $('Prepare Pipeline Launch HRD').item.json.sample_id }}-analysis\" 2>&1 | grep \"^id\" | awk '{print $2}'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1136,
        896
      ],
      "id": "eed94819-2181-4a3a-a4e0-542de70377c4",
      "name": "Launch HRD Analysis"
    },
    {
      "parameters": {
        "command": "=  echo '{{ JSON.stringify($(\"Prepare Pipeline Launch HRD\").item.json.files) }}' | jq -r '.[]' | while read filename; do\n    FILE_ID=$(curl -s -X GET 'https://ica.illumina.com/ica/rest/api/projects/{{ $(\"Prepare Pipeline Launch HRD\").item.json.PROJECT_ID }}/data?filePath=/input_folder/&type=FILE&pageSize=1000' \\\n      -H 'Accept: application/vnd.illumina.v3+json' \\\n      -H 'X-API-Key: RBsYkBubZxrPXkR3AvjLXUlYFGJJ8FOM' | \\\n      jq -r \".items[] | select(.data.details.name == \\\"$filename\\\") | .data.id\")\n\n    if [ ! -z \"$FILE_ID\" ]; then\n      icav2 projectdata update \"$FILE_ID\" --project-id {{ $(\"Prepare Pipeline Launch HRD\").item.json.PROJECT_ID }} --remove-user-tag \"on_hold\" --add-user-tag \"analysis_completed\" 2>&1\n      echo \"Updated: $filename ($FILE_ID)\"\n    fi\n  done"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1360,
        896
      ],
      "id": "21f3bfc3-e6c3-43da-b12a-a19b14dfae6b",
      "name": "Update File Tags HRD"
    },
    {
      "parameters": {
        "jsCode": "// Tüm önceki item'ları al\nconst items = $input.all();\n\n// sample_id'ye göre grupla\nconst sampleGroups = {};\n\nfor (const item of items) {\n  const sampleId = item.json.sample_id;\n  \n  if (!sampleGroups[sampleId]) {\n    sampleGroups[sampleId] = {\n      sample_id: sampleId,\n      files: [],\n      PROJECT_ID: item.json.PROJECT_ID,\n      input_folder_id: item.json.input_folder_id,\n      samplesheet_folder_id: item.json.samplesheet_folder_id,\n      output_folder_id: item.json.output_folder_id\n    };\n  }\n  \n  sampleGroups[sampleId].files.push(item.json.filename);\n}\n\n// Her sample için ayrı item oluştur\nreturn Object.values(sampleGroups).map(group => ({\n  json: {\n    sample_id: group.sample_id,\n    file_count: group.files.length,\n    files: group.files,\n    PROJECT_ID: group.PROJECT_ID,\n    input_folder_id: group.input_folder_id,\n    samplesheet_folder_id: group.samplesheet_folder_id,\n    output_folder_id: group.output_folder_id\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16,
        896
      ],
      "id": "5c376bf3-5c83-4111-ad43-d936f5fbe76e",
      "name": "Group Samples HRD"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sampleId = $input.item.json.sample_id;\nconst projectId = $input.item.json.PROJECT_ID;\nconst files = $input.item.json.files;\n\nconst sampleSheet = `[Header]\nFileFormatVersion,2\nIEMFileVersion,4\nInvestigator Name,Can Holyavkin\nExperiment Name,TSO500_HRD\nDate,${new Date().toLocaleDateString('en-US', { month: '2-digit', day: '2-digit', year: '2-digit' })}\nProject,${projectId}\nWorkflow,GenerateFASTQ\n[Reads]\nRead1Cycles,101\nRead2Cycles,101\nIndex1Cycles,8\nIndex2Cycles,8\n[Sequencing_Settings]\nLibraryPrepKits,TSO500\n[BCLConvert_Settings]\nSoftwareVersion,3.6.3\nAdapterRead1,AGATCGGAAGAGCACACGTCTGAACTCCAGTCA\nAdapterRead2,AGATCGGAAGAGCGTCGTGTAGGGAAAGAGTGT\nAdapterBehavior,trim\nMinimumTrimmedReadLength,35\nMaskShortReads,35\nOverrideCycles,U7N1Y93;I8;I8;U7N1Y93\n[BCLConvert_Data]\nSample_ID,index,index2\n${sampleId},CATCGAGG,ACGTCCTG\n[TSO500S_Data]\nSample_ID,Index_ID,Sample_Type,Pair_ID,Sample_Feature\n${sampleId},CP01,DNA,${sampleId},HRD\n`;\n\nreturn {\n  json: {\n    sample_id: sampleId,\n    sample_sheet_content: sampleSheet,\n    sample_sheet_filename: `SampleSheet_${sampleId}_HRD.csv`,\n    files: files,\n    PROJECT_ID: projectId\n  }\n};"
      },
      "id": "057ad269-482d-4cce-8e5b-c69cdfd6c7cd",
      "name": "Generate HRD Sample Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        896
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst projectId = items[0].json.PROJECT_ID;\nconst inputFolderId = items[0].json.input_folder_id;\n\n// Sample'lara göre grupla\nconst sampleGroups = {};\n\nfor (const item of items) {\n  const sampleId = item.json.file_name.split('_')[0];\n  \n  if (!sampleGroups[sampleId]) {\n    sampleGroups[sampleId] = {\n      sample_id: sampleId,\n      files: []\n    };\n  }\n  \n  sampleGroups[sampleId].files.push({\n    file_id: item.json.file_id,\n    file_name: item.json.file_name\n  });\n}\n\n// Her sample için output oluştur\nreturn Object.values(sampleGroups).map(group => ({\n  json: {\n    sample_id: group.sample_id,\n    files: group.files,\n    PROJECT_ID: projectId,\n    input_folder_id: inputFolderId\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        192
      ],
      "id": "ba6b28d6-5680-4b17-bbea-8eeece01e619",
      "name": "Group by Sample"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const sampleId = $input.item.json.sample_id;\nconst projectId = $input.item.json.PROJECT_ID;\nconst files = $input.item.json.files;\n\nconst sampleSheet = `[Header],,,,,,,\nFileFormatVersion,2,,,,,,\nInvestigator Name,Dana Weiner,,,,,,\nExperiment Name,SystemVal_DW,,,,,,\nDate,3/11/2020,,,,,,\nProject,TSO500 HT,,,,,,\n[Reads],,,,,,,\nRead1Cycles,151,,,,,,\nRead2Cycles,151,,,,,,\nIndex1Cycles,10,,,,,,\nIndex2Cycles,10,,,,,,\n[Sequencing_Settings],,,,,,,\nLibraryPrepKits,TSO500,,,,,,\n[BCLConvert_Settings],,,,,,,\nSoftwareVersion,3.10.4,,,,,,\nAdapterRead1,CTGTCTCTTATACACATCTCCGAGCCCACGAGAC,,,,,,\nAdapterRead2,CTGTCTCTTATACACATCTGACGCTGCCGACGA,,,,,,\nAdapterBehavior,trim,,,,,,\nMinimumTrimmedReadLength,35,,,,,,\nMaskShortReads,35,,,,,,\nOverrideCycles,U7N1Y93;I8;I8;U7N1Y93,,,,,,\n,,,,,,,\n[BCLConvert_Data],,,,,,,\nSample_ID,index,index2,,,,,\n${sampleId}-D,GAATACCTAT,ACTCTATTGT\n${sampleId}-R,TACGTGAAGG,CTAATAACCG\n\n,,,,,,,\n[TSO500S_Settings],,,,,,,\n,,,,,,,\n[TSO500S_Data],,,,,,,\nSample_ID,Sample_Name,Index_ID,index,index2,I7_Index_ID,I5_Index_ID,Description,Pair_ID,Sample_Type\n${sampleId}-D,${sampleId}-D,UDP0139,GAATACCTAT,ACTCTATTGT,UDP0139,UDP0139,,${sampleId},DNA\n${sampleId}-R,${sampleId}-R,UDP0140,TACGTGAAGG,CTAATAACCG,UDP0140,UDP0140,,${sampleId},RNA\n`;\n\nreturn {\n  json: {\n    sample_id: sampleId,\n    sample_sheet_content: sampleSheet,\n    sample_sheet_filename: `SampleSheet_${sampleId}.csv`,\n    files: files,\n    PROJECT_ID: projectId\n  }\n};\n"
      },
      "id": "36e4fe71-7f49-4937-923c-b2afd36ad8d5",
      "name": "Generate Sample Sheet",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        496,
        624
      ]
    }
  ],
  "connections": {
    "Set Project ID": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Output Folder": {
      "main": [
        [
          {
            "node": "Check FASTQ Files in Root",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check FASTQ Files in Root": {
      "main": [
        [
          {
            "node": "Has FASTQ Files?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has FASTQ Files?": {
      "main": [
        [
          {
            "node": "Get Input Folder ID",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Waiting Samples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Set Project ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "TSO500_HT",
            "type": "main",
            "index": 0
          },
          {
            "node": "TSO500_ctDNA",
            "type": "main",
            "index": 0
          },
          {
            "node": "TSO500_HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TSO500_HT": {
      "main": [
        [
          {
            "node": "Group Samples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Samples": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Generate Sample Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Folder IDs": {
      "main": [
        [
          {
            "node": "Launch Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder ID": {
      "main": [
        [
          {
            "node": "Parse Folder IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SampleSheet Upload": {
      "main": [
        [
          {
            "node": "Prepare Pipeline Launch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pipeline Launch": {
      "main": [
        [
          {
            "node": "Get Folder ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Waiting Samples": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch Analysis": {
      "main": [
        [
          {
            "node": "Update File Tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File Tags": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TSO500_ctDNA": {
      "main": [
        [
          {
            "node": "Group ctDNA Samples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command": {
      "main": [
        [
          {
            "node": "Validate Output Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group ctDNA Samples": {
      "main": [
        [
          {
            "node": "Generate ctDNA Sample Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File Tags1": {
      "main": [
        [
          {
            "node": "Loop Over Items ctDNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ctDNA Sample Sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items ctDNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items ctDNA": {
      "main": [
        [],
        [
          {
            "node": "SampleSheet Upload ctDNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SampleSheet Upload ctDNA": {
      "main": [
        [
          {
            "node": "Prepare Pipeline Launch ctDNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pipeline Launch ctDNA": {
      "main": [
        [
          {
            "node": "Get Folder ID ctDNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Folder ID ctDNA": {
      "main": [
        [
          {
            "node": "Parse Folder IDs ctDNA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch ctDNA Analysis": {
      "main": [
        [
          {
            "node": "Update File Tags1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Folder IDs ctDNA": {
      "main": [
        [
          {
            "node": "Launch ctDNA Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Input Folder ID": {
      "main": [
        [
          {
            "node": "List Root FastQ Files",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Root FastQ Files": {
      "main": [
        [
          {
            "node": "Parse File IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse File IDs": {
      "main": [
        [
          {
            "node": "Group by Sample",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Move Files to Input Folder": {
      "main": [
        [
          {
            "node": "List Waiting Samples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "TSO500_HRD": {
      "main": [
        [
          {
            "node": "Group Samples HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Pipeline Launch HRD": {
      "main": [
        [
          {
            "node": "Launch HRD Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SampleSheet Upload HRD": {
      "main": [
        [
          {
            "node": "Prepare Pipeline Launch HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items HRD": {
      "main": [
        [],
        [
          {
            "node": "Generate HRD Sample Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Launch HRD Analysis": {
      "main": [
        [
          {
            "node": "Update File Tags HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update File Tags HRD": {
      "main": [
        [
          {
            "node": "Loop Over Items HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group Samples HRD": {
      "main": [
        [
          {
            "node": "Loop Over Items HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate HRD Sample Sheet": {
      "main": [
        [
          {
            "node": "SampleSheet Upload HRD",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Group by Sample": {
      "main": [
        [
          {
            "node": "Move Files to Input Folder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Sample Sheet": {
      "main": [
        [
          {
            "node": "SampleSheet Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "311c6c28-033f-4115-925c-5c9280b1907c",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-13T06:18:41.380Z",
      "createdAt": "2025-11-13T06:18:41.380Z",
      "role": "workflow:owner",
      "workflowId": "zOeHTAG3W7pparqn",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}