interop.json
{
  "updatedAt": "2025-11-26T06:58:27.000Z",
  "createdAt": "2025-11-26T02:18:24.185Z",
  "id": "SeGWQ7ai2D66eUSG",
  "name": "interop",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "=docker run --rm -v {{ $('When clicking ‘Execute workflow’').item.json.path }}:/data:ro yserdem/illumina-interop:latest /data > {{ $('When clicking ‘Execute workflow’').item.json.path }}/{{ $('When clicking ‘Execute workflow’').item.json.folder }}-interop.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "16723fdc-1a4d-4aad-bd1a-50268f5e67f5",
      "name": "Execute Command"
    },
    {
      "parameters": {
        "fileSelector": "={{ $('When clicking ‘Execute workflow’').item.json.path }}/{{ $('When clicking ‘Execute workflow’').item.json.folder }}-interop.csv",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        400,
        0
      ],
      "id": "bc7ebf37-8062-4a15-9115-d9f50a8f0d05",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        576,
        0
      ],
      "id": "15641d6b-5cff-4d29-99c1-c2747fd9d2e7",
      "name": "Extract from File"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        0
      ],
      "id": "8125c6d8-7800-4a04-a468-ef541641c717",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "// items is an array of { json: {...} }\nconst input = items.map(x => x.json);\n\n// Group rows by Lane\nconst groups = {};\ninput.forEach(row => {\n  const lane = row[\"Lane\"];\n  if (!groups[lane]) groups[lane] = [];\n  groups[lane].push(row);\n});\n\n// helper functions\nconst mean = arr => arr.reduce((a,b)=>a+b,0) / arr.length;\nconst stddev = arr => {\n  const m = mean(arr);\n  const variance = arr.reduce((a,b)=> a + (b - m) ** 2, 0) / arr.length;\n  return Math.sqrt(variance);\n};\n\n// compute per-lane stats\nconst output = {};\n\nfor (const lane in groups) {\n  const rows = groups[lane];\n  const stats = {};\n\n  // Collect all column names across rows\n  const columns = new Set();\n  rows.forEach(r => Object.keys(r).forEach(k => columns.add(k)));\n\n  columns.forEach(col => {\n    // Convert values to numbers where possible\n    const numericValues = rows\n      .map(r => Number(r[col]))\n      .filter(v => !isNaN(v));\n\n    if (numericValues.length > 0) {\n      stats[col] = {\n        mean: mean(numericValues),\n        sd: stddev(numericValues)\n      };\n    }\n  });\n\n  output[lane] = stats;\n}\n\n// Return final result\nreturn [\n  {\n    json: output\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        0
      ],
      "id": "49dfe8e0-4c11-4f88-af17-be2e82e648a4",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "const laneStats = items[0].json; // stats from previous node\nconst runId = $json.run_id || null; // from workflow or fixed\n\nconst conceptMap = {\n  \"Mean Density Pass Filter L1\": 49, \"Mean Density Pass Filter L2\": 50,\n  \"Mean Density Pass Filter L3\": 51, \"Mean Density Pass Filter L4\": 52,\n  \"SD Density Pass Filter L1\": 53, \"SD Density Pass Filter L2\": 54,\n  \"SD Density Pass Filter L3\": 55, \"SD Density Pass Filter L4\": 56,\n  \"Mean Cluster Count Pass Filter L1\": 57, \"Mean Cluster Count Pass Filter L2\": 58,\n  \"Mean Cluster Count Pass Filter L3\": 59, \"Mean Cluster Count Pass Filter L4\": 60,\n  \"SD Mean Cluster Count Pass Filter L1\": 61, \"SD Mean Cluster Count Pass Filter L2\": 62,\n  \"SD Mean Cluster Count Pass Filter L3\": 63, \"SD Mean Cluster Count Pass Filter L4\": 64,\n  \"Mean Pass Filter L1\": 65, \"Mean Pass Filter L2\": 66,\n  \"Mean Pass Filter L3\": 67, \"Mean Pass Filter L4\": 68,\n  \"SD Pass Filter L1\": 69, \"SD Pass Filter L2\": 70,\n  \"SD Pass Filter L3\": 71, \"SD Pass Filter L4\": 72,\n  \"Mean Error Rate L1\": 73, \"Mean Error Rate L2\": 74,\n  \"Mean Error Rate L3\": 75, \"Mean Error Rate L4\": 76,\n  \"SD Error Rate L1\": 77, \"SD Error Rate L2\": 78,\n  \"SD Error Rate L3\": 79, \"SD Error Rate L4\": 80,\n  \"Mean Q30 L1\": 81, \"Mean Q30 L2\": 82,\n  \"Mean Q30 L3\": 83, \"Mean Q30 L4\": 84,\n  \"SD Q30 L1\": 85, \"SD Q30 L2\": 86,\n  \"SD Q30 L3\": 87, \"SD Q30 L4\": 88,\n  \"Mean Cluster Count Occupied L1\": 89, \"Mean Cluster Count Occupied L2\": 90,\n  \"Mean Cluster Count Occupied L3\": 91, \"Mean Cluster Count Occupied L4\": 92,\n  \"SD Cluster Count Occupied L1\": 93, \"SD Cluster Count Occupied L2\": 94,\n  \"SD Cluster Count Occupied L3\": 95, \"SD Cluster Count Occupied L4\": 96,\n  \"Mean Occupied L1\": 97, \"Mean Occupied L2\": 98,\n  \"Mean Occupied L3\": 99, \"Mean Occupied L4\": 100,\n  \"SD Occupied L1\": 101, \"SD Occupied L2\": 102,\n  \"SD Occupied L3\": 103, \"SD Occupied L4\": 104\n};\n\nfunction makeRow(conceptName, value, lane) {\n  return {\n    json: {\n      measurement_concept_id: conceptMap[conceptName],\n      measurement_source_value: conceptName,\n      value_as_number: value,\n      lane: lane,\n      run_id: runId,\n      measurement_date: new Date().toISOString().slice(0,10)\n    }\n  };\n}\n\nconst outputs = [];\n\nfor (const lane in laneStats) {\n  const stats = laneStats[lane];\n\n  // Map columns\n  const mappings = [\n    [\"Density Pf(k/mm2)\", \"Density Pass Filter\"],\n    [\"Cluster Count Pf (k)\", \"Cluster Count Pass Filter\"],\n    [\"% Pass Filter\", \"Pass Filter\"],\n    [\"Error Rate\", \"Error Rate\"],\n    [\"%>= Q30\", \"Q30\"],\n    [\"Cluster Count Occupied (k)\", \"Cluster Count Occupied\"],\n    [\"% Occupied\", \"Occupied\"]\n  ];\n\n  mappings.forEach(([column, label]) => {\n    if (stats[column]) {\n      outputs.push(makeRow(`Mean ${label} L${lane}`, stats[column].mean, lane));\n      outputs.push(makeRow(`SD ${label} L${lane}`, stats[column].sd, lane));\n    }\n  });\n}\n\nreturn outputs;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        992,
        0
      ],
      "id": "64e0fa2c-5f11-421b-ad76-d584a1a06da4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d7cff959-64eb-47b0-ba8b-a64708221057",
              "leftValue": "={{ $json.measurement_concept_id }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1200,
        0
      ],
      "id": "a3eb7bf1-3d35-4f90-a8bf-7d116c42dffa",
      "name": "Filter"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "runs",
          "mode": "list",
          "cachedResultName": "runs"
        },
        "where": {
          "values": [
            {
              "column": "run_id",
              "value": "={{ $json.folder }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -80,
        0
      ],
      "id": "4779e9df-2b5b-4cdb-b8e5-4e725fa90436",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "measurement_run",
          "mode": "list",
          "cachedResultName": "measurement_run"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "run_ref": "={{ $json.uniqueref }}",
            "measurement_concept_ref": "={{ $json.measurement_concept_id }}",
            "value_as_number": "={{ $json.value_as_number }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "run_ref",
              "displayName": "run_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "measurement_concept_ref",
              "displayName": "measurement_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "value_as_number",
              "displayName": "value_as_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1680,
        0
      ],
      "id": "cbba27b5-df04-433f-b8f1-fc02f73d45be",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45616fa1-729c-46f5-82ef-fcebeb34e2d9",
              "name": "uniqueref",
              "value": "={{ $('Select rows from a table').first().json.uniqueref }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1408,
        0
      ],
      "id": "577a89e3-fb20-4885-a718-b914495ad934",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "folder": "240802_MN01801_0026_A000H3YHNH",
          "path": "/home/genera/run_folder/Runs/240802_MN01801_0026_A000H3YHNH",
          "status": "READY_FOR_CONVERSION"
        }
      }
    ]
  },
  "versionId": "cda20fcb-9cca-4ae0-b57f-0bd45e77f3be",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-26T02:18:24.202Z",
      "createdAt": "2025-11-26T02:18:24.202Z",
      "role": "workflow:owner",
      "workflowId": "SeGWQ7ai2D66eUSG",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}