Monitor QC Waiting.json.json
{
  "updatedAt": "2025-12-24T10:17:47.000Z",
  "createdAt": "2025-12-24T09:43:52.746Z",
  "id": "zE1qHLcgDLnn6d6A",
  "name": "Monitor QC Waiting",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -96,
        -656
      ],
      "id": "e3c860e2-c6cd-4277-bb61-65db64ac4b94",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT r.*\nFROM reads r\nWHERE r.requesting_caresite_ref = 146\n  AND NOT EXISTS (\n    SELECT 1\n    FROM data_operations dop\n    WHERE dop.read_ref = r.uniqueref\n      AND dop.recipe_ref = 6\n  )",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        144,
        -656
      ],
      "id": "1bb86609-3f8d-492c-b8f3-590369a13874",
      "name": "Get QC Waiting Samples",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "recipe_ref": 6,
            "read_ref": "={{ $json.uniqueref }}",
            "status_concept_ref": 24,
            "batch_source_value": "={{ $json.sample_project }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        384,
        -656
      ],
      "id": "f9f02bb3-b0be-449e-b38f-96ec874288d5",
      "name": "Create Data Ops",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get QC Waiting Samples",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get QC Waiting Samples": {
      "main": [
        [
          {
            "node": "Create Data Ops",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Istanbul",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        4
      ]
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "fb3cbe47-eacd-4b92-ab3f-753797c6339b",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2025-12-24T09:43:52.756Z",
      "createdAt": "2025-12-24T09:43:52.756Z",
      "role": "workflow:owner",
      "workflowId": "zE1qHLcgDLnn6d6A",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}