Populate Reads DB.json
{
  "updatedAt": "2025-12-23T10:02:27.000Z",
  "createdAt": "2025-11-30T20:38:34.893Z",
  "id": "gpb02dMcpoieiSHi",
  "name": "Populate Reads DB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -192,
        -32
      ],
      "id": "89a76aa6-4b60-4f09-9385-f30d55e3ace6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "03419e32-bbeb-405f-848e-610206648a0b",
              "name": "run_id",
              "value": "251220_A01228_0233_AHF5G3DMX2",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        16,
        -32
      ],
      "id": "8ec2ccd9-4429-4481-bb3a-0590537d5096",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO runs (run_id) \n  VALUES ('{{ $json.run_id }}') \n  ON CONFLICT (run_id) DO UPDATE SET run_id = EXCLUDED.run_id\n  RETURNING *\n)\nSELECT \n  '{{ $json.run_id }}' as run_id,\n  inserted.uniqueref as run_ref,\n  c.concept_name,\n  reads_settings_concept_ref\nFROM inserted\nLEFT JOIN concepts c ON inserted.workflow_concept_ref = c.uniqueref;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        224,
        -32
      ],
      "id": "9867ddd7-13f5-47cd-8333-4be6407d2d0e",
      "name": "Check and Update Run Record",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "WITH inserted AS (\n  INSERT INTO conversions (id_source_value, run_ref) \n  VALUES (\n    regexp_replace(trim(trailing '/' from '{{ $json.stdout }}'), '^.*/', ''),\n    '{{ $('Check and Update Run Record').item.json.run_ref }}'\n  ) \n  ON CONFLICT (id_source_value) DO UPDATE SET run_ref = EXCLUDED.run_ref\n  RETURNING uniqueref\n)\nSELECT \n  regexp_replace(trim(trailing '/' from '{{ $json.stdout }}'), '^.*/', '') as conversion_id,\n  '{{ $('Check and Update Run Record').item.json.run_ref }}' as run_ref,\n  inserted.uniqueref as conversion_ref\nFROM inserted;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        928,
        -32
      ],
      "id": "da3eca92-ff73-4b64-b9e2-7cb99892de90",
      "name": "Check and Update Conversion Record",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "command": "=cat {{ $('Find Conversions').item.json.stdout }}Reports/Demultiplex_stats.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1184,
        -32
      ],
      "id": "c2fc7504-3d4d-4267-b68d-1e81f0512f1d",
      "name": "Extract Demux"
    },
    {
      "parameters": {
        "jsCode": "// Workflow kontrolü\nconst workflowType = $('Check and Update Run Record').first().json.concept_name;\n\nconst csvData = $input.item.json.stdout;\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',');\n\n// CSV'yi objelere parse et\nconst parsedData = lines.slice(1).map(line => {\n  const values = line.split(',');\n  const obj = {};\n  headers.forEach((header, index) => {\n    obj[header.trim()] = values[index]?.trim() || '';\n  });\n  return obj;\n});\n\nlet result;\n\nif (workflowType === \"Standard Workflow\") {\n  // SampleID'ye göre grupla ve reads'leri topla\n  const grouped = {};\n  \n  parsedData.forEach(item => {\n    const sampleId = item.SampleID;\n    \n    if (!grouped[sampleId]) {\n      // İlk kez görülen sample - kopyala\n      grouped[sampleId] = { ...item };\n      grouped[sampleId]['# Reads'] = parseInt(item['# Reads'].replace(/,/g, '')) || 0;\n      grouped[sampleId]['Lane'] = '0';  // Lane'i 0 yap\n    } else {\n      // Zaten var - reads'i ekle\n      grouped[sampleId]['# Reads'] += parseInt(item['# Reads'].replace(/,/g, '')) || 0;\n    }\n  });\n  \n  // Objeyi array'e çevir\n  result = Object.values(grouped);\n  \n} else {\n  // Normal workflow - olduğu gibi bırak\n  result = parsedData;\n}\n\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -32
      ],
      "id": "c3257dd2-990b-4d20-95ef-33b38138daf1",
      "name": "Parse Demux"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "indices",
          "mode": "list",
          "cachedResultName": "indices"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2256,
        -320
      ],
      "id": "bbc622f4-0f5f-4dd4-9025-7374d5c66bc2",
      "name": "Pull Indices DB",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "command": "=cat {{ $('Find Conversions').item.json.stdout }}Reports/SampleSheet.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1184,
        -272
      ],
      "id": "e2dbdb3e-9952-476c-8dad-59706ec69bbb",
      "name": "Extract SampleSheet"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Sample_ID",
              "field2": "SampleID"
            },
            {
              "field1": "Lane",
              "field2": "Lane"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1648,
        -48
      ],
      "id": "3e4be265-1ffe-43b6-a48c-edd4ec323105",
      "name": "Merge Demux and SampleSheet"
    },
    {
      "parameters": {
        "jsCode": "// cat komutundan gelen stdout'u al\nconst inputText = $json.stdout;\n\n// Input kontrolü\nif (!inputText || typeof inputText !== 'string') {\n  throw new Error('stdout bulunamadı veya string değil');\n}\n\n// [Data] bölümünü bul ve parse et\nconst dataSectionMatch = inputText.split('Data]');\nif (dataSectionMatch.length < 2) {\n  throw new Error('Sample sheet içinde [Data] section bulunamadı');\n}\n\nconst dataSection = dataSectionMatch[1];\n\n// Satırlara böl ve boş satırları temizle\nconst lines = dataSection.trim().split('\\n').filter(line => line.trim());\nif (lines.length < 2) {\n  throw new Error('[Data] section\\'da yeterli satır yok');\n}\n\n// İlk satır header\nconst headers = lines[0].split(',');\n\n// Lane sütunu var mı kontrol et\nconst hasLaneColumn = headers.includes('Lane');\n\n// Geri kalan satırlar sample verileri\nconst samples = [];\nfor (let i = 1; i < lines.length; i++) {\n  const values = lines[i].split(',');\n  \n  // Her satırı objeye çevir\n  const sample = {};\n  headers.forEach((header, index) => {\n    sample[header] = values[index] || '';\n  });\n  \n  // Lane sütunu yoksa ekle ve 0 değeri ata\n  if (!hasLaneColumn) {\n    sample['Lane'] = '0';\n  }\n  \n  samples.push(sample);\n}\n\n// Output olarak döndür - her sample ayrı item\nreturn samples.map(sample => ({ json: sample }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1408,
        -272
      ],
      "id": "97d984a7-fc77-4ac1-96d7-cd5bb10d98ee",
      "name": "Parse SampleSheet"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2960,
        -64
      ],
      "id": "1ae41ddd-980c-4edd-8bb1-10208bbc20f1",
      "name": "Add Index Ref"
    },
    {
      "parameters": {
        "command": "=fdfind \"{{ $json.run_id }}-Fastq$\" /mnt/smb_share/Conversions/ /mnt/illuminastorage/fastq_folder/ --max-depth 2"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        464,
        -32
      ],
      "id": "5b4ed172-f1fc-413d-91b6-d73a14b74ca2",
      "name": "Find Conversions"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "270cb46f-c225-426c-a0ad-1df53dd42414",
              "name": "conversion_ref",
              "value": "={{ $('Check and Update Conversion Record').item.json.conversion_ref }}",
              "type": "string"
            },
            {
              "id": "81d50cc5-77fa-4603-b76c-1be1fdc9562c",
              "name": "lane",
              "value": "={{ $json.Lane }}",
              "type": "string"
            },
            {
              "id": "001804c9-87ab-4a44-b2bc-1b6dbff3dbb0",
              "name": "sample_id",
              "value": "={{ $json.Sample_ID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1808,
        -48
      ],
      "id": "1027db27-fc4b-46a8-815b-e00cf6bdeca7",
      "name": "Add Conversion Ref"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n    input2.*,\n    prepared_map.care_site_ref AS performing_care_site_ref,\n    requested_map.care_site_ref AS requesting_caresite_ref\nFROM input2\nLEFT JOIN input1 AS prepared_map\n    ON input2.Prepared_By = prepared_map.care_site_source_value\nLEFT JOIN input1 AS requested_map\n    ON input2.Requested_By = requested_map.care_site_source_value",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4144,
        -48
      ],
      "id": "6a69e9fd-37a8-4ebf-b7b9-66f514607913",
      "name": "Merge Care Sites"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a132b128-8698-42e4-bfdc-3528a7c7158c",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        672,
        -32
      ],
      "id": "21e7a8cb-fcb7-43e1-a7ba-1c5b99e3ca2c",
      "name": "Conversion Check"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "care_site_mapping",
          "mode": "list",
          "cachedResultName": "care_site_mapping"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3760,
        -272
      ],
      "id": "0225d687-3a34-4a75-8c62-83ed9fdd602a",
      "name": "Pull Care Sites",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "source_value",
              "field2": "Library_Prep_Kit"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3568,
        -48
      ],
      "id": "a8c03412-31e3-4daa-b455-2f588fc79088",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kits_mapping",
          "mode": "list",
          "cachedResultName": "kits_mapping"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "platform_concept_ref",
              "value": "112"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3184,
        -272
      ],
      "id": "21242c1a-61ef-4859-9b39-055759f37024",
      "name": "Pull Kits Mapping",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dd7bc67-998a-4ca0-9182-ee69946963cc",
              "leftValue": "={{ $json.requesting_caresite_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e4f1ac79-6562-4c57-ad56-d8f0fcb80273",
              "leftValue": "={{ $json.kits_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "1f072c34-f888-4868-84f6-af70df219b7f",
              "leftValue": "={{ $json.index_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "07d1a8a2-1348-4d84-8d87-eb5d7ff23964",
              "leftValue": "={{ $json.Sample_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "b09c6ef5-1a61-49f4-a7ca-d36501bda117",
              "leftValue": "={{ $json.performing_care_site_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "80c8950f-5d78-4b15-b252-b12922cecce3",
              "leftValue": "={{ $json.Sample_Project }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "5dd70cd5-b29f-404c-b8e1-5723163b1350",
              "leftValue": "={{ $json.Lane }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "756c1db3-d2db-47ab-b261-2753274611e7",
              "leftValue": "={{ $json['# Reads'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a0f75890-f05b-4872-bf23-da071aab118e",
              "leftValue": "={{ $json.conversion_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4416,
        -48
      ],
      "id": "5e8a8b94-d1a1-47f2-94a4-9b35fa7573c6",
      "name": "Unvalidated Samples?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10b1b3ff-9e94-401a-a165-f39211952796",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "={{ $('Merge Care Sites').all().length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4672,
        -48
      ],
      "id": "21ef138d-194d-4408-95e1-2eaca6841bb7",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversion_ref": "={{ Number($json.conversion_ref) }}",
            "index_ref": "={{ $json.index_ref }}",
            "reads_target": "={{ Number($json.SE_Reads) }}",
            "requesting_caresite_ref": "={{ $json.requesting_caresite_ref }}",
            "performing_caresite_ref": "={{ $json.performing_care_site_ref}}",
            "reads": "={{ $json[\"# Reads\"] }}",
            "lane": "={{ Number($json.lane) }}",
            "sample_id": "={{ $json.Sample_ID }}",
            "bdsnumber": "={{ $json.BDS_Number }}",
            "kit_ref": "={{ $json.kits_ref }}",
            "sample_project": "={{ $json.Sample_Project }}"
          },
          "matchingColumns": [
            "sample_id",
            "conversion_ref",
            "lane"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_ref",
              "displayName": "conversion_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sample_id",
              "displayName": "sample_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index_ref",
              "displayName": "index_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lane",
              "displayName": "lane",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reads_target",
              "displayName": "reads_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bdsnumber",
              "displayName": "bdsnumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "kit_ref",
              "displayName": "kit_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "requesting_caresite_ref",
              "displayName": "requesting_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "performing_caresite_ref",
              "displayName": "performing_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "reads",
              "displayName": "reads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "sample_project",
              "displayName": "sample_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4944,
        -48
      ],
      "id": "af88a1f8-46b2-4ed5-a6c7-48238c5e35b1",
      "name": "Update Reads",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "uniqueref",
              "newKey": "index_ref"
            },
            {
              "currentKey": "kit_ref",
              "newKey": "index_kit_ref"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        2576,
        -320
      ],
      "id": "32788020-08b8-44bd-8c1b-58f68d3b7afe",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "uniqueref",
              "newKey": "kit_ref"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3392,
        -272
      ],
      "id": "d81b6b9f-7749-4ba4-99b5-d78aea033c1d",
      "name": "Rename Keys1"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "uniqueref",
              "newKey": "caresite_ref"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3952,
        -272
      ],
      "id": "d6f952ab-dbf3-40da-890d-95e29f38e7fd",
      "name": "Rename Keys2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b06200da-561f-40fb-b822-4d2d22d55a73",
              "name": "i7_sequence",
              "value": "={{ $('Pull Indices DB').item.json.i7_sequence.slice(0, 8) }}",
              "type": "string"
            },
            {
              "id": "d11f63bf-2806-4c37-98b7-d33b3adb962e",
              "name": "i5_sequence",
              "value": "={{ $('Pull Indices DB').item.json.i5_sequence.slice(0, 8) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2400,
        -320
      ],
      "id": "a151c2db-e9cf-4216-8b5f-7681e5182eb1",
      "name": "Trim Indices"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "i7_sequence",
              "field2": "index"
            },
            {
              "field1": "i5_sequence",
              "field2": "index2"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2784,
        -208
      ],
      "id": "4835f01d-c459-434c-aa7f-64b6468b5009",
      "name": "Add 8bp Index Ref"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "842e0892-a8f0-4ede-bc3b-53bec07f59b5",
              "leftValue": "={{ $json.index.length() }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2016,
        -48
      ],
      "id": "23abac23-ca78-4e10-9110-83604b5bbcdd",
      "name": "Is i7 Index 8 bp"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Index",
              "newKey": "index"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        1872,
        208
      ],
      "id": "4e85b219-2613-48f1-9eb3-19cd77cab4ff",
      "name": "Rename Keys3",
      "disabled": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Check and Update Run Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Update Run Record": {
      "main": [
        [
          {
            "node": "Find Conversions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check and Update Conversion Record": {
      "main": [
        [
          {
            "node": "Extract Demux",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract SampleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Demux": {
      "main": [
        [
          {
            "node": "Parse Demux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Demux": {
      "main": [
        [
          {
            "node": "Merge Demux and SampleSheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pull Indices DB": {
      "main": [
        [
          {
            "node": "Trim Indices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract SampleSheet": {
      "main": [
        [
          {
            "node": "Parse SampleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SampleSheet": {
      "main": [
        [
          {
            "node": "Merge Demux and SampleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Demux and SampleSheet": {
      "main": [
        [
          {
            "node": "Add Conversion Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Index Ref": {
      "main": [
        [
          {
            "node": "Pull Kits Mapping",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Find Conversions": {
      "main": [
        [
          {
            "node": "Conversion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Conversion Ref": {
      "main": [
        [
          {
            "node": "Rename Keys3",
            "type": "main",
            "index": 0
          },
          {
            "node": "Is i7 Index 8 bp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Care Sites": {
      "main": [
        [
          {
            "node": "Unvalidated Samples?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion Check": {
      "main": [
        [
          {
            "node": "Check and Update Conversion Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Care Sites": {
      "main": [
        [
          {
            "node": "Rename Keys2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Pull Care Sites",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge Care Sites",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Pull Kits Mapping": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unvalidated Samples?": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Reads",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Add 8bp Index Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys2": {
      "main": [
        [
          {
            "node": "Merge Care Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Indices": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add 8bp Index Ref": {
      "main": [
        [
          {
            "node": "Add Index Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is i7 Index 8 bp": {
      "main": [
        [
          {
            "node": "Add 8bp Index Ref",
            "type": "main",
            "index": 1
          },
          {
            "node": "Pull Indices DB",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Add Index Ref",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Rename Keys3": {
      "main": [
        [
          {
            "node": "Is i7 Index 8 bp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "78a5bbb5-697a-45b5-8945-f23dcb42446e",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-11-30T20:38:34.905Z",
      "createdAt": "2025-11-30T20:38:34.905Z",
      "role": "workflow:owner",
      "workflowId": "gpb02dMcpoieiSHi",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}