Samplesheet validator.json.json
{
  "updatedAt": "2025-12-10T05:48:04.000Z",
  "createdAt": "2025-08-19T10:34:27.612Z",
  "id": "RA9lo1Okr9KrJgIp",
  "name": "Samplesheet validator",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "runFolder"
            },
            {
              "name": "runId"
            }
          ]
        }
      },
      "id": "c055762a-8fe7-4141-a639-df2372f30060",
      "typeVersion": 1.1,
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "position": [
        512,
        1488
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "command": "=cat \"{{ $json.fileName ? $json.fileName : $('When Executed by Another Workflow').item.json.runFolder + '/SampleSheet.csv' }}\""
      },
      "id": "f8ccd27d-9720-4b2a-a29e-dc6be83aedb2",
      "name": "Read SampleSheet1",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2384,
        1200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Parse SampleSheet CSV content (BCL-Convert v2 format)\nconst csvContent = $input.first().json.stdout;\nconst lines = csvContent.split('\\n');\n\n// Find the data section - support both v1 ([Data]) and v2 ([BCLConvert_Data])\nlet dataStartIndex = -1;\nlet dataSection = null;\n\nfor (let i = 0; i < lines.length; i++) {\n  const trimmed = lines[i].trim();\n  if (trimmed === '[BCLConvert_Data]') {\n    dataStartIndex = i + 1;\n    dataSection = 'v2';\n    break;\n  } else if (trimmed === '[Data]') {\n    dataStartIndex = i + 1;\n    dataSection = 'v1';\n    break;\n  }\n}\n\nif (dataStartIndex === -1) {\n  return [{\n    json: {\n      ...($input.first().json),\n      validationError: 'No [BCLConvert_Data] or [Data] section found in SampleSheet',\n      isValid: false\n    }\n  }];\n}\n\n// Parse header line\nconst headerLine = lines[dataStartIndex];\nif (!headerLine || headerLine.trim() === '') {\n  return [{\n    json: {\n      ...($input.first().json),\n      validationError: 'No header line after data section',\n      isValid: false\n    }\n  }];\n}\n\nconst headers = headerLine.split(',').map(h => h.trim());\n\n// Find column indices - support both v1 and v2 formats\nconst sampleIdIdx = headers.indexOf('Sample_ID');\n\n// v2 format uses Index/Index2 (capitalized)\nlet indexIdx = headers.indexOf('Index');\nlet index2Idx = headers.indexOf('Index2');\n\n// v1 format uses index/index2 (lowercase) - fallback\nif (indexIdx === -1) indexIdx = headers.indexOf('index');\nif (index2Idx === -1) index2Idx = headers.indexOf('index2');\n\nconst laneIdx = headers.indexOf('Lane');\nconst projectIdx = headers.indexOf('Sample_Project');\n\n// v1 format columns (optional in v2)\nconst i7IndexIdIdx = headers.indexOf('I7_Index_ID');\nconst i5IndexIdIdx = headers.indexOf('I5_Index_ID');\n\nif (sampleIdIdx === -1 || indexIdx === -1) {\n  return [{\n    json: {\n      ...($input.first().json),\n      validationError: 'Missing required columns (Sample_ID or Index/index)',\n      isValid: false\n    }\n  }];\n}\n\n// Parse data rows\nconst samples = [];\nfor (let i = dataStartIndex + 1; i < lines.length; i++) {\n  const line = lines[i].trim();\n  if (line === '' || line.startsWith('[')) continue;\n  \n  const fields = line.split(',').map(f => f.trim());\n  if (fields.length < 2) continue; // At least Sample_ID and Index\n  \n  samples.push({\n    sampleId: fields[sampleIdIdx],\n    i7IndexId: i7IndexIdIdx !== -1 ? (fields[i7IndexIdIdx] || '') : '',\n    index: fields[indexIdx] || '',\n    i5IndexId: i5IndexIdIdx !== -1 ? (fields[i5IndexIdIdx] || '') : '',\n    index2: index2Idx !== -1 ? (fields[index2Idx] || '') : '',\n    lane: laneIdx !== -1 ? (fields[laneIdx] || '1') : '1',\n    project: projectIdx !== -1 ? (fields[projectIdx] || '') : '',\n    lineNumber: i + 1\n  });\n}\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    samples: samples,\n    sampleCount: samples.length,\n    headers: headers,\n    format: dataSection // 'v1' or 'v2'\n  }\n}];"
      },
      "id": "36698a1a-eb3f-4359-b577-b3d53e8b6cbd",
      "name": "Parse SampleSheet1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        1200
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Validation 1: Check for duplicate Sample_IDs and handle them\nconst samples = $input.first().json.samples;\nconst validationResults = [];\nconst sampleIdCounts = {};\nconst modifiedSamples = [];\n\n// Count Sample_ID occurrences\nsamples.forEach(sample => {\n  if (!sampleIdCounts[sample.sampleId]) {\n    sampleIdCounts[sample.sampleId] = 0;\n  }\n  sampleIdCounts[sample.sampleId]++;\n});\n\n// Find duplicates\nconst duplicates = Object.entries(sampleIdCounts)\n  .filter(([id, count]) => count > 1)\n  .map(([id, count]) => `${id} (${count} occurrences)`);\n\nif (duplicates.length > 0) {\n  validationResults.push({\n    type: 'warning',\n    message: `Duplicate Sample_IDs found: ${duplicates.join(', ')}. Will add suffixes.`\n  });\n}\n\n// Add suffixes to duplicates\nconst suffixCounts = {};\nsamples.forEach(sample => {\n  let modifiedSample = {...sample};\n  \n  if (sampleIdCounts[sample.sampleId] > 1) {\n    if (!suffixCounts[sample.sampleId]) {\n      suffixCounts[sample.sampleId] = 0;\n    } else {\n      suffixCounts[sample.sampleId]++;\n      modifiedSample.sampleId = `${sample.sampleId}-${suffixCounts[sample.sampleId]}`;\n      modifiedSample.modified = true;\n    }\n  }\n  modifiedSamples.push(modifiedSample);\n});\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    samples: modifiedSamples,\n    duplicateValidation: validationResults,\n    hasDuplicates: duplicates.length > 0\n  }\n}];"
      },
      "id": "249d8826-968e-4776-a8a4-a8972188a39e",
      "name": "Validate Duplicate Sample_IDs1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validation 2: Check index sequences exist and only contain ATCG\nconst samples = $input.first().json.samples;\nconst validationErrors = [];\nconst validationWarnings = [];\n\nsamples.forEach(sample => {\n  // Check if index exists\n  if (!sample.index || sample.index === '') {\n    validationErrors.push({\n      type: 'error',\n      sampleId: sample.sampleId,\n      message: `Sample ${sample.sampleId} (line ${sample.lineNumber}): Missing index sequence`\n    });\n  } else {\n    // Check if index only contains ATCG\n    if (!/^[ATCG]+$/i.test(sample.index)) {\n      validationErrors.push({\n        type: 'error',\n        sampleId: sample.sampleId,\n        message: `Sample ${sample.sampleId} (line ${sample.lineNumber}): Invalid index '${sample.index}' - must only contain A, T, C, G`\n      });\n    }\n  }\n  \n  // Check index2 if present\n  if (sample.index2 && sample.index2 !== '') {\n    if (!/^[ATCG]+$/i.test(sample.index2)) {\n      validationErrors.push({\n        type: 'error',\n        sampleId: sample.sampleId,\n        message: `Sample ${sample.sampleId} (line ${sample.lineNumber}): Invalid index2 '${sample.index2}' - must only contain A, T, C, G`\n      });\n    }\n  }\n  \n  // Check index lengths\n  if (sample.index && sample.index.length < 6) {\n    validationWarnings.push({\n      type: 'warning',\n      sampleId: sample.sampleId,\n      message: `Sample ${sample.sampleId}: Index length ${sample.index.length} is less than 6bp`\n    });\n  }\n});\n\nconst isValid = validationErrors.length === 0;\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    indexValidation: {\n      errors: validationErrors,\n      warnings: validationWarnings,\n      isValid: isValid\n    },\n    hasIndexErrors: !isValid\n  }\n}];"
      },
      "id": "a3f32d23-f579-4be2-92e7-c226935b509b",
      "name": "Validate Index Sequences1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3088,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validation 3: Check for 8bp index conflicts (duplicate index pairs in same lane)\nconst samples = $input.first().json.samples;\nconst conflicts = [];\nconst indexPairs = {};\n\n// Group samples by lane and check for conflicts\nsamples.forEach((sample, idx) => {\n  // Take first 8bp of indices\n  const index8bp = sample.index ? sample.index.substring(0, 8) : '';\n  const index2_8bp = sample.index2 ? sample.index2.substring(0, 8) : '';\n  \n  // Create unique key for this index combination in this lane\n  const lane = sample.lane || '1';\n  const indexKey = `${index8bp}_${index2_8bp}_Lane${lane}`;\n  \n  if (!indexPairs[indexKey]) {\n    indexPairs[indexKey] = [];\n  }\n  \n  indexPairs[indexKey].push({\n    sampleId: sample.sampleId,\n    project: sample.project,\n    lineNumber: sample.lineNumber,\n    index: index8bp,\n    index2: index2_8bp,\n    lane: lane\n  });\n});\n\n// Find conflicts\nObject.entries(indexPairs).forEach(([key, samples]) => {\n  if (samples.length > 1) {\n    const [index, index2, lane] = key.split('_');\n    \n    conflicts.push({\n      type: 'error',\n      lane: lane.replace('Lane', ''),\n      index: index,\n      index2: index2,\n      conflictingSamples: samples.map(s => s.sampleId).join(', '),\n      projects: [...new Set(samples.map(s => s.project))].join(', '),\n      count: samples.length,\n      message: `Lane ${lane.replace('Lane', '')}: Index pair ${index}/${index2} used by ${samples.length} samples: ${samples.map(s => s.sampleId).join(', ')}`\n    });\n  }\n});\n\nconst hasConflicts = conflicts.length > 0;\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    indexConflicts8bp: {\n      conflicts: conflicts,\n      hasConflicts: hasConflicts,\n      conflictCount: conflicts.length\n    },\n    has8bpConflicts: hasConflicts\n  }\n}];"
      },
      "id": "4798d11a-afe7-426c-89a3-58cc97ecada5",
      "name": "Validate 8bp Index Conflicts1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3280,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Validation 4: Check for 6bp conflicts in single-index samples\nconst samples = $input.first().json.samples;\nconst conflicts = [];\nconst singleIndexSamples = {};\n\n// Filter single-index samples (no index2)\nconst singleIndexOnly = samples.filter(s => !s.index2 || s.index2 === '');\n\nif (singleIndexOnly.length > 0) {\n  // Group single-index samples by lane and check for 6bp conflicts\n  singleIndexOnly.forEach(sample => {\n    // Take first 6bp of index\n    const index6bp = sample.index ? sample.index.substring(0, 6) : '';\n    const lane = sample.lane || '1';\n    const indexKey = `${index6bp}_Lane${lane}`;\n    \n    if (!singleIndexSamples[indexKey]) {\n      singleIndexSamples[indexKey] = [];\n    }\n    \n    singleIndexSamples[indexKey].push({\n      sampleId: sample.sampleId,\n      project: sample.project,\n      lineNumber: sample.lineNumber,\n      index: index6bp,\n      lane: lane\n    });\n  });\n  \n  // Find conflicts\n  Object.entries(singleIndexSamples).forEach(([key, samples]) => {\n    if (samples.length > 1) {\n      const [index, lane] = key.split('_');\n      \n      conflicts.push({\n        type: 'error',\n        lane: lane.replace('Lane', ''),\n        index6bp: index,\n        conflictingSamples: samples.map(s => s.sampleId).join(', '),\n        projects: [...new Set(samples.map(s => s.project))].join(', '),\n        count: samples.length,\n        message: `Lane ${lane.replace('Lane', '')}: 6bp index ${index} used by ${samples.length} single-index samples: ${samples.map(s => s.sampleId).join(', ')}`\n      });\n    }\n  });\n}\n\nconst hasConflicts = conflicts.length > 0;\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    indexConflicts6bp: {\n      conflicts: conflicts,\n      hasConflicts: hasConflicts,\n      conflictCount: conflicts.length,\n      singleIndexSampleCount: singleIndexOnly.length\n    },\n    has6bpConflicts: hasConflicts\n  }\n}];"
      },
      "id": "59444c84-f3bb-4ade-bb73-f506b8b18d85",
      "name": "Validate 6bp Index Conflicts1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3488,
        1184
      ]
    },
    {
      "parameters": {
        "jsCode": "// Compile all validation results\nconst duplicateValidation = $input.first().json.duplicateValidation || [];\nconst indexValidation = $input.first().json.indexValidation || {};\nconst conflicts8bp = $input.first().json.indexConflicts8bp || {};\nconst conflicts6bp = $input.first().json.indexConflicts6bp || {};\n\n// Collect all errors and warnings\nconst allErrors = [];\nconst allWarnings = [];\n\n// Add index validation errors\nif (indexValidation.errors) {\n  allErrors.push(...indexValidation.errors);\n}\n\n// Add index validation warnings\nif (indexValidation.warnings) {\n  allWarnings.push(...indexValidation.warnings);\n}\n\n// Add duplicate warnings\nif (duplicateValidation.length > 0) {\n  allWarnings.push(...duplicateValidation);\n}\n\n// Add 8bp conflicts as errors\nif (conflicts8bp.conflicts && conflicts8bp.conflicts.length > 0) {\n  allErrors.push(...conflicts8bp.conflicts);\n}\n\n// Add 6bp conflicts as errors\nif (conflicts6bp.conflicts && conflicts6bp.conflicts.length > 0) {\n  allErrors.push(...conflicts6bp.conflicts);\n}\n\n// Determine overall validation status\nconst hasErrors = allErrors.length > 0;\nconst hasWarnings = allWarnings.length > 0;\nconst isValid = !hasErrors;\n\n// Create summary message\nlet summaryMessage = '';\nif (isValid && !hasWarnings) {\n  summaryMessage = `✅ SampleSheet validation passed. ${$input.first().json.sampleCount} samples validated successfully.`;\n} else if (isValid && hasWarnings) {\n  summaryMessage = `⚠️ SampleSheet validation passed with ${allWarnings.length} warning(s). ${$input.first().json.sampleCount} samples processed.`;\n} else {\n  summaryMessage = `❌ SampleSheet validation failed with ${allErrors.length} error(s) and ${allWarnings.length} warning(s).`;\n}\n\n// Format detailed report\nlet detailedReport = summaryMessage + '\\n\\n';\n\nif (allErrors.length > 0) {\n  detailedReport += '=== ERRORS ===\\n';\n  allErrors.forEach((error, idx) => {\n    detailedReport += `${idx + 1}. ${error.message || error}\\n`;\n  });\n  detailedReport += '\\n';\n}\n\nif (allWarnings.length > 0) {\n  detailedReport += '=== WARNINGS ===\\n';\n  allWarnings.forEach((warning, idx) => {\n    detailedReport += `${idx + 1}. ${warning.message || warning}\\n`;\n  });\n  detailedReport += '\\n';\n}\n\n// Add statistics\ndetailedReport += '=== STATISTICS ===\\n';\ndetailedReport += `Total samples: ${$input.first().json.sampleCount}\\n`;\ndetailedReport += `Duplicate Sample_IDs handled: ${$input.first().json.hasDuplicates ? 'Yes' : 'No'}\\n`;\ndetailedReport += `8bp index conflicts: ${conflicts8bp.conflictCount || 0}\\n`;\ndetailedReport += `6bp index conflicts: ${conflicts6bp.conflictCount || 0}\\n`;\ndetailedReport += `Single-index samples: ${conflicts6bp.singleIndexSampleCount || 0}\\n`;\n\nreturn [{\n  json: {\n    ...($input.first().json),\n    validationSummary: {\n      isValid: isValid,\n      hasErrors: hasErrors,\n      hasWarnings: hasWarnings,\n      errorCount: allErrors.length,\n      warningCount: allWarnings.length,\n      errors: allErrors,\n      warnings: allWarnings,\n      summaryMessage: summaryMessage,\n      detailedReport: detailedReport\n    }\n  }\n}];"
      },
      "id": "c45a62bf-50c2-40af-ae68-fb13269e0057",
      "name": "Compile Validation Results1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3680,
        1184
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=FOLDER_PATH=\"{{ $json.runFolder }}\"\nFOLDER_NAME=\"{{ $json.runId }}\"\nHAS_SAMPLESHEET=\"false\"\n\nif [ -f \"$FOLDER_PATH/SampleSheet.csv\" ]; then\n    HAS_SAMPLESHEET=\"true\"\nfi\n\necho $HAS_SAMPLESHEET"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        848,
        1216
      ],
      "id": "b909f790-14f3-466e-b239-2d7fdd0eed53",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f83be40d-a582-448f-b7f4-88b85f029d10",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1168,
        1216
      ],
      "id": "5545b299-bd5d-4cb8-8685-198d97de4235",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2720c44a-43c2-4153-9e4e-48845a43ef97",
              "leftValue": "={{ $json.validationSummary.isValid }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3936,
        1184
      ],
      "id": "8d0a58f3-20c5-4974-a54e-7f81545d69c5",
      "name": "check if samplesheet is valid1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.hasIndexErrors }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    },
                    "id": "42cdd9c4-5e4a-4052-b5d5-bbf9b429197d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "index_error"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "5f63dbef-41f0-4c8d-9e8a-6dde2692a97f",
                    "leftValue": "={{ $json.has8bpConflicts }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "8bpConflict"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "bd271c86-d605-4abf-9ebf-8daa027570d8",
                    "leftValue": "={{ $json.has6bpConflicts }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "true",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "6bpConflict"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        4320,
        1184
      ],
      "id": "215f7e39-c062-42a4-9aec-eada82850e9f",
      "name": "Switch1"
    },
    {
      "parameters": {
        "toRecipients": "sinan.erdem@gen-era.com.tr",
        "subject": "=index error found:  {{ $('When Executed by Another Workflow').item.json.runId }}",
        "bodyContent": "={{ $('Validate Index Sequences').item.json.indexValidation.errors }}\n\n{{ $('Validate Index Sequences').item.json.indexValidation.warnings }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4592,
        1056
      ],
      "id": "3bb692e7-daba-4314-9c12-624a045b2c55",
      "name": "Send a message4",
      "webhookId": "b5f2ca9a-87ed-4e3d-aadb-21e21bd498bb",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "H8UQaAqG4uOkMeE6",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "sinan.erdem@gen-era.com.tr",
        "subject": "=conflict was found:  {{ $('When Executed by Another Workflow').item.json.runId }}",
        "bodyContent": "={{ $('Validate 8bp Index Conflicts').item.json.indexConflicts8bp.conflicts }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4592,
        1200
      ],
      "id": "a666393b-dec7-4d1d-b736-58e63b3bb1c7",
      "name": "Send a message5",
      "webhookId": "b5f2ca9a-87ed-4e3d-aadb-21e21bd498bb",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "H8UQaAqG4uOkMeE6",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "toRecipients": "sinan.erdem@gen-era.com.tr",
        "subject": "=Conflict was found:  {{ $('When Executed by Another Workflow').item.json.runId }}",
        "bodyContent": "={{ $('Validate 6bp Index Conflicts').item.json.indexConflicts6bp.conflicts }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        4592,
        1360
      ],
      "id": "4e15075b-475d-4b02-af46-d4fdd6f5a51e",
      "name": "Send a message6",
      "webhookId": "b5f2ca9a-87ed-4e3d-aadb-21e21bd498bb",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "H8UQaAqG4uOkMeE6",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "command": "=touch  {{ $('When Executed by Another Workflow').item.json.runFolder }}/SampleSheetError.txt"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        4288,
        1568
      ],
      "id": "c5569119-cfbb-40e5-9ddf-978877bc4d21",
      "name": "generate SampleSheetError.txt1"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "ZHgMRKYDgvkEHsu0",
          "mode": "list",
          "cachedResultUrl": "/workflow/ZHgMRKYDgvkEHsu0",
          "cachedResultName": "SampleSheet Generator"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1984,
        1472
      ],
      "id": "51eeff60-49c5-4aaa-84d9-647b3cc41e8c",
      "name": "SampleSheet Generator1"
    },
    {
      "parameters": {
        "mode": "chooseBranch",
        "useDataOfInput": 2
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1408,
        1472
      ],
      "id": "705aa85f-afd8-4928-95b3-6ac54d367958",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "691a2d99-3f07-4d4f-9a38-025831062713",
              "name": "path",
              "value": "={{ $json.runFolder }}",
              "type": "string"
            },
            {
              "id": "3f3bf628-dc95-45f2-96f2-f76682af5139",
              "name": "run_id",
              "value": "={{ $json.runId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1696,
        1472
      ],
      "id": "3292859f-790f-4721-aaf0-6848b0572672",
      "name": "Edit Fields"
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Read SampleSheet1": {
      "main": [
        [
          {
            "node": "Parse SampleSheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SampleSheet1": {
      "main": [
        [
          {
            "node": "Validate Duplicate Sample_IDs1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Validate Duplicate Sample_IDs1": {
      "main": [
        [
          {
            "node": "Validate Index Sequences1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Index Sequences1": {
      "main": [
        [
          {
            "node": "Validate 8bp Index Conflicts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate 8bp Index Conflicts1": {
      "main": [
        [
          {
            "node": "Validate 6bp Index Conflicts1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate 6bp Index Conflicts1": {
      "main": [
        [
          {
            "node": "Compile Validation Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Validation Results1": {
      "main": [
        [
          {
            "node": "check if samplesheet is valid1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Read SampleSheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "check if samplesheet is valid1": {
      "main": [
        [],
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          },
          {
            "node": "generate SampleSheetError.txt1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Send a message4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SampleSheet Generator1": {
      "main": [
        [
          {
            "node": "Read SampleSheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "SampleSheet Generator1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "runFolder": "/mnt/smb_share/Runs/251126_NDX550412_RUO_0085_AHW2TGBGYX",
          "runId": "251126_NDX550412_RUO_0085_AHW2TGBGYX"
        }
      }
    ]
  },
  "versionId": "4e795d2a-e9f2-4b13-9c48-947d76b2c05b",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-08-19T10:34:27.623Z",
      "createdAt": "2025-08-19T10:34:27.623Z",
      "role": "workflow:owner",
      "workflowId": "RA9lo1Okr9KrJgIp",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}