Sophia VCF Downloader.json
{
  "updatedAt": "2026-01-02T05:34:57.000Z",
  "createdAt": "2025-12-24T08:09:58.767Z",
  "id": "CuWJaHlFoyXcmolp",
  "name": "Sophia VCF Downloader",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        160
      ],
      "id": "9eb09f28-7a2d-4000-bdae-aa920749c193",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /usr/local/bin/ && python3 sg-upload-v2-wrapper login-iam --client-id {{ $json.platform_site_meta }} --force-platform "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -64,
        160
      ],
      "id": "164214f1-71e5-4712-9a96-5cfc111b47bc",
      "name": "Account Login",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    csc.uniqueref AS credential_uniqueref,\n    csc.care_site_ref,\n    csc.platform_concept_ref,\n    c.concept_name AS platform_name,\n    csc.platform_site_id,\n    csc.platform_site_password,\n    csc.platform_site_meta,\n    csc.is_active AS credential_is_active,\n    cs.care_site_id,\n    cs.care_site_name,\n    cs.care_site_source_value,\n    cs.place_of_service_concept_id,\n    pos.concept_name AS place_of_service_name\nFROM \n    care_site_credentials csc\nINNER JOIN \n    care_site cs ON csc.care_site_ref = cs.uniqueref\nLEFT JOIN \n    concepts c ON csc.platform_concept_ref = c.uniqueref\nLEFT JOIN \n    concepts pos ON cs.place_of_service_concept_id = pos.uniqueref\nWHERE \n    csc.platform_concept_ref = 11\nORDER BY \n    csc.uniqueref;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        160
      ],
      "id": "cdb6cb61-c6a9-4c1a-a0a6-44db92c65a99",
      "name": "Get All Accounts",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "PG-ALB-1.5"
        }
      }
    },
    {
      "parameters": {
        "command": "=cd /usr/local/bin/ && python3 sg-upload-v2-wrapper status --limit 99999"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        192,
        160
      ],
      "id": "a79cf41c-91ed-48bf-ab83-f3770a51e0a0",
      "name": "Get Batches",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $json;\n\nconst lines = inputData.stdout.split('\\n').filter(line => line.trim() !== '');\nconst jobs = [];\n\nlines.forEach(line => {\n  const jobMatch = line.match(/^(\\d+):\\s*(.+)$/);\n  if (jobMatch) {\n    jobs.push({\n      id: parseInt(jobMatch[1]),\n      status: jobMatch[2].trim()\n    });\n  }\n});\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        160
      ],
      "id": "d1072f37-2971-4dea-a9aa-47d0ec86e0a2",
      "name": "Tidy Batches",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f597f16b-1506-4f09-be80-a40f2e885ef8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        656,
        160
      ],
      "id": "f2c674b4-774d-43ea-b31f-0d5896b2eeb8",
      "name": "Filter Finished"
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --list --run-id {{ $json.id }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1120,
        160
      ],
      "id": "9674a5ba-fece-4e8d-948f-6f1355d0a3f9",
      "name": "Get Samples from the Batch",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen stdout verisini parse et\nconst stdout = $input.item.json.stdout;\n\n// İlk satırı bul (JSON array başlangıcı)\nconst jsonStart = stdout.indexOf('[');\nconst jsonEnd = stdout.lastIndexOf(']') + 1;\nconst jsonString = stdout.substring(jsonStart, jsonEnd);\n\n// JSON'u parse et\nconst files = JSON.parse(jsonString);\n\n// Her dosya için bir output item oluştur\nconst outputItems = files.map(file => ({\n  json: {\n    name: file.name,\n    id: file.id,\n    type: file.ioType || 'N/A',\n    size_bytes: file.contentLength,\n    size_mb: (file.contentLength / (1024 * 1024)).toFixed(2),\n    created_at: file.createdAt,\n    analysis_id: file.analysisId || 'N/A',\n    user_ref: file.userRef || 'N/A',\n    md5: file.contentMd5,\n    downloadable: file.downloadable\n  }\n}));\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1376,
        160
      ],
      "id": "14fdbf51-4831-4b1a-9182-6cb1713dccca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e87dad7-c898-467d-8306-dfd4f15d0e8f",
              "leftValue": "={{ $json.name }}",
              "rightValue": "full_variant_table.vcf",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1584,
        160
      ],
      "id": "c4d15478-f5e3-4f61-aca9-5988f9ada3b6",
      "name": "Filter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -288,
        160
      ],
      "id": "ac5f309d-e816-4852-b3ea-24f9fb32ed2e",
      "name": "Loop Over Accounts"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -528,
        160
      ],
      "id": "2517e838-f885-46fa-b597-2879e8cf5dbb",
      "name": "Limit"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        880,
        160
      ],
      "id": "83350962-afcb-43e4-ae6d-afdb5e17c555",
      "name": "Loop Over Batches"
    },
    {
      "parameters": {
        "jsCode": "const files = $input.all();\n\n// Loop Over Accounts'tan bilgileri al\nconst accountItem = $('Loop Over Accounts').item.json;\nconst batchItem = $('Loop Over Batches').item.json;\n\nconst fileList = files.map(f => ({\n  id: f.json.id,\n  user_ref: f.json.user_ref,\n  name: f.json.name\n}));\n\nreturn [{\n  json: {\n    files: fileList,\n    file_count: fileList.length,\n    care_site_id: accountItem.care_site_id,\n    care_site_name: accountItem.care_site_name,\n    batch_id: batchItem.id\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        160
      ],
      "id": "5a029c92-2cfe-4f06-8149-278ee0c36440",
      "name": "Prepare Batch Download"
    },
    {
      "parameters": {
        "command": "=BASE_PATH=\"/mnt/smb_peta/Data_Consolidation/external/sophia/{{ $json.care_site_id }} - {{ $json.care_site_name }}/Batch {{ $json.batch_id }}\"\nmkdir -p \"$BASE_PATH\"\n\nFILE_COUNT={{ $json.file_count }}\n\nfor i in $(seq 0 $((FILE_COUNT - 1))); do\n  FILE_ID=$(echo '{{ JSON.stringify($json.files) }}' | jq -r \".[$i].id\")\n  USER_REF=$(echo '{{ JSON.stringify($json.files) }}' | jq -r \".[$i].user_ref\")\n  FILE_NAME=$(echo '{{ JSON.stringify($json.files) }}' | jq -r \".[$i].name\")\n  \n  python3 /usr/local/bin/sg-upload-v2-wrapper file --download \\\n    --file-id \"$FILE_ID\" \\\n    --file-out \"$BASE_PATH/${USER_REF}_${FILE_NAME}\"\n  \n  echo \"[$((i+1))/$FILE_COUNT] Downloaded: ${USER_REF}_${FILE_NAME}\"\ndone"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        2000,
        160
      ],
      "id": "17980def-eaaf-4e49-981e-a7b8695d6c9a",
      "name": "Download All VCFs"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get All Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Login": {
      "main": [
        [
          {
            "node": "Get Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Accounts": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batches": {
      "main": [
        [
          {
            "node": "Tidy Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Batches": {
      "main": [
        [
          {
            "node": "Filter Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Finished": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Samples from the Batch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Prepare Batch Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Accounts": {
      "main": [
        [],
        [
          {
            "node": "Account Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Loop Over Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Batches": {
      "main": [
        [],
        [
          {
            "node": "Get Samples from the Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Download": {
      "main": [
        [
          {
            "node": "Download All VCFs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download All VCFs": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "7d92b111-88d4-4d18-a1a9-1447612ffd88",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-24T08:09:58.779Z",
      "createdAt": "2025-12-24T08:09:58.779Z",
      "role": "workflow:owner",
      "workflowId": "CuWJaHlFoyXcmolp",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}