Sophia VCF Downloader.json
{
  "updatedAt": "2025-12-24T09:24:15.000Z",
  "createdAt": "2025-12-24T08:09:58.767Z",
  "id": "CuWJaHlFoyXcmolp",
  "name": "Sophia VCF Downloader",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -960,
        160
      ],
      "id": "9eb09f28-7a2d-4000-bdae-aa920749c193",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "executeOnce": false,
        "command": "=cd /usr/local/bin/ && python3 sg-upload-v2-wrapper login-iam --client-id {{ $json.platform_site_meta }} --force-platform "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -512,
        160
      ],
      "id": "164214f1-71e5-4712-9a96-5cfc111b47bc",
      "name": "Account Login",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "care_site_credentials",
          "mode": "list",
          "cachedResultName": "care_site_credentials"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "uniqueref",
              "value": "3"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -736,
        160
      ],
      "id": "cdb6cb61-c6a9-4c1a-a0a6-44db92c65a99",
      "name": "Get All Accounts",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "command": "=cd /usr/local/bin/ && python3 sg-upload-v2-wrapper status --limit 2"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -256,
        160
      ],
      "id": "a79cf41c-91ed-48bf-ab83-f3770a51e0a0",
      "name": "Get Batches",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $json;\n\nconst lines = inputData.stdout.split('\\n').filter(line => line.trim() !== '');\nconst jobs = [];\n\nlines.forEach(line => {\n  const jobMatch = line.match(/^(\\d+):\\s*(.+)$/);\n  if (jobMatch) {\n    jobs.push({\n      id: parseInt(jobMatch[1]),\n      status: jobMatch[2].trim()\n    });\n  }\n});\n\nreturn jobs;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -16,
        160
      ],
      "id": "d1072f37-2971-4dea-a9aa-47d0ec86e0a2",
      "name": "Tidy Batches",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        464,
        160
      ],
      "id": "83350962-afcb-43e4-ae6d-afdb5e17c555",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "33a26eba-abad-4aa6-897e-21c97ae58170",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "=read-counts-overview-table.csv",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        1040
      ],
      "id": "b6129dd7-1fe2-47ee-bd03-d1ae03347626",
      "name": "Is QC Exists",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file -l --run-id {{ $json.batch_source_value }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        384,
        1040
      ],
      "id": "051dd878-50b0-4a3c-b358-b0a6822164ad",
      "name": "Get File List"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "batch_source_value": "={{ $('Loop Over Batches').item.json.batch_source_value }}",
            "status_concept_ref": 27,
            "error_text": "No metrics file found."
          },
          "matchingColumns": [
            "batch_source_value"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        864,
        1200
      ],
      "id": "bc850c6c-df10-48bc-9b4b-383c364f8bfa",
      "name": "Update Data OPs as Failed",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "numberInputs": 5,
        "query": "SELECT * FROM input1 \nLEFT JOIN input2 ON input1.[DDM Patient ID] = input2.[DDM Patient ID]\nLEFT JOIN input3 ON input1.[DDM Patient ID] = input3.[DDM Patient ID]\nLEFT JOIN input4 ON input1.[DDM Patient ID] = input4.[DDM Patient ID]\nLEFT JOIN input5 ON input1.[DDM Patient ID] = input5.[DDM Patient ID]",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1760,
        976
      ],
      "id": "be873861-8b31-4e12-847e-81b2a1b8daec",
      "name": "Merge",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0f2a4d16-0973-4bd0-83be-45f6b116d161",
              "leftValue": "={{ $json.name }}",
              "rightValue": "read-counts-overview-table.csv",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "b886ca45-b833-4096-b73c-bd0d0ece2042",
              "leftValue": "={{ $json.analysisId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        464
      ],
      "id": "cbcea5bc-cd9d-4c63-873a-17b76cee1b58",
      "name": "Get Reads File",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --download --file-id {{ $json.id }} --file-out qctmp-{{ $json.id }}-{{ $json.name }} >/dev/null 2>&1 && grep -v '#' qctmp-{{ $json.id }}-{{ $json.name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1328,
        464
      ],
      "id": "766d0272-f165-4a97-9b43-9dfd38a4a7fc",
      "name": "Get Reads",
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const csvData = $input.first().json.stdout;\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, ''));\n\nreturn lines.slice(1).map(line => {\n    const values = line.split(',').map(v => v.replace(/\"/g, ''));\n    const obj = {};\n    headers.forEach((header, i) => obj[header] = values[i] || '');\n    return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        464
      ],
      "id": "1839c310-f5f9-4868-a2e7-254a28af92ec",
      "name": "Tidy Reads",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "261f0ee1-cad9-47ec-b245-ba37ad2156ac",
              "leftValue": "={{ $json.name }}",
              "rightValue": "pcr-duplicates-table",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "68393c9d-b2ce-4308-972a-5877d22a2e69",
              "leftValue": "={{ $json.analysisId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        608
      ],
      "id": "6ff66785-69d8-4f1c-a4c5-526744383914",
      "name": "Get Dups File",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --download --file-id {{ $json.id }} --file-out qctmp-{{ $json.id }}-{{ $json.name }} >/dev/null 2>&1 && grep -v '#' qctmp-{{ $json.id }}-{{ $json.name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1328,
        608
      ],
      "id": "515522b5-0fd3-43d9-97e3-66e2c156b194",
      "name": "Get Dups",
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const csvData = $input.first().json.stdout;\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, ''));\n\nreturn lines.slice(1).map(line => {\n    const values = line.split(',').map(v => v.replace(/\"/g, ''));\n    const obj = {};\n    headers.forEach((header, i) => obj[header] = values[i] || '');\n    return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        608
      ],
      "id": "ccd5087b-9f67-41dc-994a-04fdc265efbb",
      "name": "Tidy Dups",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "261f0ee1-cad9-47ec-b245-ba37ad2156ac",
              "leftValue": "={{ $json.name }}",
              "rightValue": "ontarget-mapping-statistics-table",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "68393c9d-b2ce-4308-972a-5877d22a2e69",
              "leftValue": "={{ $json.analysisId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        752
      ],
      "id": "a78ba1fd-a820-45aa-86df-218694618ba4",
      "name": "Get Mapping File",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const csvData = $input.first().json.stdout;\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, ''));\n\nreturn lines.slice(1).map(line => {\n    const values = line.split(',').map(v => v.replace(/\"/g, ''));\n    const obj = {};\n    headers.forEach((header, i) => obj[header] = values[i] || '');\n    return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        752
      ],
      "id": "3b726fb7-5894-4523-a93d-8c1c91e50ddf",
      "name": "Tidy Mapping",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "261f0ee1-cad9-47ec-b245-ba37ad2156ac",
              "leftValue": "={{ $json.name }}",
              "rightValue": "softclip-percentage-table",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "68393c9d-b2ce-4308-972a-5877d22a2e69",
              "leftValue": "={{ $json.analysisId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        896
      ],
      "id": "7a5d9ff3-d711-4afc-9b7c-5d5db5b5c32d",
      "name": "Get Clipping File",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --download --file-id {{ $json.id }} --file-out qctmp-{{ $json.id }}-{{ $json.name }} >/dev/null 2>&1 && grep -v '#' qctmp-{{ $json.id }}-{{ $json.name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1328,
        752
      ],
      "id": "eab8dade-1a64-42a1-a38f-6f615c5317c1",
      "name": "Get Mapping",
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --download --file-id {{ $json.id }} --file-out qctmp-{{ $json.id }}-{{ $json.name }} >/dev/null 2>&1 && grep -v '#' qctmp-{{ $json.id }}-{{ $json.name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1328,
        896
      ],
      "id": "a1bb19b0-305f-48e2-81a0-368dbbadd688",
      "name": "Get Clipping",
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const csvData = $input.first().json.stdout;\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, ''));\n\nreturn lines.slice(1).map(line => {\n    const values = line.split(',').map(v => v.replace(/\"/g, ''));\n    const obj = {};\n    headers.forEach((header, i) => obj[header] = values[i] || '');\n    return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        896
      ],
      "id": "7242e1fa-f398-453b-aa1c-5ce1f37b0bdf",
      "name": "Tidy Clipping",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "261f0ee1-cad9-47ec-b245-ba37ad2156ac",
              "leftValue": "={{ $json.name }}",
              "rightValue": "target-region-coverage-table",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "68393c9d-b2ce-4308-972a-5877d22a2e69",
              "leftValue": "={{ $json.analysisId }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "notExists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1120,
        1040
      ],
      "id": "1634dc14-ee74-479b-a8a5-96ea05716351",
      "name": "Get Coverage File",
      "alwaysOutputData": false,
      "executeOnce": false,
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --download --file-id {{ $json.id }} --file-out qctmp-{{ $json.id }}-{{ $json.name }} >/dev/null 2>&1 && grep -v '#' qctmp-{{ $json.id }}-{{ $json.name }}"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1328,
        1040
      ],
      "id": "8cb0fbba-101f-49c0-941f-fadc61e9e428",
      "name": "Get Coverage",
      "executeOnce": true,
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const csvData = $input.first().json.stdout;\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',').map(h => h.replace(/\"/g, ''));\n\nreturn lines.slice(1).map(line => {\n    const values = line.split(',').map(v => v.replace(/\"/g, ''));\n    const obj = {};\n    headers.forEach((header, i) => obj[header] = values[i] || '');\n    return { json: obj };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        1040
      ],
      "id": "a45d3dad-5213-4530-b6d4-e2f4541e204e",
      "name": "Tidy Coverage",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "concepts",
          "mode": "list",
          "cachedResultName": "concepts"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "concept_class_id",
              "value": "Analysis Metric - Sophia Genetics"
            }
          ]
        },
        "options": {
          "outputColumns": [
            "uniqueref",
            "concept_name"
          ]
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        976
      ],
      "id": "c2892abc-991d-441c-b958-a7a5240702b0",
      "name": "Get Sophia QC Concepts",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -16,
        1040
      ],
      "id": "13ee47f1-91bb-4e95-bfef-017fbe71cb63",
      "name": "Loop Over Batches",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT DISTINCT\n    data_operations.batch_source_value\nFROM \n    data_operations\nJOIN \n    reads ON data_operations.read_ref = reads.uniqueref\nWHERE \n    data_operations.recipe_ref = 5\n    AND data_operations.status_concept_ref = 24\n    AND reads.requesting_caresite_ref = {{ $('Get All Accounts').item.json.care_site_ref }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        1040
      ],
      "id": "53715eef-8415-405e-bdf1-347b865fa358",
      "name": "Pull QC Retrieval Waiting Batches",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// stdout'u al\nconst stdoutData = $input.first().json.stdout;\n\n// İlk satırı al (JSON kısmı)\nconst jsonString = stdoutData.split('\\n')[0];\n\n// JSON'u parse et\nconst fileList = JSON.parse(jsonString);\n\n// Her dosyayı ayrı item olarak döndür\nreturn fileList.map(file => ({\n  json: {\n    name: file.name,\n    id: file.id,\n    filename: file.filename,\n    contentLength: file.contentLength,\n    ioType: file.ioType,\n    createdAt: file.createdAt\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        1040
      ],
      "id": "df414812-2f62-44d1-a73f-3891fb6c4b14",
      "name": "Tidy Files",
      "disabled": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7eb8c19c-3c17-4eff-96a3-4122899bd2fc",
              "name": "analysis_source_value",
              "value": "={{ $json['DDM Patient ID'].split('-')[0] }}",
              "type": "string"
            },
            {
              "id": "c65454fe-8932-4b9f-a9c9-04b9653d05c8",
              "name": "Soft clip both ends",
              "value": "={{ $json[\"Soft clip both ends\"].split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "fb7ff241-d2e4-4d71-ad9c-52267309aca6",
              "name": "Front soft clip",
              "value": "={{ $json[\"Front soft clip\"].split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "27a9226c-4feb-4375-9b02-047b7f7503e6",
              "name": "End soft clip",
              "value": "={{ $json[\"End soft clip\"].split(' ')[0] }}",
              "type": "string"
            },
            {
              "id": "459b7ef2-8555-4149-8a00-616246500df1",
              "name": "",
              "value": "",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2080,
        1184
      ],
      "id": "16bddf3b-34d3-49ee-95e7-37d39ff27627",
      "name": "Metric Correction",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status_concept_ref": 29,
            "uniqueref": "={{ $json.data_operations_ref }}"
          },
          "matchingColumns": [
            "uniqueref"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "read_ref",
              "displayName": "read_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "recipe_ref",
              "displayName": "recipe_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status_concept_ref",
              "displayName": "status_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "performed_at",
              "displayName": "performed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "batch_source_value",
              "displayName": "batch_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "error_text",
              "displayName": "error_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "operator_ref",
              "displayName": "operator_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "analysis_source_value",
              "displayName": "analysis_source_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3472,
        1296
      ],
      "id": "df11d2a3-9aff-454e-9366-afe77a964e6b",
      "name": "Update Data OPs as Completed",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "measurement_reads",
          "mode": "list",
          "cachedResultName": "measurement_reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value_as_number": "={{ $json.value }}",
            "data_operations_ref": "={{ $json.data_operation_ref }}",
            "measurement_concept_ref": "={{ $json.uniqueref }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "reads_ref",
              "displayName": "reads_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "measurement_concept_ref",
              "displayName": "measurement_concept_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "value_as_number",
              "displayName": "value_as_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "data_operations_ref",
              "displayName": "data_operations_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3296,
        976
      ],
      "id": "f18bedf7-63ea-48df-8adc-fe68d90a0692",
      "name": "Insert Measurement Read Records",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst allTransposed = [];\n\n// Her bir kayıt için transpose işlemi yap\nitems.forEach(item => {\n  const data = item.json;\n  const refValue = data.data_operation_ref;\n  \n  // data_operation_ref dışındaki tüm alanları al\n  const keys = Object.keys(data).filter(key => key !== 'data_operation_ref');\n  \n  // Bu kayıt için transpose\n  keys.forEach(key => {\n    allTransposed.push({\n      data_operation_ref: refValue,\n      field: key,\n      value: data[key]\n    });\n  });\n});\n\nreturn allTransposed.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2656,
        1168
      ],
      "id": "703adca1-a01e-452b-b87c-e964c2953823",
      "name": "Transpose Measurements",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "concept_name",
              "field2": "field"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2896,
        976
      ],
      "id": "e68fa146-7dc3-41c8-8597-9faca13cd4b8",
      "name": "Add Refs to Transposed Results",
      "disabled": true
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "data_operations",
          "mode": "list",
          "cachedResultName": "data_operations"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "batch_source_value",
              "value": "={{ $('Loop Over Batches').item.json.batch_source_value }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1984,
        976
      ],
      "id": "50b36fda-2093-4c65-88a7-d79a35a6becb",
      "name": "Get Data Ops Refs",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "06249aa2-b31a-48c2-8e20-5f1c3433b180",
              "name": "data_operation_ref",
              "value": "={{ $json.uniqueref }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "analysis_source_value",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2176,
        976
      ],
      "id": "23dc7d94-50f4-4408-b887-29ff1a4938ab",
      "name": "Create New Variable",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "combine",
        "fieldsToMatchString": "analysis_source_value",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2416,
        976
      ],
      "id": "af3952f0-02eb-470f-86ca-10898d72b2fd",
      "name": "Add Data OP Ref to Metrics",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f597f16b-1506-4f09-be80-a40f2e885ef8",
              "leftValue": "={{ $json.status }}",
              "rightValue": "Finished",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        240,
        160
      ],
      "id": "f2c674b4-774d-43ea-b31f-0d5896b2eeb8",
      "name": "Filter Finished"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c08bb13f-1de4-4e6d-890c-438f1605619f",
              "name": "value",
              "value": "={{ $json[\"value\"].split(' ')[0] }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3104,
        976
      ],
      "id": "e8f249ac-abbb-4c7e-a02e-d67f82bda477",
      "name": "Correction",
      "disabled": true
    },
    {
      "parameters": {
        "command": "=python3 /usr/local/bin/sg-upload-v2-wrapper file --list --run-id {{ $json.id }}\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        704,
        160
      ],
      "id": "9674a5ba-fece-4e8d-948f-6f1355d0a3f9",
      "name": "Get Samples from the Batch",
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "// Gelen stdout verisini parse et\nconst stdout = $input.item.json.stdout;\n\n// İlk satırı bul (JSON array başlangıcı)\nconst jsonStart = stdout.indexOf('[');\nconst jsonEnd = stdout.lastIndexOf(']') + 1;\nconst jsonString = stdout.substring(jsonStart, jsonEnd);\n\n// JSON'u parse et\nconst files = JSON.parse(jsonString);\n\n// Her dosya için bir output item oluştur\nconst outputItems = files.map(file => ({\n  json: {\n    name: file.name,\n    id: file.id,\n    type: file.ioType || 'N/A',\n    size_bytes: file.contentLength,\n    size_mb: (file.contentLength / (1024 * 1024)).toFixed(2),\n    created_at: file.createdAt,\n    analysis_id: file.analysisId || 'N/A',\n    user_ref: file.userRef || 'N/A',\n    md5: file.contentMd5,\n    downloadable: file.downloadable\n  }\n}));\n\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        176
      ],
      "id": "14fdbf51-4831-4b1a-9182-6cb1713dccca",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0e87dad7-c898-467d-8306-dfd4f15d0e8f",
              "leftValue": "={{ $json.name }}",
              "rightValue": ".vcf",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1232,
        176
      ],
      "id": "c4d15478-f5e3-4f61-aca9-5988f9ada3b6",
      "name": "Filter"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get All Accounts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Account Login": {
      "main": [
        [
          {
            "node": "Get Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Accounts": {
      "main": [
        [
          {
            "node": "Account Login",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Batches": {
      "main": [
        [
          {
            "node": "Tidy Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Batches": {
      "main": [
        [
          {
            "node": "Filter Finished",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get Samples from the Batch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is QC Exists": {
      "main": [
        [
          {
            "node": "Tidy Files",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update Data OPs as Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File List": {
      "main": [
        [
          {
            "node": "Is QC Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Data OPs as Failed": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Metric Correction",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Data Ops Refs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reads File": {
      "main": [
        [
          {
            "node": "Get Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Reads": {
      "main": [
        [
          {
            "node": "Tidy Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Reads": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dups File": {
      "main": [
        [
          {
            "node": "Get Dups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Dups": {
      "main": [
        [
          {
            "node": "Tidy Dups",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Dups": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Mapping File": {
      "main": [
        [
          {
            "node": "Get Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Mapping": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Get Clipping File": {
      "main": [
        [
          {
            "node": "Get Clipping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Mapping": {
      "main": [
        [
          {
            "node": "Tidy Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Clipping": {
      "main": [
        [
          {
            "node": "Tidy Clipping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Clipping": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Get Coverage File": {
      "main": [
        [
          {
            "node": "Get Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Coverage": {
      "main": [
        [
          {
            "node": "Tidy Coverage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Coverage": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Get Sophia QC Concepts": {
      "main": [
        [
          {
            "node": "Add Refs to Transposed Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Batches": {
      "main": [
        [],
        [
          {
            "node": "Get File List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull QC Retrieval Waiting Batches": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tidy Files": {
      "main": [
        [
          {
            "node": "Get Reads File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Dups File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Mapping File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Clipping File",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Coverage File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Metric Correction": {
      "main": [
        [
          {
            "node": "Add Data OP Ref to Metrics",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Update Data OPs as Completed": {
      "main": [
        [
          {
            "node": "Loop Over Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Measurement Read Records": {
      "main": [
        [
          {
            "node": "Update Data OPs as Completed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transpose Measurements": {
      "main": [
        [
          {
            "node": "Add Refs to Transposed Results",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Add Refs to Transposed Results": {
      "main": [
        [
          {
            "node": "Correction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Data Ops Refs": {
      "main": [
        [
          {
            "node": "Create New Variable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Variable": {
      "main": [
        [
          {
            "node": "Add Data OP Ref to Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Data OP Ref to Metrics": {
      "main": [
        [
          {
            "node": "Get Sophia QC Concepts",
            "type": "main",
            "index": 0
          },
          {
            "node": "Transpose Measurements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Finished": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Correction": {
      "main": [
        [
          {
            "node": "Insert Measurement Read Records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Samples from the Batch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "dbd41460-de82-4400-b756-88d82673c50a",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-24T08:09:58.779Z",
      "createdAt": "2025-12-24T08:09:58.779Z",
      "role": "workflow:owner",
      "workflowId": "CuWJaHlFoyXcmolp",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}