Sub - Log Read Counts.json.json
{
  "updatedAt": "2025-12-23T11:30:05.000Z",
  "createdAt": "2025-12-20T08:27:11.829Z",
  "id": "ZCR88Eupzp3GBpO3",
  "name": "Sub - Log Read Counts",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "command": "=cat {{ $('Find Conversions').item.json.stdout }}Reports/Demultiplex_stats.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1776,
        -32
      ],
      "id": "5624fc4c-ba85-46e5-bf07-d3539127e7f5",
      "name": "Extract Demux"
    },
    {
      "parameters": {
        "jsCode": "// Workflow kontrolü\nconst workflowType = $('Select Conversion Ref').first().json.workflowType;\nconst csvData = $input.first().json.stdout;  // ← .item yerine .first() kullan\nconst lines = csvData.trim().split('\\n');\nconst headers = lines[0].split(',');\n\n// CSV'yi objelere parse et\nconst parsedData = lines.slice(1).map(line => {\n  const values = line.split(',');\n  const obj = {};\n  headers.forEach((header, index) => {\n    const key = header.trim();\n    obj[key] = values[index]?.trim() || '';\n  });\n  return obj;\n});\n\nlet result;\n\nif (workflowType === \"Standard Workflow\") {\n  // SampleID'ye göre grupla ve reads'leri topla\n  const grouped = {};\n  \n  parsedData.forEach(item => {\n    const sampleId = item['SampleID'];\n    \n    if (!grouped[sampleId]) {\n      // İlk kez görülen sample - kopyala\n      grouped[sampleId] = { ...item };\n      grouped[sampleId]['# Reads'] = parseInt(item['# Reads'].replace(/,/g, '')) || 0;\n      grouped[sampleId]['Lane'] = '0';  // Lane'i 0 yap\n    } else {\n      // Zaten var - reads'i ekle\n      grouped[sampleId]['# Reads'] += parseInt(item['# Reads'].replace(/,/g, '')) || 0;\n    }\n  });\n  \n  // Objeyi array'e çevir\n  result = Object.values(grouped);\n  \n} else {\n  // Normal workflow - olduğu gibi bırak\n  result = parsedData;\n}\n\nreturn result.map(item => ({ json: item }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -32
      ],
      "id": "4c2d49e8-ee76-4de5-913f-411d45fe8664",
      "name": "Parse Demux"
    },
    {
      "parameters": {
        "command": "=cat {{ $('Find Conversions').item.json.stdout }}Reports/SampleSheet.csv"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1776,
        -272
      ],
      "id": "c97bc02c-4028-4d20-8f3d-87d5ba0efb56",
      "name": "Extract SampleSheet"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "Sample_ID",
              "field2": "SampleID"
            },
            {
              "field1": "Lane",
              "field2": "Lane"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2272,
        -48
      ],
      "id": "9cc81eb2-2a55-4663-9bab-c78b0fc3111e",
      "name": "Merge Demux and SampleSheet"
    },
    {
      "parameters": {
        "jsCode": "// cat komutundan gelen stdout'u al\nconst inputText = $json.stdout;\n\n// Input kontrolü\nif (!inputText || typeof inputText !== 'string') {\n  throw new Error('stdout bulunamadı veya string değil');\n}\n\n// [Data] bölümünü bul ve parse et\nconst dataSectionMatch = inputText.split('Data]');\nif (dataSectionMatch.length < 2) {\n  throw new Error('Sample sheet içinde [Data] section bulunamadı');\n}\n\nconst dataSection = dataSectionMatch[1];\n\n// Satırlara böl ve boş satırları temizle\nconst lines = dataSection.trim().split('\\n').filter(line => line.trim());\nif (lines.length < 2) {\n  throw new Error('[Data] section\\'da yeterli satır yok');\n}\n\n// İlk satır header\nconst headers = lines[0].split(',');\n\n// Lane sütunu var mı kontrol et\nconst hasLaneColumn = headers.includes('Lane');\n\n// Geri kalan satırlar sample verileri\nconst samples = [];\nfor (let i = 1; i < lines.length; i++) {\n  const values = lines[i].split(',');\n  \n  // Her satırı objeye çevir\n  const sample = {};\n  headers.forEach((header, index) => {\n    sample[header] = values[index] || '';\n  });\n  \n  // Lane sütunu yoksa ekle ve 0 değeri ata\n  if (!hasLaneColumn) {\n    sample['Lane'] = '0';\n  }\n  \n  samples.push(sample);\n}\n\n// Output olarak döndür - her sample ayrı item\nreturn samples.map(sample => ({ json: sample }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        -272
      ],
      "id": "24e2ce46-26b4-40e0-b327-f00565c53ae3",
      "name": "Parse SampleSheet"
    },
    {
      "parameters": {
        "command": "=fdfind \"{{ $json.id_source_value }}$\" /mnt/smb_share/Conversions/ /mnt/illuminastorage/fastq_folder/ --max-depth 2"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1216,
        -32
      ],
      "id": "523c5992-5bc0-44fa-8118-f5a45508f7c5",
      "name": "Find Conversions"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "a132b128-8698-42e4-bfdc-3528a7c7158c",
              "leftValue": "={{ $json.stdout }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1440,
        -32
      ],
      "id": "7b4def68-7d02-415c-9af3-88b67305c420",
      "name": "Conversion Check"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "conversion_ref"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        784,
        -32
      ],
      "id": "c76c466e-a4d8-481e-b6c6-fddbd591875a",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "lane": "={{ $json.Lane }}",
            "sample_id": "={{ $json.Sample_ID }}",
            "conversion_ref": "={{ $('Select Conversion Ref').item.json.uniqueref }}",
            "reads": "={{ $json['# Reads'] }}"
          },
          "matchingColumns": [
            "conversion_ref",
            "sample_id",
            "lane"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_ref",
              "displayName": "conversion_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sample_id",
              "displayName": "sample_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index_ref",
              "displayName": "index_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "lane",
              "displayName": "lane",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reads_target",
              "displayName": "reads_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "bdsnumber",
              "displayName": "bdsnumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "kit_ref",
              "displayName": "kit_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "requesting_caresite_ref",
              "displayName": "requesting_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "performing_caresite_ref",
              "displayName": "performing_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "reads",
              "displayName": "reads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "sample_project",
              "displayName": "sample_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2480,
        -48
      ],
      "id": "d5a62dc4-f488-44a6-8b0e-51b9dec251f9",
      "name": "Insert or update rows in a table",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n    conv.*,\n    c.concept_name AS \"workflowType\"\nFROM conversions conv\nINNER JOIN runs r ON conv.run_ref = r.uniqueref\nINNER JOIN concepts c ON r.workflow_concept_ref = c.uniqueref\nWHERE conv.uniqueref = {{ $json.conversion_ref }}",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1008,
        -32
      ],
      "id": "fc96a8d6-4fc7-4628-ad6b-0204764a4131",
      "name": "Select Conversion Ref",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "indices",
          "mode": "list",
          "cachedResultName": "indices"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2832,
        -368
      ],
      "id": "d37cc42c-7c5f-4c59-8c96-7dffdf49a349",
      "name": "Pull Indices DB",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3552,
        -96
      ],
      "id": "ed666368-7ffe-4408-a98e-ed198f75ba61",
      "name": "Add Index Ref"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "270cb46f-c225-426c-a0ad-1df53dd42414",
              "name": "conversion_ref",
              "value": "={{ $('Check and Update Conversion Record').item.json.conversion_ref }}",
              "type": "string"
            },
            {
              "id": "81d50cc5-77fa-4603-b76c-1be1fdc9562c",
              "name": "lane",
              "value": "={{ $json.Lane }}",
              "type": "string"
            },
            {
              "id": "001804c9-87ab-4a44-b2bc-1b6dbff3dbb0",
              "name": "sample_id",
              "value": "={{ $json.Sample_ID }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3184,
        -128
      ],
      "id": "758baa95-c80c-477b-a193-72090c0a2d9e",
      "name": "Add Conversion Ref"
    },
    {
      "parameters": {
        "mode": "combineBySql",
        "query": "SELECT \n    input2.*,\n    prepared_map.care_site_ref AS performing_care_site_ref,\n    requested_map.care_site_ref AS requesting_caresite_ref\nFROM input2\nLEFT JOIN input1 AS prepared_map\n    ON input2.Prepared_By = prepared_map.care_site_source_value\nLEFT JOIN input1 AS requested_map\n    ON input2.Requested_By = requested_map.care_site_source_value",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4720,
        -96
      ],
      "id": "92cbdd61-5cb9-49b7-94d2-2a3471a1dbbd",
      "name": "Merge Care Sites"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "care_site_mapping",
          "mode": "list",
          "cachedResultName": "care_site_mapping"
        },
        "returnAll": true,
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        4336,
        -320
      ],
      "id": "2e8a9007-6e29-4218-ae45-c4a65628235b",
      "name": "Pull Care Sites",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "source_value",
              "field2": "Library_Prep_Kit"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        4144,
        -96
      ],
      "id": "7c579429-be53-4b35-9997-16eebb01f3ea",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "kits_mapping",
          "mode": "list",
          "cachedResultName": "kits_mapping"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "platform_concept_ref",
              "value": "112"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3760,
        -320
      ],
      "id": "1c784126-bc4d-4875-98a9-5e7f85483e0b",
      "name": "Pull Kits Mapping",
      "executeOnce": true,
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "3dd7bc67-998a-4ca0-9182-ee69946963cc",
              "leftValue": "={{ $json.requesting_caresite_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "e4f1ac79-6562-4c57-ad56-d8f0fcb80273",
              "leftValue": "={{ $json.kits_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "1f072c34-f888-4868-84f6-af70df219b7f",
              "leftValue": "={{ $json.index_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "07d1a8a2-1348-4d84-8d87-eb5d7ff23964",
              "leftValue": "={{ $json.Sample_ID }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "b09c6ef5-1a61-49f4-a7ca-d36501bda117",
              "leftValue": "={{ $json.performing_care_site_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "80c8950f-5d78-4b15-b252-b12922cecce3",
              "leftValue": "={{ $json.Sample_Project }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "5dd70cd5-b29f-404c-b8e1-5723163b1350",
              "leftValue": "={{ $json.Lane }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "756c1db3-d2db-47ab-b261-2753274611e7",
              "leftValue": "={{ $json['# Reads'] }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "a0f75890-f05b-4872-bf23-da071aab118e",
              "leftValue": "={{ $json.conversion_ref }}",
              "rightValue": "",
              "operator": {
                "type": "number",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        4992,
        -96
      ],
      "id": "72b57bf0-3aae-445f-9673-7703b727fd4d",
      "name": "Unvalidated Samples?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10b1b3ff-9e94-401a-a165-f39211952796",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": "={{ $('Merge Care Sites').all().length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        5248,
        -96
      ],
      "id": "38eb6f3b-572d-4652-ac81-ac60c4b5098c",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "reads",
          "mode": "list",
          "cachedResultName": "reads"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "conversion_ref": "={{ Number($json.conversion_ref) }}",
            "index_ref": "={{ $json.index_ref }}",
            "reads_target": "={{ Number($json.SE_Reads) }}",
            "requesting_caresite_ref": "={{ $json.requesting_caresite_ref }}",
            "performing_caresite_ref": "={{ $json.performing_care_site_ref}}",
            "reads": "={{ $json[\"# Reads\"] }}",
            "lane": "={{ Number($json.lane) }}",
            "sample_id": "={{ $json.Sample_ID }}",
            "bdsnumber": "={{ $json.BDS_Number }}",
            "kit_ref": "={{ $json.kits_ref }}",
            "sample_project": "={{ $json.Sample_Project }}"
          },
          "matchingColumns": [
            "sample_id",
            "conversion_ref",
            "lane"
          ],
          "schema": [
            {
              "id": "uniqueref",
              "displayName": "uniqueref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "conversion_ref",
              "displayName": "conversion_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sample_id",
              "displayName": "sample_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "index_ref",
              "displayName": "index_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "lane",
              "displayName": "lane",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "reads_target",
              "displayName": "reads_target",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "bdsnumber",
              "displayName": "bdsnumber",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "kit_ref",
              "displayName": "kit_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "requesting_caresite_ref",
              "displayName": "requesting_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "performing_caresite_ref",
              "displayName": "performing_caresite_ref",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "reads",
              "displayName": "reads",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            },
            {
              "id": "sample_project",
              "displayName": "sample_project",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        5520,
        -96
      ],
      "id": "73348689-7a5b-4e01-a8c9-d24fa95968b1",
      "name": "Update Reads",
      "credentials": {
        "postgres": {
          "id": "vvzB2Z8ymgMiekHW",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "uniqueref",
              "newKey": "index_ref"
            },
            {
              "currentKey": "kit_ref",
              "newKey": "index_kit_ref"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3152,
        -368
      ],
      "id": "84f6a553-ffa0-4534-b8be-5b50853a3f24",
      "name": "Rename Keys"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "uniqueref",
              "newKey": "kit_ref"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3968,
        -320
      ],
      "id": "56b832cc-f8c3-4ca9-8df3-14f9da53ed06",
      "name": "Rename Keys1"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "uniqueref",
              "newKey": "caresite_ref"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        4528,
        -320
      ],
      "id": "889f1354-2d24-4405-b9ff-89d02e0cba29",
      "name": "Rename Keys2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b06200da-561f-40fb-b822-4d2d22d55a73",
              "name": "i7_sequence",
              "value": "={{ $('Pull Indices DB').item.json.i7_sequence.slice(0, 8) }}",
              "type": "string"
            },
            {
              "id": "d11f63bf-2806-4c37-98b7-d33b3adb962e",
              "name": "i5_sequence",
              "value": "={{ $('Pull Indices DB').item.json.i5_sequence.slice(0, 8) }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2976,
        -368
      ],
      "id": "5a021f01-b5d2-43d5-8f10-b54edfcec517",
      "name": "Trim Indices"
    },
    {
      "parameters": {
        "mode": "combine",
        "advanced": true,
        "mergeByFields": {
          "values": [
            {
              "field1": "i7_sequence",
              "field2": "index"
            },
            {
              "field1": "i5_sequence",
              "field2": "index2"
            }
          ]
        },
        "joinMode": "enrichInput2",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        3328,
        -240
      ],
      "id": "cd2d394d-9205-42ad-93a0-fcce32a4abce",
      "name": "Add 8bp Index Ref"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "842e0892-a8f0-4ede-bc3b-53bec07f59b5",
              "leftValue": "={{ $json.index.length() }}",
              "rightValue": 8,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3056,
        96
      ],
      "id": "af5ea870-222e-4d7f-8131-48cee3fdf188",
      "name": "Is i7 Index 8 bp"
    },
    {
      "parameters": {
        "keys": {
          "key": [
            {
              "currentKey": "Index",
              "newKey": "index"
            }
          ]
        },
        "additionalOptions": {}
      },
      "type": "n8n-nodes-base.renameKeys",
      "typeVersion": 1,
      "position": [
        3248,
        304
      ],
      "id": "71958dd2-e764-4c72-a3ca-3743952ed878",
      "name": "Rename Keys3",
      "disabled": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "b3d80e23-debc-448a-81ca-d7c9977588a5",
              "leftValue": "={{ $json.Lane }}",
              "rightValue": "999",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        3168,
        -144
      ],
      "id": "ea079937-181d-4afc-bde0-936de889f962",
      "name": "Filter",
      "alwaysOutputData": false
    }
  ],
  "connections": {
    "Extract Demux": {
      "main": [
        [
          {
            "node": "Parse Demux",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Demux": {
      "main": [
        [
          {
            "node": "Merge Demux and SampleSheet",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract SampleSheet": {
      "main": [
        [
          {
            "node": "Parse SampleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse SampleSheet": {
      "main": [
        [
          {
            "node": "Merge Demux and SampleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Demux and SampleSheet": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Conversions": {
      "main": [
        [
          {
            "node": "Conversion Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversion Check": {
      "main": [
        [
          {
            "node": "Extract Demux",
            "type": "main",
            "index": 0
          },
          {
            "node": "Extract SampleSheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Select Conversion Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Conversion Ref": {
      "main": [
        [
          {
            "node": "Find Conversions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Indices DB": {
      "main": [
        [
          {
            "node": "Trim Indices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Conversion Ref": {
      "main": [
        [
          {
            "node": "Rename Keys3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Index Ref": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          },
          {
            "node": "Pull Kits Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Care Sites": {
      "main": [
        [
          {
            "node": "Rename Keys2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Merge Care Sites",
            "type": "main",
            "index": 1
          },
          {
            "node": "Pull Care Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pull Kits Mapping": {
      "main": [
        [
          {
            "node": "Rename Keys1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Care Sites": {
      "main": [
        [
          {
            "node": "Unvalidated Samples?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Unvalidated Samples?": {
      "main": [
        [],
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Update Reads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys": {
      "main": [
        [
          {
            "node": "Add 8bp Index Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys2": {
      "main": [
        [
          {
            "node": "Merge Care Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trim Indices": {
      "main": [
        [
          {
            "node": "Rename Keys",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add 8bp Index Ref": {
      "main": [
        [
          {
            "node": "Add Index Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is i7 Index 8 bp": {
      "main": [
        [
          {
            "node": "Pull Indices DB",
            "type": "main",
            "index": 0
          },
          {
            "node": "Add 8bp Index Ref",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "Add Index Ref",
            "type": "main",
            "index": 1
          },
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rename Keys3": {
      "main": [
        [
          {
            "node": "Is i7 Index 8 bp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "Add Index Ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "conversion_ref": "305"
        }
      }
    ]
  },
  "versionId": "8598eacf-2f8f-41b3-ae59-544530291ce3",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2025-12-20T08:27:11.838Z",
      "createdAt": "2025-12-20T08:27:11.838Z",
      "role": "workflow:owner",
      "workflowId": "ZCR88Eupzp3GBpO3",
      "projectId": "wmZSbmn0RiQYcSpN"
    }
  ],
  "tags": []
}